:root {
    --color-purple-light-1: hsl(256deg 60% 85%);
}
#components-badge--docs {
    &,
    :has(> &) {
        background: var(--color-purple-light-1);
    }
}

[data-selected="true"],
[data-selected="true"] *,
[data-selected="true"] *:hover {
    background: var(--color-purple-light-1)!important;
    box-shadow: none!important;
}
