:root {
    --color-purple-light-1: hsl(256deg 60% 85%);
    --color-purple: hsl(256deg 70% 55%);
}
/* #components-badge--docs {
    &,
    :has(> &) {
        background: var(--color-purple-light-1);
        &, & svg {
            color: black;
        }
    }
} */

.sidebar-container {
    .sidebar-item {
        --tree-node-background-hover: hsl(256deg 60% 90%)!important;
    }
    [data-selected="true"],
    [data-selected="true"] *,
    [data-selected="true"] *:hover {
        background: var(--color-purple-light-1)!important;
        background: var(--color-purple)!important;
        box-shadow: none!important;
        outline: none;
    }
    [data-selected="true"] {
        border-radius: 10px;
        @supports (corner-shape: squircle) {
            border-radius: 50px;
            corner-shape: squircle;
        }
    }
}
