<div class="btn-group">
    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ translate('cp.user_options') }}&nbsp; <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li>
          <a href="" @click.prevent="sendResetEmail">
            {{ status == 'pending' ? translate('cp.send_activation_email') : translate('cp.send_password_reset_email') }}
          </a>
        </li>
        <li v-if="can('super')">
          <a href="" @click.prevent="copyResetLink">
            {{ status == 'pending' ? translate('cp.copy_activation_link') : translate('cp.copy_password_reset_link') }}
          </a>
        </li>
    </ul>
</div>
