* text=auto
*.php eol=lf
/.github export-ignore
/tests export-ignore
.babelrc export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.travis.yml export-ignore
CONTRIBUTING.md export-ignore
jest.config.js export-ignore
phpunit.bat export-ignore
phpunit.xml.dist export-ignore
SECURITY.md export-ignore
translator export-ignore
