.idea
.vscode
/vendor
node_modules
.DS_Store
.phpunit.result.cache
.phpunit.cache
.php-cs-fixer.cache
tests/Fakes/Composer/Package/test-package/composer.json
resources/dist
resources/dist-dev
resources/dist-frontend
resources/js/package/types
composer.lock
.env
bundle-stats.html
