includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 0
    paths:
        - src

    ignoreErrors:
        -
            identifier: class.notFound
            message: '#^(Class|Instantiated class) Spatie\\LaravelIgnition\\Exceptions\\(ViewException|ViewExceptionWithSolution) not found\.$#'
            path: src/View/Antlers/Language/Runtime/RuntimeParser.php
