/* ==========================================================================
   ASSETS FIELDTYPE
   ========================================================================== */

.assets-fieldtype .assets-fieldtype-drag-container {
    position: relative;
}

.assets-fieldtype .assets-fieldtype-picker {
    @apply flex flex-wrap items-center rounded border bg-gray-200 px-4 py-2 dark:border-dark-900 dark:bg-dark-650;

    &.is-expanded {
        @apply rounded-b-none border-b-0;
    }

    .asset-upload-control {
        @apply text-xs leading-tight text-gray-600;
    }

    .upload-text-button {
        @apply whitespace-nowrap text-blue underline;
        &:hover {
            @apply text-blue-800;
        }
    }
}

.assets-fieldtype .drag-drop-text {
    @apply text-gray-700 dark:text-dark-175 ltr:ml-1 rtl:mr-1;
}

.assets-fieldtype .asset-upload-control {
    @apply inline-block;
}

/* Inside a Grid
  ========================================================================== */

.grid-fieldtype .assets-fieldtype-picker {
    @apply rounded-none border-none bg-transparent p-0;
}

/* In a Grid fieldtype
  ========================================================================== */

.grid-fieldtype .grid-table .assets-fieldtype {
    .asset-table-listing tbody tr td {
        padding: 4px;
    }
}

/* In a Bard fieldtype
  ========================================================================== */

.bard-set-solo .asset-tile {
    max-width: none;
    padding: 0;
}

.bard-set-solo .assets-fieldtype label {
    display: none;
}

/*  Only show the trash button when its a solo field. */
/*  Probably better as a template condition but difficult at the moment. */
.assets-fieldtype .delete-bard-set {
    display: none;
    .bard-set-solo & {
        display: block;
    }
}
