/* BARD
=================================================== */
@layer ui {
    .bard-fieldtype:not(.form-group) {
        @apply relative rounded-lg border outline-hidden dark:border-gray-600;
    }
}
/* BARD / EDITOR
=================================================== */
@layer ui {
    .bard-editor {
        @apply relative rounded-sm p-0 text-gray-900 dark:bg-gray-900 dark:text-gray-100;
        /* The focus state inherits this */
        > * {
            @apply rounded-b-lg;
        }
        .ProseMirror {
            @apply min-h-40 p-2 leading-tight;
            @apply leading-normal @md/bard:p-2;
            @apply @lg/bard:p-4;
        }
        .bard-error {
            @apply whitespace-nowrap bg-red-100 p-2 text-xs text-red-500 @lg:px-4;
        }
    }
}
/* BARD / MODES
=================================================== */
@layer ui {
    .bard-editor.mode\:read-only .ProseMirror {
        @apply bg-gray-300 text-gray-700 dark:bg-gray-600 dark:text-gray-100;
    }

    .bard-editor.mode\:minimal .ProseMirror {
        min-height: 80px;
    }

    .bard-editor.mode\:inline .ProseMirror {
        @apply p-2;
        min-height: 38px;
        p {
            @apply mb-0 leading-normal;
        }
    }
}
/* BARD / MODES / FIXED
=================================================== */
@layer ui {
    .bard-fixed-toolbar {
        @apply top-0 z-5 flex items-start justify-between rounded-t-xl border-b border-gray-300 bg-gray-50 p-1 text-sm shadow-none px-2 py-1 dark:border-white/10 dark:bg-gray-900;

        .bard-toolbar-button {
            @apply m-0 flex size-8 items-center justify-center rounded-sm px-1 text-center text-base text-gray-900 dark:text-gray-100;
            svg {
                @apply h-4 w-auto;
            }
        }

        .bard-toolbar-button:hover {
            @apply bg-gray-200 dark:bg-gray-600;
        }

        .bard-toolbar-button.active {
            @apply bg-gray-300 text-black dark:bg-gray-600 dark:text-white;
        }

        .bard-toolbar-button:focus {
            @apply focus-outline;
        }

        .bard-toolbar-button:disabled {
            @apply opacity-50;
            &:hover {
                @apply text-gray-900 dark:text-gray-100;
            }
        }

        .active {
            @apply button-active;
            svg {
                @apply text-black;
            }
        }

        /* e.g. the blueprint configuration */
        &.dark {
            @apply rounded-full bg-gray-900 px-4 shadow-lg;

            button {
                @apply mx-0.5 my-0 flex size-8 items-center justify-center rounded-sm bg-transparent px-1 text-center text-base text-gray-500;
                svg {
                    @apply h-4 w-auto;
                }
            }

            button.active svg {
                @apply text-white;
            }
        }
    }

    /* Only top-level Bard fields should have a sticky header */
    .workspace .publish-fields:not(.replicator-set-body) > .bard-fieldtype .bard-fixed-toolbar,
    .live-preview .publish-fields:not(.replicator-set-body) > .bard-fieldtype .bard-fixed-toolbar {
        @apply sticky;
    }

    /*  Fixed toolbar inside another bard field */
    .bard-fieldtype .bard-fieldtype .bard-fixed-toolbar {
        z-index: 4;
        top: 40px;
    }

    /*  Fixed toolbar inside a stack */
    .stack-content .bard-fixed-toolbar {
        top: -24px;
    }

    /*  Responive Wangjangling */
    @media (width >= theme(--breakpoint-md)) {
        /*  Fixed toolbar below fixed global header */
        .bard-fixed-toolbar {
            top: 52px;
        }
        .bard-fieldtype .bard-fieldtype .bard-fixed-toolbar {
            top: 92px;
        }

        /*  Fixed toolbar inside a stack */
        .stack-content .bard-fieldtype .bard-fieldtype .bard-fixed-toolbar {
            top: 16px;
        }

        /* We don't need the `top` when in Live Preview */
        .live-preview .bard-fixed-toolbar {
            top: 0;
        }
    }
}
/* BARD / MODES / FLOATING
=================================================== */
@layer ui {
    .bard-floating-toolbar {
        @apply flex rounded-full bg-black px-0 shadow-lg whitespace-nowrap;

        &:before {
            content: '';
            border: 6px solid transparent;
            border-top-color: black;
            position: absolute;
            top: 100%;
            left: 50%;
            [dir='rtl'] & {
                left: auto;
                right: 50%;
            }
            margin-left: -3px;
        }

        .bard-toolbar-button {
            @apply flex size-10 items-center justify-center rounded-lg bg-black text-center text-gray-200;
            font-size: 16px;
            transition: all 0.1s ease-in-out;
            svg {
                @apply size-4;
            }
        }

        .bard-toolbar-button:hover {
            @apply text-white;
        }

        .bard-toolbar-button.active {
            @apply text-blue-700;
        }

        .bard-toolbar-button:focus {
            outline: none;
        }

        .bard-toolbar-button:disabled {
            @apply opacity-50;
            &:hover {
                @apply text-gray-200;
            }
        }
    }

    .bard-add-set-button {
        @apply absolute top-[-6px] z-1 flex items-center justify-center -start-4;
    }

    .bard-footer-toolbar {
        @apply flex items-center justify-between rounded-b border-t bg-white p-2 text-xs text-gray-700 shadow-none dark:border-dark-300 dark:bg-dark-550 dark:text-dark-175;
        padding: 8px 12px;

        .bard-fullscreen & {
            @apply sticky bottom-0 z-10;
        }
    }

    .bard-set:active .sortable-handle:hover ~ * .popover {
        display: none;
    }

    .bard-set.has-error > .replicator-set-header label {
        @apply text-red-500;
    }
}

/* The set selection options for each text block
  ========================================================================== */
@layer ui {
    .bard-set-selector {
        /*  transition: all .15s ease-in-out; */

        .dropdown-menu {
            left: -5px;
            [dir='rtl'] & {
                left: auto;
                right: -5px;
            }
            right: auto;
            [dir='rtl'] & {
                right: auto;
                left: auto;
            }
        }
    }

    .set-picker .popover .popover-content {
        min-width: 320px !important;
    }
}
/* Fullscreen mode
   ========================================================================== */
@layer ui-states {
    .bard-fullscreen {
        @apply fixed inset-0 min-h-screen overflow-scroll rounded-none bg-gray-100 pt-14 dark:bg-gray-900;

        & > .bard-editor {
            @apply relative mx-auto my-6 max-w-5xl rounded-lg bg-white px-8 shadow-ui-md dark:bg-gray-800 dark:shadow-lg;
        }

        .bard-fixed-toolbar {
            padding: 7px 8px;
            top: 0;
            background: unset;
            border: unset;

            button {
                @apply mx-1;
            }
        }

        & > .bard-editor > div > .ProseMirror {
            @apply px-6 py-16;
            min-height: calc(100vh - 120px);
        }

        .bard-content:not(.bard-set *) > {
            p > code,
            pre code {
                @apply bg-purple-100;
            }
        }

        .bard-set-selector {
            @apply ms-6;
        }

        .bard-field-options {
            @apply fixed inset-x-0 top-0 w-full bg-gray-700 p-4 text-end z-1;

            .icon {
                font-size: 24px;
            }

            a {
                @apply ms-4 text-white opacity-100;
            }
        }
    }
}

/* Typography
   -
   Selectors are specific so they don't cascade into the sets, which
   all sit inline within the rest of the elements.
   ========================================================================== */
@layer ui {
    .bard-fieldtype .ProseMirror {
        outline: 0;
    }

    .bard-fieldtype .bard-content {
        @apply text-gray-600 dark:text-gray-300;
        blockquote,
        ol,
        p,
        ul {
            margin-top: 0;
            margin-bottom: 0.85em;

            b,
            strong {
                @apply font-bold text-gray-800;
            }

            em,
            i {
                font-style: italic;
            }

            a {
                @apply break-words text-blue-600 underline dark:text-dark-blue-100;
            }

            a:active,
            a:focus,
            a:hover {
                outline: 0;
                text-decoration: underline;
            }

            img {
                border: 0;
                max-width: 100%;
            }
        }

        blockquote,
        blockquote ol li,
        blockquote ul li,
        ol li,
        ul li {
            > p {
                @apply mb-0;
            }
        }

        hr {
            @apply bg-gray-200 dark:bg-gray-500 h-0.75 border-0 my-8;
        }

        hr:after,
        hr:before {
            display: table;
            content: ' ';
        }

        hr:after {
            clear: both;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            @apply mt-3.5 mb-2 font-bold text-gray-900 dark:text-gray-100;

            b,
            strong {
                @apply font-bold;
            }

            a {
                @apply break-words text-blue-700 underline dark:text-blue-100;
            }

            a:active,
            a:focus,
            a:hover {
                outline: 0;
                text-decoration: underline;
            }
        }

        h1 { @apply text-3xl; }
        h2 { @apply text-2xl; }
        h3 { @apply text-xl; }
        h4 { @apply text-base; }
        h5 { @apply text-sm; }
        h6 { @apply text-2xs uppercase text-gray-800 dark:text-gray-500 tracking-wider; }

        h1:first-child,
        h2:first-child,
        h3:first-child,
        h4:first-child,
        h5:first-child,
        h6:first-child {
            margin-top: 0;
        }

        ul,
        blockquote ul,
        .tableWrapper table ul {
            list-style-type: disc;
        }

        ol,
        blockquote ol,
        .tableWrapper table ol {
            list-style-type: decimal;
        }

        ol,
        ul,
        blockquote ol,
        blockquote ul {
            @apply ms-4 ps-4;
        }

        .tableWrapper table ol,
        .tableWrapper table ul {
            @apply ms-4 ps-4;
        }

        ol ol,
        ol ul,
        ul ol,
        ul ul {
            @apply ms-4 ps-4 my-0;
        }

        ul ul {
            list-style-type: circle;
        }

        ol ol {
            list-style-type: decimal;
        }

        ul ol {
            list-style-type: decimal;
        }

        ol ul {
            list-style-type: circle;
        }

        blockquote {
            @apply border-gray-900 dark:border-gray-100 px-4 text-gray-900 dark:text-gray-100 border-s-4 ms-1;
        }

        blockquote:first-child {
            margin-top: 0;
        }

        blockquote:last-child {
            margin-bottom: 0;
        }

        .tableWrapper table,
        blockquote > .tableWrapper table,
        ol li > .tableWrapper table,
        ul li > .tableWrapper table {
            @apply m-0 mb-4 w-full overflow-hidden bg-white text-sm dark:bg-dark-500 border-collapse table-fixed;

            th {
                @apply bg-gray-200 font-bold dark:bg-gray-600 text-start;
            }

            td,
            th {
                @apply relative border px-2 py-1 align-top dark:border-gray-600;
                min-width: 1em;
            }

            .selectedCell {
                @apply relative;

                &:after {
                    @apply pointer-events-none absolute inset-0 bg-gray-400 opacity-25 dark:bg-gray-600;
                    content: '';
                }
            }

            a {
                @apply break-words text-blue-700 underline dark:text-blue-100;
            }

            a:active,
            a:focus,
            a:hover {
                outline: 0;
                text-decoration: underline;
            }
        }

        p > code {
            @apply rounded-sm bg-purple-100 dark:bg-blue-900 text-purple-700 dark:text-blue-100 font-mono text-xs px-1 py-0.5;
        }

        pre {
            @apply mb-2;
        }

        pre code {
            @apply block w-full rounded-lg bg-gray-200 p-4 font-mono text-xs dark:bg-black dark:text-gray-100 leading-normal mb-4;
        }
    }
}

/* Placeholder
========================================================================== */
@layer ui {
    .bard-fieldtype .ProseMirror > p.is-editor-empty:first-child::before {
        @apply text-gray-600 dark:text-gray-400 float-start h-0 pointer-events-none;
        content: attr(data-placeholder);
    }
}

/* Link toolbar
  ========================================================================== */
@layer ui {
    .bard-link-toolbar {
        .input {
            @apply h-8 border-none bg-transparent p-0 text-xs shadow-none outline-none w-60;
        }

        .bard-toolbar-button {
            @apply p-0 text-gray-700 outline-hidden;
            font-size: 16px;

            &:hover {
                @apply text-gray-900;
            }
        }
    }

    .bard-inline-image-container {
        @apply relative mb-6 whitespace-normal rounded-sm border bg-white dark:border-gray-600 dark:bg-gray-900 hover:cursor-grab;
    }
}

/* Bard Table
  ========================================================================== */
@layer ui {
    .bard-fieldtype .ProseMirror {
        &.resize-cursor {
            @apply cursor-col-resize;
        }

        .tableWrapper {
            @apply overflow-x-auto;
        }

        table .column-resize-handle {
            @apply pointer-events-none absolute bottom-0 top-0 bg-blue-200 w-0.5 right-[-2px];
        }
    }
}
