/* Vertical alignment of btn groups when overflowing
  ========================================================================== */

.button-group-fieldtype-wrapper .btn-group:not(.btn-vertical) {
    @apply flex-wrap;
}

.btn-group.btn-vertical {
    @apply h-auto flex-col items-stretch justify-start p-0;

    button {
        @apply rounded-none border-b border-l border-r border-t-0;
        height: 2.375rem; /*  38px */
    }

    :is(.btn-group button:not(:last-child):not(.active)) {
        @apply border-l border-r;
    }

    button.active + button {
        @apply border-l border-r;
    }

    button:first-child {
        @apply rounded-b-none rounded-t border-t;
    }

    button:last-child {
        @apply rounded-b rounded-t-none border-b;
    }
}
