/* Vertical alignment of btn groups when overflowing
  ========================================================================== */

.button-group-fieldtype-wrapper .btn-group:not(.btn-vertical) {
    @apply flex-wrap;
}

.btn-group.btn-vertical {
    @apply h-auto flex-col items-stretch justify-start p-0;

    button {
        @apply rounded-none border-t-0 border-r border-b border-l;
        height: 2.375rem; /*  38px */
    }

    :is(.btn-group button:not(:last-child):not(.active)) {
        @apply border-r border-l;
    }

    button.active + button {
        @apply border-r border-l;
    }

    button:first-child {
        @apply rounded-t rounded-b-none border-t;
    }

    button:last-child {
        @apply rounded-t-none rounded-b border-b;
    }
}
