.code-fieldtype-container {
    direction: ltr;
}

.code-fieldtype-toolbar {
    @apply bg-white shadow-none rounded-t border border-b-0 text-sm flex flex-wrap items-center justify-end gap-2;
    padding: 4px 8px;

    [dir='rtl'] & {
        direction: rtl;
    }
}

.code-fieldtype-toolbar select {
    @apply h-8 text-sm leading-none;
}


.code-fieldtype-container.code-fullscreen {
    @apply fixed bg-gray-200 inset-0 min-h-screen overflow-scroll rounded-none pt-12;

    .code-fieldtype-toolbar {
        @apply fixed z-2 top-0 w-full px-6 py-2 h-12 shadow text-base rounded-none bg-gradient-to-b from-white to-gray-100;
    }
}
