.code-fieldtype-container {
    @apply relative;

    .code-mode-picker {
        @apply z-10 right-0 uppercase absolute outline-none shadow-none;
        right: 0;

        select {
            @apply text-white w-auto text-2xs p-2 text-right;
            opacity: .5;
            background: none;
            border: none;
            &:focus {
                @apply outline-none shadow-none text-blue-300;
            }
        }
        select:hover:not(:disabled) {
            @apply text-white opacity-100;
            background: none;
            border: none;
        }
        .select-input-toggle {
            display: none;
        }
    }
}

.CodeMirror-fullscreen {
    @apply fixed inset-0 h-auto z-10 rounded-none;
}

.CodeMirror-fullscreen-container {
    .global-header {
        display: none;
    }

    #MainTabPanel .publish-fields.\@container {
        @apply fixed inset-0 z-20;
        container-type: initial;

        .code-mode-picker {
            @apply fixed top-0 z-20;
        }
    }
}
