/* ==========================================================================
   DATE & TIME FIELDTYPES
   ========================================================================== */

.daterange {
	outline: none;
	width: 100%;
	.icon-remove { right: 32px ; [dir="rtl"] & { right: auto ; left: 32px ; } }

    .dr-calendar { max-width: 250px; }

    .dr-active, .dr-input {
        z-index: 1;
    }
}

.datetime .icon-remove, .time-fieldtype .icon-remove {
	cursor: pointer;
	background: rgba(0, 0, 0, 0.1);
	font-size: 15px;
	line-height: 1;
	padding: 0 4px 2px;
	border-radius: 50%;
	color: #777;
    height: 18px;
    width: 18px;
    margin-right: 8px ; [dir="rtl"] & { margin-left: 8px ; margin-right: 0 ; }
	text-shadow: 0 1px 1px #FFF;
}

.daterange--single .dr-input .dr-dates {
    min-width: 60px;
}

.date-time-container {
	@apply flex;
}

/* VCalendar dark mode background */
.vc-container, .vc-date-picker-content {
    @apply dark:bg-dark-500 dark:border-dark-700;
}

/* VCalendar dark mode year/month popover */
.vc-nav-popover-container {
    @apply dark:bg-dark-700 dark:border-dark-900;
}

/* Time Field
  ========================================================================== */

.time-fieldtype {
	.time-fieldtype-container {
		@apply flex items-center;
		min-width: max-content;
	}

	.input-time {
		@apply inline-block text-center bg-transparent;
		-moz-appearance: textfield;
		width: 26px;

		&:active, &:focus {
			outline: none;
		}
	}

	.colon {
		@apply select-none;
		margin: 0 -2px;
	}

	input::-webkit-inner-spin-button,
	input::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}


/* Inside a Grid field
  ========================================================================== */

.grid-mode-table .date-fieldtype {
    .daterange .icon {
        top: 8px;
    }

    .btn.add-time { top: 8px; }

    .dr-input { border: 0 !important; }

    .colon {
        background: #fff;
        margin: 0;
        padding: 8px 5px;
    }
}
