.dictionary_fields-fieldtype {
    @apply p-0;

    .publish-fields {
        @apply w-full;
    }

    .config-field {
        @apply dark:border-dark-900 w-full flex-wrap border-b border-gray-400 md:flex;
        @apply m-0 p-3 @sm:p-4;

        .field-inner {
            @apply w-full md:w-1/2 md:ltr:pr-8 md:rtl:pl-8;
        }

        .field-inner + div {
            @apply w-full md:w-1/2;
        }
    }
}
