/* ==========================================================================
   ENVIRONMENT FIELDTYPE
   ========================================================================== */

// @TODO: Remove dependency on .input-text, use a standard grey.

.environment-field {
    // @extend .input-text;
    // color: #bbb;
    cursor: not-allowed;

    .icon {
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        &:before {
            top: 1px;
        }
    }
}
