/* ==========================================================================
   ENVIRONMENT FIELDTYPE
   ========================================================================== */

.environment-field {
    cursor: not-allowed;

    .icon {
        display: inline-block;
        vertical-align: middle;
        margin-inline-end: 5px;
        &:before {
            top: 1px;
        }
    }
}
