/* ==========================================================================
   ENVIRONMENT FIELDTYPE
   ========================================================================== */

.environment-field {
    cursor: not-allowed;

    .icon {
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        [dir='rtl'] & {
            margin-left: 5px;
            margin-right: 0;
        }
        &:before {
            top: 1px;
        }
    }
}
