/* ==========================================================================
   Grid Fieldtype
   ========================================================================== */

.grid-table {
    @apply relative w-full rounded-lg border text-gray shadow-ui-sm outline-hidden dark:border-dark-900 dark:text-dark-150 text-start;
    border-collapse: separate;
    border-spacing: 0;
    table-layout: auto;
}

.grid-table thead th {
    @apply sticky table-cell z-10 border-b bg-gray-50 p-2 text-sm font-medium text-gray-900 dark:border-dark-900 dark:bg-gray-800 dark:text-gray-100;
    top: -1px;

    &:first-child {
        @apply rounded-ss-lg ps-3;
    }

    &:last-child {
        @apply rounded-se-lg border-s-0;
    }
}

.stack-container .grid-table thead th {
    top: auto;
}

.grid-table > tbody {
    @apply outline-hidden;

    > tr {
        @apply outline-hidden;
    }

    > tr > td {
        @apply border-b px-2 py-3 align-top dark:border-dark-900;

        &:first-child.grid-cell {
            @apply ltr:pl-3 rtl:pr-3;
        }

        &.drag-handle {
            @apply h-full p-2 cursor-grab hover:bg-gray-100 dark:hover:bg-gray-700 border-e border-transparent hover:border-e-gray-200 dark:hover:border-e-gray-600;
            width: 1%;
            background: url('../../../svg/ui/drag-dots.svg') center center no-repeat;
            background-size: 7px 17px;
        }
    }

    tr:last-child td {
        @apply border-b-0;
        &:first-child {
            @apply ltr:rounded-bl rtl:rounded-br;
        }
        &:last-child {
            @apply ltr:rounded-br rtl:rounded-bl;
        }
    }

    tr.draggable-source--is-dragging td {
        @apply bg-gray-100;
    }

    .grid-cell [data-ui-field-header] {
        @apply hidden;
    }
}

.grid-table tbody .grid-row-controls {
    @apply text-center ltr:pl-0 rtl:pr-0;
    width: 1%;
    padding-top: 21px; /*  pseudo-center for text/select fields */
}

.grid-item-header {
    @apply flex cursor-move items-center justify-between border-b bg-gray-200 px-4 py-2 text-sm outline-hidden;
}

.grid-fullscreen {
    @apply fixed inset-0 min-h-screen overflow-scroll rounded-none bg-gray-200;
    z-index: 998; /*  to appear over the top of the rest of the stuff on the page. */
    /*  too high and it'll be over the top of stacks, etc. */
}
