/* ==========================================================================
   MARKDOWN FIELDTYPE
   ========================================================================== */

.markdown-fieldtype-wrapper {
    @apply dark:border-dark-900 relative overflow-hidden rounded-sm border;

    .markdown-toolbar {
        @apply dark:border-dark-900 dark:bg-dark-700 flex flex-wrap items-center justify-between rounded-t border-b bg-white text-sm shadow-none;
        padding: 4px 8px;
    }

    .markdown-buttons {
        @apply flex items-center;
    }

    .markdown-buttons button {
        @apply dark:text-dark-150 flex h-8 w-8 items-center justify-center rounded-sm px-1 text-center text-base text-gray-800;

        &:hover {
            @apply dark:bg-dark-750 bg-gray-200;
        }

        &.active {
            @apply dark:bg-dark-800 dark:text-dark-175 bg-gray-300 text-black;
        }
    }

    .markdown-buttons button:disabled {
        @apply opacity-50;
        &:hover {
            @apply dark:text-dark-200 text-gray-800;
        }
    }

    .markdown-modes {
        @apply flex items-center;

        button {
            @apply dark:text-dark-150 inline-block px-2 py-1 text-gray-700 focus:outline-hidden ltr:mr-1 rtl:ml-1;

            &:hover {
                @apply text-blue;
            }

            &.active {
                @apply dark:bg-dark-800 dark:text-dark-150 rounded-sm bg-blue-100 text-blue-800;
            }
        }
    }

    .CodeMirror {
        @apply dark:bg-dark-650 dark:text-dark-150 h-auto bg-gray-100 px-0 py-1 font-mono text-xs leading-normal shadow-inner @md/markdown:p-3;
        border-radius: 0 0 3px 3px;

        &:focus-within {
            @apply dark:ring-dark-blue-150 ring-2 ring-blue-200 ring-inset;
        }

        .cm-comment {
            @apply font-mono text-sm;
        }
    }

    .CodeMirror-code {
        min-height: 100px;
    }

    .helpers {
        @apply dark:border-dark-900 dark:text-dark-150 flex items-center border-t text-xs text-gray-800;

        button:hover {
            @apply text-blue;
        }
    }

    .markdown-cheatsheet-helper {
        @apply inline-block p-2;
    }

    .markdown-asset-helper {
        @apply inline-block px-4 py-2;
    }
}

/* Dark Mode
  ========================================================================== */

.markdown-fieldtype-wrapper.markdown-fullscreen.markdown-dark-mode,
.dark .markdown-fieldtype-wrapper.markdown-fullscreen {
    @apply border-none bg-gray-800;

    .markdown-toolbar {
        @apply border-b border-gray-950 text-white shadow-lg;
        background: linear-gradient(180deg, var(--color-gray-900), hsl(210, 20%, 13%));
    }

    .editor {
        @apply bg-gray-800 text-gray-200;
        .cm-header {
            @apply text-white;
        }
    }

    .helpers {
        @apply border-t border-gray-950 bg-gray-900 text-white;
    }

    .markdown-buttons button {
        @apply text-gray-400;
    }

    .markdown-buttons button:hover {
        @apply bg-gray-950 text-white;
    }

    .markdown-modes button {
        @apply text-gray-700;
        &.active {
            @apply bg-black text-white;
        }
    }

    .CodeMirror {
        @apply text-white antialiased;
    }

    [class*='cm-'] {
        color: white !important;
    }

    .CodeMirror-cursor {
        border-left: 2px solid white;
    }

    .markdown-preview {
        @apply text-white;
    }
}

/* Read Only
  ========================================================================== */

.markdown-fieldtype.read-only-field .CodeMirror {
    @apply dark:bg-dark-600 dark:text-dark-200 bg-gray-300 text-gray-700;
}

/* Inside a Grid fieldtype
  ========================================================================== */

.grid-fieldtype .grid-table .markdown-fieldtype {
    .markdown-fieldtype-wrapper {
        @apply rounded-sm border;
    }

    .markdown-preview {
        @apply border-none p-2 ltr:text-left rtl:text-right;
        p {
            line-height: 1.2;
        }
    }
}

/* Writing Mode Typography
  ========================================================================== */

.markdown-fieldtype .cm-header {
    @apply dark:text-dark-150 text-gray-800;

    &.cm-header-1 {
        @apply text-lg;
    }

    &.cm-header-2 {
        @apply text-base;
    }

    &.cm-header-3 {
        @apply text-sm;
    }
}

.markdown-fieldtype .cm-quote {
    @apply dark:text-dark-150 text-sm text-gray-800 italic;
}

/* Preview Mode Typography
  ========================================================================== */

.markdown-preview {
    @apply mx-auto px-3 py-2 @md/markdown:px-5 @md/markdown:py-4;

    min-height: 167px;

    ol {
        @apply list-decimal;
    }

    ul {
        @apply list-disc;
    }

    pre {
        @apply dark:bg-dark-700 rounded-sm px-4 py-2 dark:text-red-500;
        color: #c7254e;
        background-color: #f9f2f4;
        direction: ltr;

        code {
            @apply p-0;
        }
    }
}

.markdown-fieldtype-wrapper.markdown-fullscreen {
    @apply fixed inset-0 min-h-screen overflow-scroll rounded-none border-0 bg-gray-200 pt-14;
    /* padding-top: 52px;  offset the nav */
    will-change: transform;

    .markdown-toolbar {
        @apply border-0;
    }

    .mode-wrap {
        height: calc(100vh - 88px); /*  sans toolbars */
        overflow-y: scroll;
        cursor: text;
        &.mode-preview {
            height: calc(100vh - 52px); /*  no footer toolbar */
        }
    }

    .editor {
        @apply relative mx-auto my-6 max-w-5xl rounded-sm bg-white px-2 shadow md:px-8 md:pt-8;

        .CodeMirror-scroll {
            @apply m-0;
        }
    }

    .CodeMirror {
        @apply bg-transparent shadow-none outline-hidden;
        &:focus,
        &:focus-within {
            @apply ring-0!;
        }
    }

    .markdown-preview {
        @apply relative mx-auto max-w-5xl bg-transparent p-8 text-lg;
    }

    .helpers {
        @apply absolute inset-x-0 bottom-0 bg-white;
    }
}
