/* ==========================================================================
   MARKDOWN FIELDTYPE
   ========================================================================== */

.markdown-fieldtype-wrapper {
    @apply border rounded overflow-hidden relative;

    &:focus-within {
        @apply focus-outline;
    }

    .markdown-toolbar {
        @apply bg-white shadow-none rounded-t border-b text-sm flex items-start justify-between;
        padding: 4px 8px;
    }

    .markdown-buttons {
        @apply flex items-center;
    }

    .markdown-buttons button {
        @apply text-gray-800 rounded px-1 flex items-center justify-center text-base text-center;
        height: 32px;
        width: 32px;
        margin: 0 2px;
    }

    .markdown-buttons button:hover {
        @apply bg-gray-200;
    }

    .markdown-buttons button.active {
        @apply bg-gray-300 text-black;
    }

    .markdown-buttons button:focus {
        @apply focus-outline;
    }

    .markdown-buttons button:disabled {
        @apply opacity-50;
        &:hover {
            @apply text-gray-800;
        }
    }

    .markdown-modes {
        @apply ml-2 flex items-center h-full;

        button {
            @apply mr-4 text-gray-500 outline-none h-full;
            padding: 6px 4px;

            &:hover {
                @apply text-blue;
            }

            &.active {
                @apply text-gray-800;
            }

            &:focus {
                @apply focus-outline;
            }
        }
    }

    .CodeMirror {
        @apply bg-gray-100 shadow-inner h-auto font-mono leading-normal p-3 text-xs;
        border-radius: 0 0 3px 3px;

        .cm-comment {
            @apply font-mono text-sm
        }
    }

    CodeMirror-code { min-height: 100px; }

    .helpers {
        @apply border-t text-xs text-gray-800 flex items-center;

        button:hover {
            @apply text-blue;
        }
    }

    .markdown-cheatsheet-helper {
        @apply py-2 px-4 inline-block;
    }

    .markdown-asset-helper {
        @apply py-2 px-4 inline-block;
    }
}


/* Dark Mode
  ========================================================================== */

.markdown-fieldtype-wrapper.markdown-fullscreen.markdown-dark-mode {
    @apply bg-gray-800 border-none;

    .markdown-toolbar {
        @apply text-white border-b border-gray-950 shadow-lg;
        background: linear-gradient(180deg, theme('colors.gray.900'), hsl(210, 20%, 13%));
    }

    .helpers {
        @apply bg-gray-900 text-white border-t border-gray-950;
    }

    .markdown-buttons button {
        @apply text-gray-400;
    }

    .markdown-buttons button:hover {
        @apply bg-gray-950 text-white;
    }

    .markdown-modes button {
        @apply text-gray-700;
        &.active {
            @apply text-white;
        }
    }

    .CodeMirror {
        @apply text-white antialiased;
    }

    [class*="cm-"] {
        color: white !important;
    }

    .CodeMirror-cursor {
        border-left: 2px solid white;
    }

    .markdown-preview {
        @apply text-white;
    }
}


/* Read Only
  ========================================================================== */

.markdown-fieldtype.read-only-field .CodeMirror {
    @apply bg-gray-300 text-gray-700;
}


/* Inside a Grid fieldtype
  ========================================================================== */

.grid-fieldtype .grid-table .markdown-fieldtype {
    .markdown-fieldtype-wrapper {
        @apply border rounded;
    }

    .markdown-preview {
        @apply border-none p-2 text-left;
        p { line-height: 1.2; }
    }
}


/* Writing Mode Typography
  ========================================================================== */

.markdown-fieldtype .cm-header {
    @apply text-gray-800;

    &.cm-header-1 {
        @apply text-lg;
    }

    &.cm-header-2 {
        @apply text-base;
    }

    &.cm-header-3 {
        @apply text-sm;
    }
}

.markdown-fieldtype .cm-quote {
    @apply text-gray-800 italic text-sm;
}


/* Preview Mode Typography
  ========================================================================== */

.markdown-preview {
    @apply mx-auto;

    padding: 16px 20px;
    min-height: 167px; /*  @TODO Refactor to avoid a magic number. */

    ol {
        @apply list-decimal;
    }

    ul {
        @apply list-disc;
    }
}

.markdown-fieldtype-wrapper.markdown-fullscreen {
    @apply fixed bg-white inset-0 h-screen rounded-none;
    padding-top: 52px; /*  offset the nav */
    z-index: 998;
    will-change: transform;

    .markdown-toolbar {
        @apply fixed top-0 w-full px-6 py-2 h-13 shadow text-base flex items-center justify-between;
        background: linear-gradient(180deg, #fff, #f9fafb);
        border-bottom: 1px solid #c4cdd6;
    }

    .mode-wrap {
        height: calc(100vh - 88px); /*  sans toolbars */
        overflow-y: scroll;
        cursor: text;
        &.mode-preview {
            height: calc(100vh - 52px); /*  no footer toolbar */
        }
    }

    .CodeMirror {
        @apply max-w-xl bg-transparent mx-auto relative p-8 shadow-none text-base;

        .CodeMirror-scroll {
            @apply m-0;
        }
    }

    .markdown-preview {
        @apply max-w-xl bg-transparent mx-auto relative p-8 text-lg;
    }

    .helpers {
        @apply absolute bottom-0 inset-x-0 bg-white;
    }
}
