/* ==========================================================================
   REPLICATOR FIELDTYPE
   ========================================================================== */

.replicator-set-container {
    @apply outline-none;
}

.replicator-set {
    @apply mt-10 shadow-set rounded bg-white outline-none relative;

    &:last-child {
        @apply mb-10;
    }
}

.replicator-set-header {
    @apply bg-grey-300 border-b rounded-t pr-3 flex select-none;

    &.collapsed {
        @apply rounded border-b-0;
    }

    .sortable-handle {
        @apply w-4 border-r rounded-tl p-2;
        cursor: grab;
        background: transparent url('../svg/drag-dots.svg') center center no-repeat;
        &:hover { @apply bg-grey-200; }
    }

    img {
        @apply inline-block;
    }

    .replicator-set-controls {
        @apply flex items-center;

        .toggle-sm {
            position: relative;
            bottom: 1px;
        }
    }

    &.invalid {
        .replicator-set-header-inner {
            @apply bg-red-lighter;
            label {
                @apply text-red;
            }
        }
    }
}

.replicator-set-body {
    @apply flex flex-wrap;
}

.replicator-set-picker-between {
    @apply absolute top-0 -mt-8 w-full text-center;
}

/*  Extra contrast when full width */
.replicator-fieldtype {
    @apply py-6 px-0 bg-grey-200 border-t border-b;

    > .field-inner {
        @apply ml-6;
    }

    .replicator-fieldtype-container {
        @apply px-6;
    }
}

/*  Avoid double borders */
.section-fieldtype + .replicator-fieldtype {
    border-top: 0;
}

.replicator-set.has-error > .replicator-set-header label {
    @apply text-red;
}

.replicator-set-body > .has-error > label {
    @apply text-red;
}
