/* ==========================================================================
   REPLICATOR FIELDTYPE
   ========================================================================== */

.replicator-set-container {
    @apply outline-none;
}

.replicator-set {
    @apply relative rounded bg-white shadow-set outline-none dark:bg-dark-800 dark:shadow-dark-set;
}

.replicator-set-header {
    @apply flex select-none rounded-t border-b bg-gray-300 dark:border-dark-900 dark:bg-dark-650 ltr:pr-3 rtl:pl-3;

    &.collapsed {
        @apply rounded border-b-0;
    }

    .sortable-handle {
        @apply w-4 p-2 dark:border-dark-900 ltr:rounded-tl ltr:border-r rtl:rounded-tr rtl:border-l;
        cursor: grab;
        background: transparent url('../../../svg/icons/light/drag-dots.svg') center center no-repeat;
        background-size: 7px 17px;
        &:hover {
            @apply bg-gray-200 dark:bg-dark-700;
        }
    }

    img {
        @apply inline-block;
    }

    .replicator-set-controls {
        @apply flex items-center;
    }

    .replicator-set-header-inner {
        min-height: 32px;
    }

    &.invalid {
        .replicator-set-header-inner {
            @apply bg-red-100;
            label {
                @apply text-red-500;
            }
        }
    }
}

.replicator-set-body {
    @apply flex flex-wrap;
}

.replicator-set-picker {
    @apply py-2;
}

.replicator-set-picker.between {
    @apply opacity-0 hover:opacity-100;
    transform: translateX(-8px);
    transition:
        opacity 100ms ease,
        transform 100ms ease;
}

.replicator-set-picker.between:hover {
    transform: translateX(-4px);
}

.replicator-set-picker.between .replicator-set-picker-button-wrapper {
    @apply h-5;
}

.replicator-set.has-error > .replicator-set-header label {
    @apply text-red-500;
}

.replicator-set-body > .has-error > label {
    @apply text-red-500;
}

.replicator-fullscreen {
    @apply fixed inset-0 min-h-screen overflow-scroll rounded-none bg-gray-200;
}
