/* ==========================================================================
   REPLICATOR CARD SETS
   ========================================================================== */

.replicator-card-sets {
    display: grid;
    grid-template-columns: repeat(var(--card-cols, 1), minmax(0, 1fr));
    gap: 0.75rem;
    width: 100%;

    > * {
        min-width: 0;
    }

    .publish-fields {
        /* Prevent columns and gaps exceeding the container */
        grid-column-gap: unset;
    }
}

.replicator-card-group-row {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    width: 100%;
}

.replicator-card-group-handle {
    margin-top: 0.625rem;
}

.replicator-card-set-inset-picker {
    position: relative;

    [data-ui-popover-trigger] {
        position: absolute;
        left: -1.15rem;
        height: 100%;
        writing-mode: vertical-lr;

        button .rounded-full {
            position: absolute;
            left: calc(0.5rem + 2px);
            height: 100%;
            width: 0.3rem;
            background: linear-gradient(to bottom, var(--color-gray-200) 0%, var(--color-gray-100) 50%, var(--color-gray-200) 100%);
        }
    }
}
