/* ==========================================================================
Table Fieldtype
========================================================================== */

.table-contained {
    @apply relative mb-4 w-full rounded-lg border text-gray shadow-ui-sm outline-hidden dark:border-gray-700 dark:text-dark-150 text-start;
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;

    thead {
        th {
            @apply
                z-10
                p-2
                dark:bg-gray-900
                border-b bg-gray-50
                not-last:border-e overflow-hidden
                dark:border-gray-800 dark:border-b-gray-700
                text-sm font-medium text-gray-900
                dark:text-gray-100
                -top-2
            ;
            .bard-content & {
                @apply top-8;
            }
            display: table-cell;
            position: sticky;
            text-align: left;

            &:first-child {
                @apply rounded-ss-lg ps-3;
            }

            &:last-child {
                @apply rounded-se-lg border-s-0;
            }

            &.grid-drag-handle-header {
                @apply w-3;
            }

            /* Prevent the sticky toolbar from hitting the very end of container, which causes it to overlap the container's border-radius */
            margin-block-end: 8px;
            /* Pull the subsequent element up to compensate for this */
            + * {
                margin-block-start: -8px;
            }
        }
    }

    tbody {
        @apply outline-hidden dark:bg-gray-800;

        th {
            @apply bg-gray-50 p-2 text-sm font-medium text-gray-700 text-start border-r border-b border-gray-200 dark:border-dark-900 dark:bg-gray-700 dark:text-gray-100 overflow-hidden;

            tr:first-child & {
                @apply rounded-tl-lg;
            }
            tr:last-child & {
                @apply border-b-0 rounded-bl-lg;
            }
        }

        tr {
            @apply outline-hidden;

            &:first-child td {
                @apply overflow-hidden;
            }

            &:last-child td {
                @apply border-b-0 overflow-hidden;
                &:first-child {
                    @apply rounded-bl-lg;
                }
                &:last-child {
                    @apply rounded-br-lg;
                }
            }

            &.draggable-source--is-dragging td {
                @apply bg-gray-100 dark:bg-gray-800;
            }
        }

        td {
            @apply border-b p-0 dark:border-dark-900 border-e;

            &:first-child.grid-cell {
                @apply ps-4;
            }

            &:last-child {
                @apply border-e-0;
            }

            &.table-drag-handle {
                @apply w-3 p-2 bg-white dark:bg-gray-800;
                &:hover {
                    @apply bg-gray-100 dark:bg-gray-700;
                }
            }
        }

    }

    [data-ui-control] {
        @apply block w-full max-w-full rounded-none appearance-none border p-2;
        @apply border-none bg-white dark:bg-gray-800 text-sm shadow-none outline-hidden;
        &:focus {
            @apply bg-gray-100 inset-shadow-xs ring-0 dark:bg-gray-700;
        }
    }

    .row-controls {
        @apply w-8 text-center ps-0;
        vertical-align: middle;
        &:focus-within {
            @apply bg-gray-100 dark:bg-gray-700;
            button {
                @apply outline-hidden ring-0;
            }
        }
    }
}

td[data-column="size"] {
    @apply whitespace-nowrap;
}

.table-fullscreen {
    @apply fixed inset-0 min-h-screen overflow-scroll rounded-none bg-gray-200;
    z-index: 998; /*  to appear over the top of the rest of the stuff on the page. */
    /*  too high and it'll be over the top of stacks, etc. */
}
