/* ==========================================================================
   Table Fieldtype
   ========================================================================== */

.table-fieldtype-table {
    @apply w-full text-left border text-gray relative mb-4 outline-none shadow-sm rounded;
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;
}

.table-fieldtype-table thead {
    th {
        @apply font-medium border-r p-2 border-b z-10 bg-gray-200 text-gray-900 uppercase text-2xs tracking-widest;
        display: table-cell;
        position: sticky;
        top: -1px;

        &:first-child { @apply rounded-tl pl-3; }
        &:last-child { @apply rounded-tr border-r-0; }
        &.grid-drag-handle-header {
            @apply w-3;
        }
    }
}

.table-fieldtype-table .input-text {
    @apply bg-white border-none rounded-none shadow-none outline-none text-sm;
    &:focus {
        @apply shadow-inner bg-gray-100;
    }
}

.table-fieldtype-table tbody {
    @apply outline-none;

    tr {
        @apply outline-none;
    }

    td {
        @apply border-b border-r p-0;

        &:first-child.grid-cell {
            @apply pl-3;
        }

        &:last-child {
            @apply border-r-0;
        }

        &.table-drag-handle {
            @apply w-3 border-r h-full p-2;
            cursor: grab;
            background: theme('colors.gray.200') url('../../../svg/drag-dots.svg') center center no-repeat;
            &:hover { @apply bg-gray-300; }
        }
    }

    tr:last-child td {
        @apply border-b-0;
        &:first-child { @apply rounded-bl; }
        &:last-child { @apply rounded-br; }
    }

    tr.draggable-source--is-dragging td {
        @apply bg-gray-100;
    }

    .draggable-mirror {
        @apply bg-white border-t border-b shadow;
    }
}

.table-fieldtype-table .row-controls {
    @apply w-8 pl-0 text-center;
    vertical-align: middle;
    &:focus-within {
        @apply bg-gray-200;
        button {
            @apply outline-none ring-0;
        }
    }
}
