/* ==========================================================================
   Table Fieldtype
   ========================================================================== */

.table-fieldtype-table {
    @apply relative mb-4 w-full rounded-sm border text-gray shadow-sm outline-hidden dark:border-dark-900 dark:text-dark-150 ltr:text-left rtl:text-right;
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;
}

.table-fieldtype-table thead {
    th {
        @apply z-10 border-b bg-gray-200 p-2 text-sm font-medium text-gray-900 dark:border-dark-900 dark:bg-dark-700 dark:text-dark-150 ltr:border-r rtl:border-l;
        display: table-cell;
        position: sticky;
        top: -1px;

        &:first-child {
            @apply ltr:rounded-tl ltr:pl-3 rtl:rounded-tr rtl:pr-3;
        }
        &:last-child {
            @apply ltr:rounded-tr ltr:border-r-0 rtl:rounded-tl rtl:border-l-0;
        }
        &.grid-drag-handle-header {
            @apply w-3;
        }
    }
}

.table-fieldtype-table .input-text {
    @apply rounded-none border-none bg-white text-sm shadow-none outline-hidden;
    @apply dark:bg-dark-650;
    &:focus {
        @apply bg-gray-100 shadow-inner ring-0 dark:bg-dark-700;
    }
}

.table-fieldtype-table tbody {
    @apply outline-hidden;

    tr {
        @apply outline-hidden;
    }

    td {
        @apply border-b p-0 dark:border-dark-900 ltr:border-r rtl:border-l;

        &:first-child.grid-cell {
            @apply ltr:pl-3 rtl:pr-3;
        }

        &:last-child {
            @apply ltr:border-r-0 rtl:border-l-0;
        }

        &.table-drag-handle {
            @apply h-full w-3 p-2 ltr:border-r rtl:border-l;
            cursor: grab;
            background: var(--color-gray-200) url('../../../svg/icons/light/drag-dots.svg') center center no-repeat;
            background-size: 7px 17px;

            .dark & {
                background-color: var(--color-dark-600);
            }

            &:hover {
                @apply bg-gray-300 dark:bg-dark-750;
            }
        }
    }

    tr:last-child td {
        @apply border-b-0;
        &:first-child {
            @apply ltr:rounded-bl rtl:rounded-br;
        }
        &:last-child {
            @apply ltr:rounded-br rtl:rounded-bl;
        }
    }

    tr.draggable-source--is-dragging td {
        @apply bg-gray-100 dark:bg-dark-800;
    }
}

.table-fieldtype-table .row-controls {
    @apply w-8 text-center ltr:pl-0 rtl:pr-0;
    vertical-align: middle;
    &:focus-within {
        @apply bg-gray-200 dark:bg-dark-750;
        button {
            @apply outline-hidden ring-0;
        }
    }
}

.table-fullscreen {
    @apply fixed inset-0 min-h-screen overflow-scroll rounded-none bg-gray-200;
    z-index: 998; /*  to appear over the top of the rest of the stuff on the page. */
    /*  too high and it'll be over the top of stacks, etc. */
}
