.video-fieldtype-container {
    @apply bg-gray-200 dark:bg-dark-700 p-4 border dark:border-dark-950 rounded;
}

.video-fieldtype .video-preview-wrapper {
    @apply mt-4;
}
.video-fieldtype .native-video {
    @apply relative;
}

.video-fieldtype .embed-video {
    @apply w-full h-0 relative;
    padding-bottom: 56.25%;
}

.video-fieldtype .embed-video iframe {
    @apply rounded;
    position: absolute;
    top: 0;
    left: 0 ; [dir="rtl"] & { left: auto ; right: 0 ; }
    width: 100%;
    height: 100%;
}

.video-fieldtype .native-video video {
    @apply rounded;
    width: 100% !important;
    height: auto !important;
}
