.video-fieldtype-container {
    @apply dark:border-dark-950 dark:bg-dark-700 rounded-sm border bg-gray-200 p-4;
}

.video-fieldtype .video-preview-wrapper {
    @apply mt-4;
}
.video-fieldtype .native-video {
    @apply relative;
}

.video-fieldtype .embed-video {
    @apply relative h-0 w-full;
    padding-bottom: 56.25%;
}

.video-fieldtype .embed-video iframe {
    @apply rounded-sm;
    position: absolute;
    top: 0;
    left: 0;
    [dir='rtl'] & {
        left: auto;
        right: 0;
    }
    width: 100%;
    height: 100%;
}

.video-fieldtype .native-video video {
    @apply rounded-sm;
    width: 100% !important;
    height: auto !important;
}
