/* ==========================================================================
   YAML FIELDTYPE
   ========================================================================== */

.yaml-fieldtype {
    .code-mode {
        @apply absolute right-3 top-2 z-10 text-xs uppercase tracking-wider text-gray-600;
    }
    .CodeMirror-wrap {
        @apply rounded;
    }
}

/* Inside a Grid field
  ========================================================================== */

.grid-fieldtype .yaml-fieldtype-wrapper {
    > span {
        border-top: 0;
        border-right: 0;
        [dir='rtl'] & {
            border-right: 0;
            border-left: 0;
        }
    }

    .editor {
        border: none;
        border-radius: 0;
        .CodeMirror {
            box-shadow: none;
        }
    }
}
