<fieldset class="star-rating" role="radiogroup" {{ if display }}aria-label="{{ display }}"{{ /if }} {{ if allow_half_stars }}data-allow-half-stars{{ /if }}>
    {{ foreach:star_inputs }}
        <span class="star-rating__star">
            {{ if half_value }}
                <label class="star-rating__half star-rating__half--left">
                    <input
                        id="{{ id }}-{{ star }}-half"
                        type="radio"
                        name="{{ name }}"
                        value="{{ half_value }}"
                        {{ if js_driver }}{{ js_attributes }}{{ /if }}
                        {{ if value == half_value }}checked{{ /if }}
                        {{ if validate|contains:required }}required{{ /if }}
                        {{ if error }}
                            aria-invalid="true" aria-describedby="{{ id }}-error"
                        {{ elseif instructions }}
                            aria-describedby="{{ id }}-instructions"
                        {{ /if }}
                    >
                    <span aria-hidden="true">★</span>
                </label>
            {{ /if }}
            <label class="star-rating__half star-rating__half--right">
                <input
                    id="{{ id }}-{{ star }}"
                    type="radio"
                    name="{{ name }}"
                    value="{{ full_value }}"
                    {{ if js_driver }}{{ js_attributes }}{{ /if }}
                    {{ if value == full_value }}checked{{ /if }}
                    {{ if validate|contains:required }}required{{ /if }}
                    {{ if error }}
                        aria-invalid="true" aria-describedby="{{ id }}-error"
                    {{ elseif instructions }}
                        aria-describedby="{{ id }}-instructions"
                    {{ /if }}
                >
                <span aria-hidden="true">★</span>
            </label>
        </span>
    {{ /foreach:star_inputs }}
</fieldset>
