/* ==========================================================================
   GLOBAL CONTROL PANEL LAYOUT ELEMENTS
   ========================================================================== */

body {
    @apply .w-full .bg-grey-30 relative;
}

a {
    text-decoration: none;
    cursor: pointer;
}

#main {
    @apply flex;
    padding-bottom: 72px;
}

#main .workspace {
    transition: padding .3s;
    @apply w-full;
}

@screen md {

    #main {
        padding-top: 52px;
    }

    #main .workspace {
        padding-left: 14rem;
    }

    #main.nav-closed {
        .nav-main {
            left: -14rem;
        }

        .workspace {
            padding-left: 0;
        }
    }
}



.site-warning-stripe {
    background: $color_red;
    box-shadow: inset 0 -2px 3px rgba(0,0,0,.1);
    padding: 8px 24px;
    font-size: 14px;
    color: #fff;

    > a, > a:hover {
        color: white;
        text-decoration: underline;
    }

    &.status-trial {
        background: $brand-darker;

        > a, > a:hover { color: $brand-primary; }
    }

    .btn { text-decoration: none; }
}


/* Page Wrapper
  ========================================================================== */
.page-wrapper {
    @apply p-1.5 pt-3;
}

@screen md {
    .page-wrapper {
        @apply px-4 max-w-xl mx-auto;
    }
}

.fieldtype-hidden {
    display: none;
}


/* Outside the Control Panel
  ========================================================================== */
.outside {
    @apply .bg-grey-30 .px-1 .min-h-screen;

    label {
        color: #596498;
    }

    .logo svg {
        @apply h-6 block mx-auto mb-7 mb-4 w-auto;
        path {
            fill: rgba(0,0,0,.25);
        }
    }
}

 // Alternate rad mode for a more playful vibe
.outside.rad-theme {
    background: #12c2e9;
    background: linear-gradient(45deg, #f64f59, #c471ed, #12c2e9);
}
