/* ==========================================================================
   GLOBAL CONTROL PANEL LAYOUT ELEMENTS
   ========================================================================== */

html, body {
    height: 100%;
}

body {
    @apply .w-full .bg-grey-lighter relative;
}

a {
    text-decoration: none;
    cursor: pointer;
}

// svg sprite
// @TODO Confirm we can rmove this
body > svg { display: none; }

#main {
    @apply flex;
    padding-top: 74px;
}

#main .nav-main {
    @apply w-54 absolute pin-l;
    transition: all .3s;
}

#main .content {
    transition: padding .3s;
    @apply w-full pt-2;
}

@screen md {
    #main .content {
        padding-left: 14rem;
        @apply pt-0;
    }
}

#main.nav-closed {
    .nav-main {
        left: -14rem;
    }

    .content {
        padding-left: 0;
    }
}

.site-warning-stripe {
    background: $color_red;
    box-shadow: inset 0 -2px 3px rgba(0,0,0,.1);
    padding: 8px 24px;
    font-size: 14px;
    color: #fff;

    > a, > a:hover {
        color: white;
        text-decoration: underline;
    }

    &.status-trial {
        background: $brand-darker;

        > a, > a:hover { color: $brand-primary; }
    }

    .btn { text-decoration: none; }
}


/* Page Wrapper
  ========================================================================== */
.page-wrapper {
    @apply .px-3 .pb-5 .w-full;
}

.fieldtype-hidden {
    display: none;
}


/* Outside the Control Panel
  ========================================================================== */
.outside {
    @apply .bg-grey-lighter .px-1 .min-h-screen;

    label {
        color: #596498;
    }

    .logo svg {
        @apply h-6 block mx-auto mb-7 mb-4 w-auto;
        path {
            fill: rgba(0,0,0,.25);
        }
    }
}

 // Alternate rad mode for a more playful vibe
.outside.rad-mode {
    background: #12c2e9;
    background: linear-gradient(45deg, #f64f59, #c471ed, #12c2e9);
}
