/* ==========================================================================
   MAIN CONTROL PANEL LAYOUT
   ========================================================================== */

html, body {
    height: 100%;
}

body {
    @apply .w-full .bg-grey-lighter;
}

a {
    text-decoration: none;
    cursor: pointer;
}

// svg sprite
body > svg { display: none; }

#main {
    @apply flex;
}

#main .new-nav-main {
    @apply w-54 absolute pin-l;
    transition: all .3s;
}

#main .content {
    flex: 1;
    transition: padding .3s;
    padding-left: 14rem;
}

#main.nav-closed {
    .new-nav-main {
        left: -14rem;
    }

    .content {
        padding-left: 0;
    }
}




.cp-head {
    @apply .flex .items-center .relative .p-3;
    font-size: 14px;

    .logo {
        @apply w-54 block flex items-center;
        height: 40px;
        svg {
            height: 20px;
            width: 90px;
        }
    }

    .version {
        color: rgba(#6D868C, .5);
        font-size: 10px;
        left: 5px;
        position: relative;
        bottom: -3px;
    }

    .head-links {
        position: relative;
        margin-left: auto;
    }
}

.site-warning-stripe {
    background: $color_red;
    box-shadow: inset 0 -2px 3px rgba(0,0,0,.1);
    padding: 8px 24px;
    font-size: 14px;
    color: #fff;

    > a, > a:hover {
        color: white;
        text-decoration: underline;
    }

    &.status-trial {
        background: $brand-darker;

        > a, > a:hover { color: $brand-primary; }
    }

    .btn { text-decoration: none; }
}

// @media (max-width: 980px) {
//     .application-grid {
//         grid-template-columns: 140px 1fr auto;
//     }
//
//     .cp-head .logo {
//         width: 140px;
//     }
// }
//
// @media (max-width: 768px) {
//     .application-grid {
//         display: block;
//         padding-left: 0;
//         padding-right: 0;
//     }
//
//     .cp-head .logo { display: none; }
// }




/* Page Wrapper
  ========================================================================== */

.page-wrapper {
    padding: 0 24px;
    width: 100%;

    //@TODO Remove this thing.
    hr {
        margin: 15px -30px 25px -30px;

        &.inner {
            border-top: 2px solid $color_border;
            margin: 15px 0 25px 0;
        }
    }

    .head {
        .btn-group {
            margin-left: 10px;
        }

        .views {
            font-size: 12px;
            line-height: 34px;
            margin-right: 35px;

            .grid,
            .list {
                display: inline-block;
                height: 16px;
                margin-left: 10px;
                opacity: 0.3;
                vertical-align: text-top;
                width: 16px;

                &.selected {
                    opacity: 1;
                }
            }

            .grid {
                @include background('../img/grid.png', 16px 16px, transparent, center);
            }

            .list {
                @include background('../img/list.png', 16px 14px, transparent, center);
            }
        }
    }

    .actions {
        display: flex;
        flex-wrap: wrap;

        input[type="checkbox"] + label {
            margin: 7px 5px 5px 5px;
        }

        .actions-controls {
            flex: 1;
            display: flex;
            align-items: flex-start;
            .btn {
                margin-right: 8px;
            }
        }


        .select {
            max-width: 100px;
            width: 100%;
        }
    }

    .actions.no-checkboxes {
        flex-direction: row;
        justify-content: flex-end;
    }
}

.fieldtype-hidden {
    display: none;
}

.head .btn-icon {
    margin-right: 10px;
}


/* Outside the Control Panel
  ========================================================================== */

// Uses "business mode" by default
.outside {
    @apply .bg-grey-lighter .px-1 .min-h-screen;

    label {
        color: #596498;
    }

    .logo svg {
        @apply h-6 block mx-auto mb-7 mb-4 w-auto;
        path {
            fill: rgba(0,0,0,.25);
        }
    }
}

 // Rad mode for the more playful
.outside.rad-mode {
    background: #12c2e9;
    background: linear-gradient(45deg, #f64f59, #c471ed, #12c2e9);
}
