/* ==========================================================================
   TYPOGRAPHY
   ========================================================================== */

body {
    @apply .font-sans .text-grey-dark .text-base .tracking-normal;
    font-variant: common-ligatures tabular-nums;
    font-feature-settings: "zero", "ss01";
}

h1 {
    @apply text-2xl font-normal m-0 antialiased;
    letter-spacing: -0.013em;
}

h2 {
    @apply text-lg m-0 antialiased font-medium;
    letter-spacing: -0.008em;
}

h3 {
    @apply text-base font-medium antialiased;
}

h4 {
    @apply text-sm font-bold antialiased;
    letter-spacing: 0.001em;
}

h6 {
    @apply text-3xs font-bold uppercase tracking-wide antialiased;
}

a {
    color: #4e5e73;
    cursor: pointer;
    &:hover {
        color: $brand-primary;
        text-decoration: none;
    }
}

a:hover,
a:active,
a:focus {
    text-decoration: none;
}

.subhead {
    font-size: 11px;
    letter-spacing: .1em;
    text-transform: uppercase;
}

sup {
    top: -0.25em;
}

.little-heading {
    font-size: 11px;
    font-weight: bold;
    padding: 15px 0 0 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.list-unstyled {
    @apply .list-reset;
}
