body {
    font-variant: common-ligatures tabular-nums;
}

h1 {
	font-size: 24px;
    font-weight: 300;
	margin: 0;
    -webkit-font-smoothing: antialiased;

	strong {
		color: $color_gray_dark;
		font-weight: normal;
	}
}

h2 { font-size: 18px; }
h3 { font-size: 16px; }

a {
    color: #4e5e73;
    cursor: pointer;
	&:hover {
		color: $brand-primary;
		text-decoration: none;
	}
}

a:hover,
a:active,
a:focus {
	text-decoration: none;
}

.subhead {
    font-size: 11px;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.normal {
    font-weight: normal !important;
}

sup {
    top: -0.25em;
}

.little-heading {
    font-size: 11px;
    font-weight: bold;
    padding: 15px 0 0 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.list-unstyled {
    @apply .list-reset;
}
