/* ==========================================================================
   TYPOGRAPHY
   ========================================================================== */

body {
    @apply .font-sans .text-grey-90 .text-base .tracking-normal;
    font-variant: common-ligatures tabular-nums;
    font-feature-settings: "zero", "ss01", "calt" off;

}

h1, h2, h3, h4, h5, h6 {
    @apply .m-0 antialiased;
}

h1 {
    @apply text-2xl font-medium;
    letter-spacing: -0.014em;
}

h2 {
    @apply text-lg font-medium;
    letter-spacing: -0.01em;
}

h3 {
    @apply text-base font-medium;
}

h4 {
    @apply text-sm font-bold;
    letter-spacing: 0.001em;
}

h5 {
    @apply text-xs font-bold;
    letter-spacing: 0.002em;
}

h6 {
    @apply text-3xs font-bold uppercase tracking-wide;
}

a:not([class^="btn"]) {
    @apply .text-grey-80 .cursor-pointer;

    &:hover {
        @apply .text-blue;
    }
}

.content {
    h1 {
        @apply mb-1 font-medium;
    }

    h2, h3, h4, h5, h6 {
        @apply .mb-1 font-bold;
    }

    p, ol, ul, pre {
        @apply text-grey-70 text-sm leading-normal mb-1;

        a {
            @apply text-blue;
            &:hover {
                @apply underline;
            }
        }
    }

    p {
        &:last-child {
            @apply .mb-0;
        }
    }

    pre {
        background-color: #f9f2f4;
        @apply p-1;

        code {
            @apply p-0;
        }
    }
}

a:hover,
a:active,
a:focus {
    text-decoration: none;
}

.bullet {
    @apply .inline-block .rounded-full .bg-grey;
    height: 7px;
    width: 7px;
}

.subhead {
    font-size: 11px;
    letter-spacing: .1em;
    text-transform: uppercase;
}

sup {
    top: -0.25em;
}

.little-heading {
    font-size: 11px;
    font-weight: bold;
    padding: 15px 0 0 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.list-unstyled {
    @apply list-none p-0;
}

code {
    @apply font-mono rounded;
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
}

.clean-content {

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    word-wrap: break-word;
    color: #333;
    line-height: 1.7;
    text-size-adjust: 100%;

    :first-child {
        margin-top: 0!important;
    }

    :last-child {
        margin-bottom: 0!important;
    }

    b,
    strong { font-weight: 700; }

    em { font-style: italic }

    blockquote,
    ol,
    p,
    ul {
        margin-top: 0;
        margin-bottom: .85em;
    }

    a {
        color: #4183c4;
        text-decoration: none;
        text-decoration: underline;
    }

    a:active,
    a:focus,
    a:hover {
        outline: 0;
        text-decoration: underline;
    }

    img {
        border: 0;
        max-width: 100%;
    }

    hr {
        height: 4px;
        padding: 0;
        margin: 1.7em 0;
        overflow: hidden;
        background-color: #e7e7e7;
        border: none;
    }

    hr:after,
    hr:before {
        display: table;
        content: " ";
    }

    hr:after {
        clear: both
    }

    h1, h2, h3, h4, h5, h6 {
        margin-top: 1.275em;
        margin-bottom: .85em;
        font-weight: 700
    }

    h1 { font-size: 2em }

    h2 { font-size: 1.75em }

    h3 { font-size: 1.5em }

    h4 { font-size: 1.25em }

    h5 { font-size: 1em }

    h6 {
        font-size: 1em;
        color: #777;
    }

    ol,
    ul {
        padding: 0;
        margin: 0;
        margin-bottom: .85em;
        padding-left: 2em;
    }

    ol ol,
    ol ul,
    ul ol,
    ul ul {
        margin-top: 0;
        margin-bottom: 0;
    }

    ol ol {
        list-style-type: lower-roman;
    }

    blockquote {
        margin: 0;
        margin-bottom: .85em;
        padding: 0 15px;
        color: #858585;
        border-left: 4px solid #e5e5e5;
    }

    blockquote:first-child {
        margin-top: 0;
    }

    blockquote:last-child {
        margin-bottom: 0;
    }

    // Inline code snippets
    code,
    tt {
        @apply rounded m-0;
        padding: 0.2em 0.4em;
        font-size: 85%;
        background-color: rgba(black, 0.05);

        br { display: none; }
    }

    del code { text-decoration: inherit; }

    pre {
        word-wrap: normal;

        // Code tags within code blocks (<pre>s)
        > code {
            padding: 0;
            margin: 0;
            font-size: 100%;
            word-break: normal;
            white-space: pre;
            background: transparent;
            border: 0;
        }
    }

    .highlight {
        @apply mb-2;

        pre {
            margin-bottom: 0;
            word-break: normal;
        }
    }

    .highlight pre,
    pre {
        @apply p-2 bg-grey-30 rounded;
        overflow: auto;
        font-size: 85%;
        line-height: 1.45;
    }

    pre code,
    pre tt {
        display: inline;
        max-width: auto;
        padding: 0;
        margin: 0;
        overflow: visible;
        line-height: inherit;
        word-wrap: normal;
        background-color: transparent;
        border: 0;
    }
}
