/* ==========================================================================
   TYPOGRAPHY
   ========================================================================== */

body {
    @apply .font-sans .text-grey-dark .text-base .tracking-normal;
    font-variant: common-ligatures tabular-nums;
    font-feature-settings: "zero", "ss01";
}

h1, h2, h3, h4, h5, h6 {
    @apply .m-0 antialiased;
}

h1 {
    @apply text-2xl font-normal;
    letter-spacing: -0.014em;
}

h2 {
    @apply text-lg font-normal;
    letter-spacing: -0.01em;
}

h3 {
    @apply text-base font-medium;
}

h4 {
    @apply text-sm font-bold;
    letter-spacing: 0.001em;
}

h5 {
    @apply text-xs font-bold;
    letter-spacing: 0.002em;
}

h6 {
    @apply text-3xs font-bold uppercase tracking-wide;
}

a {
    @apply .text-grey-dark .cursor-pointer;

    &:hover {
        @apply .text-blue;
    }
}

a:hover,
a:active,
a:focus {
    text-decoration: none;
}

.bullet {
    @apply .inline-block .rounded-full .bg-grey;
    height: 7px;
    width: 7px;
}

.subhead {
    font-size: 11px;
    letter-spacing: .1em;
    text-transform: uppercase;
}

sup {
    top: -0.25em;
}

.little-heading {
    font-size: 11px;
    font-weight: bold;
    padding: 15px 0 0 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.list-unstyled {
    @apply .list-reset;
}
