/* ==========================================================================
   UTILITES
   ========================================================================== */

.text-shadow {
    text-shadow: 0 1px 2px rgba(0,0,0,.25);
}

.text-overflow-ellipsis {
    text-overflow: ellipsis;
}

/* Sticky Header
  ========================================================================== */

.sticky {
    background: linear-gradient($bg 95%, rgba($bg, 0));
    position: sticky;
    top: 0;
    padding: 12px 24px 16px;
    margin: -16px 0 8px !important;
    z-index: 102;
}

/* Rotation
  ========================================================================== */
.rotate-90 { transform: rotate(90deg); }
.rotate-180 { transform: rotate(180deg); }
.-rotate-90 { transform: rotate(-90deg); }
.-rotate-180 { transform: rotate(-180deg); }


/* Misc
  ========================================================================== */

.focus-outline {
    @apply border-blue-light;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,125,255,.25);
}

.focus-none {
    @apply border-0;
    outline: 0;
    box-shadow: none;
}

.selected-outline {
    @apply border-blue;
    outline: 0;
    box-shadow: 0 0 0 2px theme('colors.blue');
}

.ease-quick {
    transition: all 60ms ease;
}

.loading {
    text-align: center;
    padding: 20px 0;

    .icon {
        display: block;
        margin-bottom: 5px;
    }

    &.loading-basic {
        text-align: left;
        padding: 0;

        .icon {
            display: inline-block;
            margin: -2px 5px 0 0;
        }
    }
}

.cursor-text {
    cursor: text;
}

.cursor-grab {
    cursor: grab;
}

.shadow-hover-lg {
    @apply shadow-lg;
    transition: box-shadow .08s ease-in-out;
    &:hover {
        @apply shadow-xl;
    }
}

.w-fit-content {
    width: fit-content;
}

[v-cloak] { display: none }

.loading-blocker {
    @apply absolute inset-0 z-10;
    background: rgba(white, .7);
}

// Saving Overlay
.saving {
    @apply absolute inset-0 z-200 flex items-center rounded;
    background: rgba(white, .9);

    .inner {
        @apply .p-5 .text-center .mx-auto;
    }

    i {
        position: relative;
        top: -1px;
        margin-right: 10px;
    }
}

.ease {
    transition: all .15s ease-in-out;
}


.help-block {
    width: 100%;
    p { @apply mb-1 }
}

.text-truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.fit-cover {
    object-fit: cover;
}

.ratio-4\:3 {
    padding-top: 75%;
}

.bg-checkerboard {
    background: url('../img/trans-bg.gif');
}
