/* ==========================================================================
   UTILITES
   ========================================================================== */


/* Margins
  ========================================================================== */

.m-0 { margin: 0 !important; }

.mb-0 { margin-bottom: 0px !important; }
.mb-8 { margin-bottom: 8px !important; }
.mb-16 { margin-bottom: 16px !important; }
.mb-24 { margin-bottom: 24px !important; }
.mb-32 { margin-bottom: 32px !important; }
.mb-40 { margin-bottom: 40px !important; }
.mb-64 { margin-bottom: 64px !important; }
.mb-120 { margin-bottom: 120px !important; }

.ml-8 { margin-left: 8px !important; }
.ml-16 { margin-left: 16px !important; }
.ml-24 { margin-left: 24px !important; }
.ml-32 { margin-left: 32px !important; }
.ml-40 { margin-left: 40px !important; }
.ml-64 { margin-left: 64px !important; }
.ml-120 { margin-left: 120px !important; }

.mr-8 { margin-right: 8px !important; }
.mr-16 { margin-right: 16px !important; }
.mr-24 { margin-right: 24px !important; }
.mr-32 { margin-right: 32px !important; }
.mr-40 { margin-right: 40px !important; }
.mr-64 { margin-right: 64px !important; }
.mr-120 { margin-right: 120px !important; }

.mt-0 { margin-top: 0px !important; }
.mt-8 { margin-top: 8px !important; }
.mt-16 { margin-top: 16px !important; }
.mt-24 { margin-top: 24px !important; }
.mt-32 { margin-top: 32px !important; }
.mt-40 { margin-top: 40px !important; }
.mt-64 { margin-top: 64px !important; }
.mt-120 { margin-top: 120px !important; }

.mh-0 { margin-left: 0px !important; margin-right: 0px !important; }
.mh-8 { margin-left: 8px !important; margin-right: 8px !important; }
.mh-16 { margin-left: 16px !important; margin-right: 16px !important; }
.mh-24 { margin-left: 24px !important; margin-right: 24px !important; }
.mh-32 { margin-left: 32px !important; margin-right: 32px !important; }
.mh-64 { margin-left: 64px !important; margin-right: 64px !important; }
.mh-120 { margin-left: 120px !important; margin-right: 120px !important; }

.mv-0 { margin-top: 0px !important; margin-bottom: 0px !important; }
.mv-8 { margin-top: 8px !important; margin-bottom: 8px !important; }
.mv-16 { margin-top: 16px !important; margin-bottom: 16px !important; }
.mv-24 { margin-top: 24px !important; margin-bottom: 24px !important; }
.mv-32 { margin-top: 32px !important; margin-bottom: 32px !important; }
.mv-64 { margin-top: 64px !important; margin-bottom: 64px !important; }
.mv-120 { margin-top: 120px !important; margin-bottom: 120px !important; }




/* Padding
  ========================================================================== */

.p-0 { padding: 0 !important; }

.pb-0 { padding-bottom: 0px !important; }
.pb-8 { padding-bottom: 8px !important; }
.pb-16 { padding-bottom: 16px !important; }
.pb-24 { padding-bottom: 24px !important; }
.pb-32 { padding-bottom: 32px !important; }
.pb-40 { padding-bottom: 40px !important; }
.pb-64 { padding-bottom: 64px !important; }
.pb-120 { padding-bottom: 120px !important; }

.pl-0 { padding-left: 0px !important; }
.pl-8 { padding-left: 8px !important; }
.pl-16 { padding-left: 16px !important; }
.pl-24 { padding-left: 24px !important; }
.pl-32 { padding-left: 32px !important; }
.pl-40 { padding-left: 40px !important; }
.pl-64 { padding-left: 64px !important; }
.pl-120 { padding-left: 120px !important; }

.pr-0 { padding-right: 0px !important; }
.pr-8 { padding-right: 8px !important; }
.pr-16 { padding-right: 16px !important; }
.pr-24 { padding-right: 24px !important; }
.pr-32 { padding-right: 32px !important; }
.pr-40 { padding-right: 40px !important; }
.pr-64 { padding-right: 64px !important; }
.pr-120 { padding-right: 120px !important; }

.pt-0 { padding-top: 0px !important; }
.pt-8 { padding-top: 8px !important; }
.pt-16 { padding-top: 16px !important; }
.pt-24 { padding-top: 24px !important; }
.pt-32 { padding-top: 32px !important; }
.pt-40 { padding-top: 40px !important; }
.pt-64 { padding-top: 64px !important; }
.pt-120 { padding-top: 120px !important; }

.ph-0 { padding-left: 0 !important; padding-right: 0px !important; }
.ph-8 { padding-left: 8 !important; padding-right: 8px !important; }
.ph-16 { padding-left: 16 !important; padding-right: 16px !important; }
.ph-24 { padding-left: 24 !important; padding-right: 24px !important; }
.ph-32 { padding-left: 32 !important; padding-right: 32px !important; }
.ph-64 { padding-left: 64 !important; padding-right: 64px !important; }
.ph-120 { padding-left: 120 !important; padding-right: 120px !important; }

.pv-0 { padding-top: 0 !important; padding-bottom: 0px !important; }
.pv-8 { padding-top: 8 !important; padding-bottom: 8px !important; }
.pv-16 { padding-top: 16 !important; padding-bottom: 16px !important; }
.pv-24 { padding-top: 24 !important; padding-bottom: 24px !important; }
.pv-32 { padding-top: 32 !important; padding-bottom: 32px !important; }
.pv-64 { padding-top: 64 !important; padding-bottom: 64px !important; }
.pv-120 { padding-top: 120 !important; padding-bottom: 120px !important; }

.pad-0 { padding: 0px !important; }
.pad-8 { padding: 8px !important; }
.pad-16 { padding: 16px !important; }
.pad-24 { padding: 24px !important; }
.pad-32 { padding: 32px !important; }
.pad-64 { padding: 64px !important; }
.pad-120 { padding: 120px !important; }




/* Visibility
   ========================================================================== */

[v-cloak] { display: none; }

.o1 { opacity: .1; }
.o2 { opacity: .2; }
.o3 { opacity: .3; }
.o4 { opacity: .4; }
.o5 { opacity: .5; }
.o6 { opacity: .6; }
.o7 { opacity: .7 }
.o8 { opacity: .8; }
.o9 { opacity: .9; }
.o { opacity: 1; }




/* Font Size
   ========================================================================== */

.fs-11 { font-size: 11px !important; }
.fs-12 { font-size: 12px !important; }
.fs-13 { font-size: 13px !important; }




/* Color
   ========================================================================== */

.light { color: $color_gray_light; }
.dark { color: $color_gray_dark; }

.bg-faint { background: $bg; }


/* Misc
  ========================================================================== */

.round { border-radius: 50% !important; }

.relative { position: relative; }
.inline { display: inline; }
.inline-block { display: inline-block; }
.block { display: block; }
.border-top { border-top: solid 1px $color_border; }

.col-centered {
    float: none;
    margin: 0 auto;
}

.loading {
	text-align: center;
	padding: 20px 0;

	.icon {
		display: block;
		margin-bottom: 5px;
	}

	&.loading-basic {
		text-align: left;
		padding: 0;

		.icon {
			display: inline-block;
			margin: -2px 5px 0 0;
		}
	}
}

.flexy {
    display: flex;
    align-items: center;

    &.baseline { align-items: baseline;}
    &.apart { justify-content: space-between; }
    &.column { flex-direction: column;}
    &.wrap { flex-wrap: wrap; }

    .fill { flex: 1; }
}

.loading-blocker {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10; // arbitrary to make it appear over the fields
	background: rgba(white, .7);
}

// Saving overlay
.saving {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 200;
	background: rgba(white, .9);
	display: flex;
	align-items: center;
	border-radius: 3px;

	.inner {
		text-align: center;
		padding: 40px;
		margin: 0 auto;
	}

	i {
		position: relative;
		top: -1px;
		margin-right: 10px;
	}
}

.no-select {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.you-can-select-this {
    -webkit-touch-callout: text !important;
    -webkit-user-select: text !important;
    -khtml-user-select: text !important;
    -moz-user-select: text !important;
    -ms-user-select: text !important;
    user-select: text !important;
}

.clickable {
    cursor: pointer;
}

a:hover,
a:active,
a:focus {
	text-decoration: none;
}

.stuck .sticky {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: auto !important;
    will-change: transform;
	z-index: 101;
}

.mono { font-family: $font_monospace; }
.bold { font-weight: bold; }
.italic { font-weight: italic; }

.red { color: $color_red; }
.bg-red { background-color: $color_red; }

.mt { margin-top: 24px; }
.mb { margin-bottom: 24px; }

.full-height { height: 100%; }
.full-width { width: 100%; }

.pad { padding: 16px; }

.help-block {
    width: 100%;
}

.z-depth-0 { box-shadow: none !important; }
.z-depth-1 { box-shadow: 0 0 0 0.5px rgba(49,49,93,.03), 0 2px 5px 0 rgba(49,49,93,.1), 0 1px 2px 0 rgba(0,0,0,.08);}
.z-depth-2 { box-shadow: 0 7px 14px 0 rgba(50,50,93,.1), 0 3px 6px 0 rgba(0,0,0,.07); }
.z-depth-3 { box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); } // Not deep enough
.z-depth-4 { box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); } // Really not deep enough
