/* ==========================================================================
   UTILITES
   ========================================================================== */

.text-shadow {
    text-shadow: 0 1px 2px rgba(0,0,0,.25);
}

/* Sticky Header
  ========================================================================== */

.sticky {
    background: linear-gradient($bg 95%, rgba($bg, 0));
    position: sticky;
    top: 0;
    padding: 12px 24px 16px;
    margin: -16px 0 8px !important;
    z-index: 102;
}



/* Misc
  ========================================================================== */

.screen-centered {
    position: relative;
    left: -100px;
}

.ease-quick {
    transition: all 60ms ease;
}

.loading {
    text-align: center;
    padding: 20px 0;

    .icon {
        display: block;
        margin-bottom: 5px;
    }

    &.loading-basic {
        text-align: left;
        padding: 0;

        .icon {
            display: inline-block;
            margin: -2px 5px 0 0;
        }
    }
}

.loading-blocker {
    @apply absolute pin z-10;
    background: rgba(white, .7);
}

// Saving Overlay
.saving {
    @apply absolute pin z-200 flex items-center rounded;
    background: rgba(white, .9);

    .inner {
        @apply .p-5 .text-center .mx-auto;
    }

    i {
        position: relative;
        top: -1px;
        margin-right: 10px;
    }
}


.help-block {
    width: 100%;
    p { @apply mb-1 }
}
