/* ==========================================================================
   VARIABLES
   ========================================================================== */

// Colors
$color_dark_blue:       #2d393c;
$color_border: 		    #e0e0e0;
$color_pin:			    #979797;
$color_gray_dark: 	    #32325d;
$color_gray_light: 	    hsl(200, 10%, 60%);
$color_gray_input: 	    #f6f9fc;
$color_gray_page: 	    #E5E5E5;
$color_gray_upload:     #979797;
$color_gray_upload_alt: #919191;
$color_green: 		    #479967;
$color_search_alt:	    #DCDCD1;
$color_red:             #E75650;
$color_yellow:          #fbfab0;
$color_blue:            #3aa3e3;
$color_blue_dark:       #3282b3;

$border:                $color_border;
$color_gray_lighter:    $color_gray_input;
$bg:                    hsla(210, 30%, 95%, 1);
$asset_bg:              #394045;

// Fonts
$font_monospace: 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', 'monospace';
$font_serif: 'Georgia', 'serif';

$brand-primary: 	$color_blue;
$brand-secondary:   #48606f;
$brand-darker:      #3C4858;
