@tailwind base;

@tailwind components;

// Base things
@import "core/normalize";
@import "core/fonts";
@import "core/mixins";
@import "core/variables";
@import "core/animation";

// Vendor things
@import "vendors/codemirror";
@import "vendors/date-picker";
@import "vendors/luminous";
@import "vendors/sweetalert";
@import "vendors/tippy";
@import "vendors/vue-select";


// Core things that need to override vendor things
@import "core/layout";
@import "core/typography";

// Elements
@import "elements/buttons";
@import "elements/badges";
@import "elements/dropdowns";
@import "elements/forms";
@import "elements/icons";
@import "elements/tables";

// Components
@import "components/alerts";
@import "components/array";
@import "components/assets";
@import "components/blueprints";
@import "components/breadcrumbs";
@import "components/cards";
@import "components/column-picker";
@import "components/configure";
@import "components/dashboard";
@import "components/filters";
@import "components/focal-point";
@import "components/global-header";
@import "components/items";
@import "components/login";
@import "components/metrics";
@import "components/modal";
@import "components/nav-main";
@import "components/nav-mobile";
@import "components/notifications";
@import "components/page-tree";
@import "components/pagination";
@import "components/popover";
@import "components/preview";
@import "components/publish";
@import "components/progress";
@import "components/revisions";
@import "components/roles";
@import "components/shortcuts";
@import "components/sortable";
@import "components/stacks";
@import "components/tabs";
@import "components/toggle";
@import "components/tooltips";
@import "components/updater";
@import "components/wizard";

// Fieldtypes
@import "components/fieldtypes/array";
@import "components/fieldtypes/assets";
@import "components/fieldtypes/bard";
@import "components/fieldtypes/button-group";
@import "components/fieldtypes/checkboxes";
@import "components/fieldtypes/code";
@import "components/fieldtypes/color";
@import "components/fieldtypes/datetime";
@import "components/fieldtypes/environment";
@import "components/fieldtypes/grid";
@import "components/fieldtypes/hidden";
@import "components/fieldtypes/list";
@import "components/fieldtypes/markdown";
@import "components/fieldtypes/partial";
@import "components/fieldtypes/relationship";
@import "components/fieldtypes/replicator";
@import "components/fieldtypes/section";
@import "components/fieldtypes/table";
@import "components/fieldtypes/tags";
@import "components/fieldtypes/textarea";
@import "components/fieldtypes/time";
@import "components/fieldtypes/video";
@import "components/fieldtypes/yaml";

@tailwind utilities;

@import "core/utilities";


#statamic {
    transition: all 0.3s ease;
    min-height: 100vh;
}

.pane-slide-enter-active,
.pane-slide-leave-active {
    transition: all 0.3s ease;
}
.pane-slide-enter,
.pane-slide-leave-to {
    transform: translateX(24rem);
}
