:root {
    --focus-outline-width: 2px;
    /* Here we typically need a negative outline-offset because of the inner shadow on inputs */
    --focus-outline-offset: -1px;
    --focus-within-outline-offset: 0;
    --focus-outline-color: var(--color-blue-400);
    --focus-outline-style: solid;
    :is(.dark)& {
        --focus-outline-color: var(--color-blue-500);
        --focus-shadow-color: var(--color-blue-500);
    }

    /* =Jay. @Jack I figured to stick these in variables since we use them in class names in Bard. I thought technically layout variables maybe shouldn't be theme/should be persistent, so I put them here instead. */
    --z-index-base: 1;
    --z-index-above: 2;
    --z-index-header: 3;
    --z-index-portal: 4;
    --z-index-draggable: 5;
    --z-index-modal: 50;
    --z-index-max: 9999;
}

/* FOCUS STATES
=================================================== */
@layer base {
    /* Explicitly show focus without needing to tab */
    .show-focus:focus,
    /* Explicitly show focus without needing to tab for buttons inside modals, e.g. Assets > cancel button on delete modal */
    [data-dismissable-layer] button:focus,
    /* and then a global selector for focus-visible everywhere else (except where the focus-within class will handle the focus outline target instead) */
    :not([class*='focus-within'] *) {
        :focus-visible& {
            outline-width: var(--focus-outline-width);
            outline-offset: var(--focus-outline-offset);
            outline-color: var(--focus-outline-color, currentColor);
            outline-style: var(--focus-outline-style, solid);
            border-radius: inherit;
        }
    }
    /* e.g. When we have .focus-within:focus-outline on the global Site selector (which uses the Reka combobox), we don't want to see further focus states like on the dropdown arrow */
    [class*='focus-within'] * {
        outline: none;
    }
}