:root {
    --focus-outline-width: 2px;
    /* Here we typically need a negative outline-offset because of the inner shadow on inputs */
    --focus-outline-offset: -1px;
    --focus-within-outline-offset: 0px;
    --focus-outline-color: var(--color-blue-400);
    --focus-outline-style: solid;

    /* The outline-offset value used for buttons */
    --outline-offset-button: 0.35rem;

    :is(.dark)& {
        --focus-outline-color: var(--color-blue-500);
        --focus-shadow-color: var(--color-blue-500);
    }

    /* =Jay. @Jack I figured to stick these in variables since we use them in class names in Bard. I thought technically layout variables maybe shouldn't be theme/should be persistent, so I put them here instead. */
    --z-index-below: -1;
    --z-index-base: 1;
    --z-index-above: 2;
    --z-index-header: 3;
    --z-index-portal: 4;
    --z-index-draggable: 5;
    --z-index-modal: 50;
    --z-index-max: 9999;
}

/* FOCUS STATES
=================================================== */
/* Use a base layer where we don't need the specificity */
@layer base {
    /* Explicitly show focus without needing to tab */
    .show-focus:focus,
    /* Explicitly show focus without needing to tab for buttons inside modals, e.g. Assets > cancel button on delete modal */
    [data-dismissable-layer] button:focus,
    /* and then a global selector for focus-visible everywhere else (except where the focus-within class will handle the focus outline target instead) */
    :not([class*='focus-within'] *) {
        :focus-visible& {
            outline-width: var(--focus-outline-width);
            outline-offset: var(--focus-outline-offset);
            outline-color: var(--focus-outline-color, currentColor);
            outline-style: var(--focus-outline-style, solid);
            border-radius: inherit;
        }
    }

    a {
        cursor: pointer;
    }

    ::placeholder {
        @apply text-gray-400;
    }

    [type="checkbox"] {
        /* To effectively hide border radius clash with focus state */
        --focus-outline-offset: -1.85px;
    }
}

/* Use a utility layer only when we need higher specificity */
@layer utilities {
    [data-ui-dropdown-item] {
        &:focus-visible {
            outline-width: var(--focus-outline-width);
            outline-offset: var(--focus-outline-offset);
            outline-color: var(--focus-outline-color, currentColor);
            outline-style: var(--focus-outline-style, solid);
        }
    }

    /* Based on the global site picker */
    [data-ui-combobox-anchor] {
        /* Decrease */
        --focus-outline-offset: var(--outline-offset-button);
        /* Target the button inside the combobox */
        & :focus-visible {
            /* Decrease */
            @apply rounded-xs;
            + * svg {
                /* Since the SVG is outside the focus state let's hide it on focus because otherwise the focus state outline rests on top of it */
                position: relative;
                left: 0.6rem;
            }
        }
    }
    /* e.g. >> /cp/collections, when you tab to the title, and /cp/collections/pages when tabbing through the tree text */
    .main-content a,
    /* e.g. >> /cp/collections/pages, tabbing through the home icon */
    .v-popper--has-tooltip {
        &:focus-visible {
            --focus-outline-offset: 4px;
            @apply rounded-xs;
        }
    }

    /* Fix "flicker" the transition causes when tabbing to disclosure e.g. >> /cp/collections/pages */
    button:focus-visible {
        transition: unset;
    }

    .group\/button button:focus {
        /* Pull the focus state above any adjacent buttons e.g. >> /cp/collections/articles/entries - save button alongside the dropdown arrow */
        z-index: var(--z-index-above);
    }
}