/* GROUP BUTTONS
=================================================== */
button {
    @apply font-normal;
}

/*  Base button styles that shouldn't need overriding */
[class^='btn'],
[class*=' btn'] {
    @apply relative h-auto cursor-pointer select-none rounded-sm;
    @apply inline-flex justify-center whitespace-nowrap align-middle leading-none;
    @apply items-center text-center text-sm subpixel-antialiased;

    height: 2.375rem; /*  38px */
    letter-spacing: -0.01em;
    padding: 0.475rem 1.25rem;

    &:focus {
        /* @apply ring-2 outline-none dark:outline-2 dark:outline-dark-blue-100; */
        @apply outline-hidden ring-2;
    }

    &:disabled {
        @apply cursor-default;
    }
}

.btn-height {
    height: 2.375rem; /*  38px */
}

/* GROUP BUTTONS / DEFAULT - the default, non-primary action button
=================================================== */
.btn,
.btn-default {
    @apply text-gray-800 shadow-sm dark:text-dark-150;
    background: linear-gradient(180deg, #fff, #f9fafb);
    background-clip: padding-box;
    border: 1px solid #d3dde7;
    border-bottom: 1px solid #c4cdd6;
    box-shadow:
        inset 0 1px 0 0 #fff,
        0 1px 0 0 rgba(0, 0, 0, 0.05),
        0 2px 1px 0 --theme(--color-gray-600 / 0.15),
        0 0 0 0 transparent;

    .dark & {
        background: linear-gradient(180deg, var(--color-dark-550), var(--color-dark-600));
        background-clip: padding-box;
        border-color: var(--color-dark-700);
        box-shadow:
            inset 0 1px 0 0 var(--color-dark-300),
            0 1px 0 0 rgba(200, 200, 200, 0.05),
            0 2px 1px 0 --theme(--color-dark-900 / 0.15),
            0 0 0 0 transparent;
    }

    &:hover:not(:disabled),
    &:active:not(:disabled) {
        @apply text-gray-800 dark:text-dark-150;
        background: linear-gradient(180deg, #f9fafb, #f4f6f8);
        background-clip: padding-box;
        border-bottom: 1px solid #bfc7d0;

        .dark & {
            background: linear-gradient(180deg, var(--color-dark-600), var(--color-dark-700));
            background-clip: padding-box;
            border-color: var(--color-dark-800);
        }
    }

    &:focus {
        @apply ring-2 dark:ring-dark-blue-100;
    }

    &.active,
    &.active:hover {
        box-shadow: inset 2px 2px 3px 0 rgba(25, 30, 35, 0.1);
        background: var(--color-gray-400);
        border-color: #aeb9c3 !important;

        .dark & {
            /* @apply shadow-inner-dark; */
            background: var(--color-dark-400);
            border-color: var(--color-dark-700) !important;
        }
    }

    &:disabled {
        @apply text-gray-700 opacity-75 dark:text-dark-200;
    }
}

/* GROUP BUTTONS / PRIMARY
=================================================== */
.btn-primary {
    @apply border! border-blue-700! border-b-blue-800! bg-linear-to-b! from-blue-500! to-blue-600! bg-clip-padding! text-white! dark:border-blue-900! dark:border-b-dark-blue-200! dark:from-dark-blue-100! dark:to-dark-blue-150!;
    box-shadow:
        inset 0 1px 0 0 var(--color-blue-400),
        0 1px 0 0 rgba(25, 30, 35, 0.05),
        0 3px 2px -1px --theme(--color-blue-900 / 0.15),
        0 0 0 0 transparent;

    &:hover:not(:disabled),
    :active:not(:disabled) {
        @apply border-blue-800! border-b-blue-900! from-blue-600! to-blue-700! dark:border-blue-900! dark:border-b-dark-blue-200! dark:from-dark-blue-125! dark:to-dark-blue-175!;
        box-shadow:
            inset 0 1px 0 0 var(--color-blue-500),
            0 1px 0 0 rgba(25, 30, 35, 0.05),
            0 3px 2px -1px --theme(--color-blue-900 / 0.15),
            0 0 0 0 transparent;
    }

    &:disabled {
        @apply text-blue-200! opacity-75! dark:text-dark-blue-200!;
    }
}

/* GROUP BUTTONS / DANGER/DELETE
=================================================== */
.btn-danger {
    @apply border border-red-600 border-b-red-900 bg-linear-to-b from-red-500 to-red-600 bg-clip-padding text-white;
    box-shadow:
        inset 0 1px 0 0 var(--color-red-400),
        0 1px 0 0 rgba(0, 0, 0, 0.05),
        0 3px 2px -1px --theme(--color-red-900 / 0.15),
        0 0 0 0 transparent;

    &:hover:not(:disabled),
    &:active:not(:disabled) {
        @apply border border-red-700 border-b-red-900 bg-linear-to-b from-red-600 to-red-700 bg-clip-padding;
    }

    &:disabled {
        @apply text-red-100 opacity-75;
    }

    &:focus {
        @apply ring-1 ring-red-500 ring-offset-1;
        /* box-shadow: 0 5px 20px theme(colors.red.400 / 0.5); */
    }
}

/*  Earth isn't flat but these buttons are */
.btn-flat {
    @apply flex items-center bg-gray-300 text-gray-800 dark:bg-dark-700 dark:text-dark-150;
    position: inherit;

    &:hover:not(:disabled),
    &:active:not(:disabled),
    &.active {
        @apply bg-gray-400 dark:bg-dark-750;
    }

    &:focus {
        @apply outline-hidden ring-2;
    }

    &:active,
    &:focus:active {
        @apply bg-gray-500 dark:bg-dark-800;
    }

    &:disabled {
        @apply text-gray-600 opacity-75 dark:text-dark-200;
    }
}

/* GROUP BUTTONS / SIZE VARIATIONS
=================================================== */
.btn-sm {
    @apply h-8 px-2 py-1;
}

.btn-xs {
    @apply text-2xs;
    line-height: 0;
    height: 1.625rem; /*  24px */
    padding: 4px 10px;
}

.btn-lg {
    font-size: 16px;
    height: 48px;
    line-height: 44px;
    padding: 2px 40px;
}

/* GROUP BUTTONS / SHAPE VARIATIONS
=================================================== */
.btn-round {
    @apply flex items-center rounded-full p-0 text-center;
    background: linear-gradient(180deg, #fff, #f9fafb);
    background-clip: padding-box;
    border: 1px solid #c4cdd6;
    box-shadow: 0 1px 0 0 rgba(25, 30, 35, 0.05);
    height: 32px;
    width: 32px;

    .dark & {
        background: linear-gradient(180deg, var(--color-dark-500), var(--color-dark-550));
        background-clip: padding-box;
        border-color: var(--color-dark-400);
    }

    &:hover:not(:disabled),
    &:active:not(:disabled) {
        background: linear-gradient(180deg, #f9fafb, #f4f6f8);
        background-clip: padding-box;
        border-color: #c4cdd5;

        .dark & {
            background: linear-gradient(180deg, var(--color-dark-550), var(--color-dark-600));
            background-clip: padding-box;
            border-color: var(--color-dark-500);
        }
    }

    span {
        font-size: 18px;
        width: 32px;
    }
}

/* GROUP BUTTON GROUP
=================================================== */
.btn-group {
    @apply flex cursor-auto items-center justify-start p-0;
    height: 2.375rem;

    button {
        @apply rounded-none;
    }

    button:not(:last-child):not(.active) {
        @apply ltr:border-r-0 rtl:border-l-0;
    }

    button.active + button {
        @apply ltr:border-l-0 rtl:border-r-0;
    }

    button:first-child {
        @apply ltr:rounded-l rtl:rounded-r;
    }

    button.disabled {
        @apply opacity-75;
    }

    button:last-child {
        @apply ltr:rounded-r ltr:border-l rtl:rounded-l rtl:border-r;
        padding: 0.475rem 0.5rem;
        &.btn-flat {
            @apply ltr:border-r-0 rtl:border-l-0;
        }
    }
    .btn:focus {
        @apply ring-inset;
    }
}

/* GROUP BUTTONS / WITH ICONS
=================================================== */
.btn-icon {
    padding: 1px 8px;
    border-radius: 2px;
}

.btn-primary.btn-icon .icon,
.btn-primary.btn-with-icon .icon {
    color: #fff;
}

.btn-icon-small,
td .btn-icon {
    border-radius: 2px;
    height: 24px;
    line-height: 24px;
    padding: 1px 5px;
}

.btn-with-icon .icon {
    margin: -5px 7px 0 -3px;
    [dir='rtl'] & {
        margin: -5px -3px 0 7px;
    }
    position: relative;
    top: 1px;
}

.btn-with-icon {
    @apply flex items-center;

    svg {
        margin: 0 8px 0 -4px;
        [dir='rtl'] & {
            margin: 0 -4px 0 8px;
        }
        height: 16px;
        width: 16px;
    }
}

.btn-icon-only {
    @apply flex items-center;

    padding: 0 12px;
    svg {
        margin: 0;
        height: 16px;
        width: 16px;
    }
}

/* GROUP BUTTONS / CLOSE BUTTON (for closing things)
=================================================== */
.btn-close {
    @apply inline-flex h-8 w-8 shrink-0 items-center justify-center rounded-full p-0 text-center text-xl leading-none text-gray-600 outline-hidden dark:text-dark-150 ltr:ml-4 rtl:mr-4;

    &:hover {
        @apply bg-gray-400 dark:bg-dark-700;
    }

    &:active,
    &:focus:hover {
        outline: none;
        @apply bg-gray-500 dark:bg-dark-750;
    }
}

.btn-quick-action {
    @apply inline-flex size-8 shrink-0 items-center justify-center rounded-full p-0 text-center text-xl leading-none text-gray-600 outline-hidden dark:text-dark-150;

    &:hover {
        @apply hover:bg-gray-400/10 dark:bg-dark-700;
    }

    &:active,
    &:focus:hover {
        outline: none;
        @apply bg-gray-500 dark:bg-dark-750;
    }
}

.super-btn {
    @apply flex items-start gap-5 rounded-xl border border-transparent p-3 hover:bg-gray-50 rtl:space-x-reverse;
    @apply dark:hover:border-black/40 dark:hover:bg-black/20;

    svg {
        @apply h-8 w-8 mt-1 text-gray-600 dark:text-gray-500;
    }
}