@layer ui {
    /* BUTTON GROUP
    =================================================== */
    [data-ui-button-group] {
        /* Base styles for all buttons in groups */
        [data-ui-group-target] {
            /* Only the first child gets a left border. Exclude the floating toolbar from this, because we handle things slightly differently for that */
            &:not(:first-child, [data-floating-toolbar] *) {
                border-inline-start: 0;
            }
            /* With the floating toolbar, we instead only group buttons at higher MQs. At lower MQs the buttons are separated and have borders on all sides */
            @media (width >= 1024px) {
                [data-floating-toolbar] &:not(:first-child) {
                    border-inline-start: 0;
                }
            }

            &.btn-danger {
                box-shadow: none;
                @apply text-red-600;
                .dark & {
                    /* Override the default dark danger button. This needs to be overriden because .dark means it has greater specificity */
                    @apply text-red-500 from-gray-850 to-gray-900 hover:to-gray-850 hover:bg-gray-900 border-gray-700;
                }
            }
        }
    }
}
