/* Dropdown triggers should be pulled above by default, for example when you have a dropdown very close to a long horizontal replicator "plus" button, the dropdown should take precedence. */
[data-ui-dropdown-trigger] {
    z-index: var(--z-index-above);
}

.quick-list {
    @apply relative;

    .quick-list-content {
        @apply absolute right-full top-1/2 mr-[8px] flex min-w-max origin-right -translate-y-1/2 rounded-full bg-white p-0.5 shadow-sm transition dark:bg-dark-550;
        &::before {
            content: '';
            position: absolute;
            inset: -8px -8px -8px -20px;
            z-index: var(--z-index-below);
        }
        button,
        a {
            @apply flex shrink-0 rounded-full text-gray-900 dark:text-dark-100;
            &:hover {
                @apply text-white;
            }
        }
        &:empty {
            @apply hidden;
        }
    }

    button.warning,
    a.warning {
        @apply text-red-600;

        &:hover {
            @apply bg-red-600 text-white;
        }
    }

    &:not(:hover) {
        .quick-list-content {
            @apply pointer-events-none scale-[0.85] opacity-0;
        }
    }
}
