/* ==========================================================================
   BASE FORM ELEMENTS
   ========================================================================== */

label {
    @apply block text-sm font-normal leading-normal text-gray-800 dark:text-dark-150;
}

input {
    @apply placeholder:text-gray-600 dark:placeholder:text-dark-175;
}

input[type='checkbox'],
input[type='radio'] {
    @apply text-lg;
}

select {
    @apply cursor-pointer border-2 border-gray-300 bg-gray-300 text-base;
}

/* Text Fields
  ========================================================================== */

.input-text {
    @apply block w-full max-w-full appearance-none rounded-sm border bg-gray-100 p-2 text-sm text-gray-800 shadow-inner placeholder:text-gray-600 @lg:text-base;
    @apply dark:border-dark-900 dark:bg-dark-650 dark:text-dark-150  dark:placeholder:text-dark-175;
    transition:
        border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
    &:focus,
    &:focus-within {
        @apply outline-hidden ring-2 ring-blue-300 dark:ring-blue-600;
    }

    &:not(textarea) {
        height: 2.375rem;
    }
}

/*  Used inside tables, grids, and so on */
.input-text-minimal {
    @apply w-full appearance-none bg-white p-2 shadow-none dark:bg-dark-550;

    &:focus {
        @apply bg-gray-200 outline-hidden dark:bg-dark-600;
    }
}

/*  Needs an 'input' selector, otherwise when .input-text is used on a div, it's always considered read only. */
input.input-text:read-only,
textarea.input-text:read-only,
input.input-text-minimal:read-only,
.input-text.read-only {
    @apply bg-gray-300 text-gray-700 dark:bg-dark-600 dark:text-dark-200;
}

/* Input Groups
  ========================================================================== */

.input-group {
    @apply flex w-full appearance-none items-center rounded-sm p-0 text-gray-800;
    @apply dark:text-dark-150;
    height: 2.375rem;

    &:not(.focus-within-only):focus,
    &:not(.focus-within-only):focus-within {
        @apply ring-2 ring-blue-300;
        @apply dark:ring-blue-600;

        .input-text:focus,
        .input-group-prepend:focus,
        .input-group-append:focus,
        .input-group-item:focus {
            outline: 0;
            box-shadow: none;
        }
    }

    .input-text {
        @apply min-w-0 flex-1 border-gray-500;
        @apply dark:border-dark-900;
    }

    .input-text:not(:first-child) {
        @apply ltr:rounded-l-none ltr:border-l-0 rtl:rounded-r-none rtl:border-r-0;
    }

    .input-text:not(:last-child) {
        @apply ltr:rounded-r-none ltr:border-r-0 rtl:rounded-l-none rtl:border-l-0;
    }

    .input-text[dir='ltr']:not(:last-child) {
        @apply rtl:rounded-r rtl:border-r;
    }

    .input-group-prepend,
    .input-group-append,
    .input-group-item {
        @apply select-none border px-2 text-sm text-gray-800 dark:border-dark-900 dark:text-dark-150 ltr:rounded-l rtl:rounded-r;
        background: linear-gradient(180deg, #fff, #f9fafb);
        background-clip: padding-box;
        border: 1px solid #c4cdd6;
        box-shadow: 0 1px 0 0 rgba(25, 30, 35, 0.05);
        height: 2.375rem;
        line-height: 36px;

        .dark & {
            background: linear-gradient(180deg, var(--color-dark-500), var(--color-dark-600));
            background-clip: padding-box;
            border-color: var(--color-dark-900);
            box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.05);
        }

        &button {
            @apply cursor-pointer;
        }
    }

    &:has(.input-text) {
        .input-group-prepend,
        .input-group-append,
        .input-group-item {
            @apply dark:border-dark-900;
        }
    }

    &.focus-within-only {
        .input-text:focus,
        .input-group-prepend:focus,
        .input-group-append:focus,
        .input-group-item:focus {
            @apply focus-outline;
            z-index: 1;
        }
    }

    .input-group-item {
        @apply -mx-px ltr:rounded-l-none rtl:rounded-r-none;
    }

    button.input-group-item:hover:not(:disabled),
    button.input-group-item:active:not(:disabled),
    button.input-group-prepend:hover:not(:disabled),
    button.input-group-prepend:active:not(:disabled),
    button.input-group-append:hover:not(:disabled),
    button.input-group-append:active:not(:disabled) {
        background: linear-gradient(180deg, #f9fafb, #f4f6f8);
        background-clip: padding-box;
        border-color: #c4cdd5;

        .dark & {
            background: linear-gradient(180deg, var(--color-dark-550), var(--color-dark-600));
            background-clip: padding-box;
            border-color: var(--color-dark-900);
        }
    }

    .input-group-append {
        @apply ltr:rounded-l-none ltr:border-r-0 rtl:rounded-r-none rtl:border-l-0; /*  Rounded on the right side */
        &:last-child {
            @apply ltr:rounded-r ltr:border-r rtl:rounded-l rtl:border-l;
        }
    }

    > *:last-child[class*='input-group-'],
    > *:last-child [class*='input-group-'] {
        @apply ltr:rounded-r rtl:rounded-l;
    }
}

.input-group.input-group-sm {
    height: 1.625rem;
    .input-group-prepend,
    .input-group-append,
    .input-group-item {
        @apply text-xs;
        height: 1.625rem;
        line-height: 25px;
        padding: 0 12px;
    }
}

/* Radio and Checkbox Fields
  ========================================================================== */

.radio-fieldtype .option,
.checkboxes-fieldtype .option {
    @apply flex items-center;
    &:not(:first-child) {
        @apply mt-3;
    }

    input {
        @apply leading-normal ltr:mr-1 rtl:ml-1;
    }

    label {
        @apply flex items-center font-normal leading-none;
    }
}

.radio-fieldtype .inline-mode,
.checkboxes-fieldtype .inline-mode {
    @apply flex flex-wrap items-center;

    .option {
        @apply mb-3 ltr:mr-4 rtl:ml-4;
        &:first-child {
            @apply mt-3;
        }
    }
}

.radio-box {
    @apply relative h-full cursor-pointer rounded-sm border p-4;
    &.selected {
        @apply border-blue text-blue shadow;
    }
}

/* Select Fields
  ========================================================================== */
.select-input-container {
    @apply relative rounded-sm;

    select {
        @apply relative block h-full w-full max-w-full cursor-pointer text-sm text-gray-800 shadow-sm dark:text-dark-150 ltr:text-left rtl:text-right;
        @apply select-none appearance-none whitespace-nowrap rounded-sm align-middle leading-normal subpixel-antialiased;

        background: linear-gradient(180deg, #fff, #f9fafb);
        background-clip: padding-box;
        border: 1px solid #c4cdd6;
        height: 2.375rem; /*  38px */
        letter-spacing: -0.01em;
        padding: 0.475rem 1.75rem 0.475rem 0.75rem;
        [dir='rtl'] & {
            padding: 0.475rem 0.75rem 0.475rem 1.75rem;
        }

        .dark & {
            background: linear-gradient(180deg, var(--color-dark-500), var(--color-dark-600));
            background-clip: padding-box;
            border-color: var(--color-dark-800);
        }

        &:hover:not(:disabled),
        &:active:not(:disabled) {
            background: linear-gradient(180deg, #f9fafb, #f4f6f8);
            background-clip: padding-box;
            border-color: #c4cdd5;

            .dark & {
                background: linear-gradient(180deg, var(--color-dark-700), var(--color-dark-750));
                background-clip: padding-box;
                border-color: var(--color-dark-900);
            }
        }
    }

    .select-input-toggle {
        @apply pointer-events-none absolute inset-y-0 flex items-center px-2 text-gray-900 dark:text-dark-150 ltr:right-0 rtl:left-0;

        svg {
            @apply h-4 w-4 fill-current;
        }
    }
}

label .required {
    @apply text-red-500;
    font-style: normal;

    + .localizable-icon {
        margin-left: 5px;
        [dir='rtl'] & {
            margin-right: 5px;
            margin-left: 0;
        }
    }
}

input[type='file'] {
    padding: 16px;
    height: auto;
    line-height: 1;
}

.filter-control {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    font-size: 14px;
    line-height: 1.5;
    position: relative;

    &.search {
        height: 34px !important;
    }
}

.help-block {
    width: 100%;
}

/* Form groups
  ========================================================================== */
.form-group {
    @apply m-0 p-3 @sm:p-4 @lg:p-6;

    label {
        font-weight: 500;
    }

    .input-with-loader + .help-block {
        margin-top: 0;
    }

    &.form-grid,
    .form-grid {
        input,
        textarea {
            background: none;
            box-shadow: none;
        }
    }
}

.form-group.inline {
    display: flex;
    align-items: stretch;
    padding: 0 !important;
    margin: 0 !important;

    .form-group {
        flex-basis: auto;
    }

    .major {
        flex: 1;
    }
}

.help-block {
    @apply mb-2 block text-xs text-gray-700 dark:text-dark-150/70;
    a {
        @apply text-gray-800 underline dark:text-dark-175;
        &:hover {
            @apply text-blue dark:text-dark-blue-100;
        }
    }
}

.slug-field .input-text {
    @apply font-mono text-xs;
}
