/* ==========================================================================
   ICONS
   ========================================================================== */

svg {
    display: inline;
    max-width: 100%;
    max-height: 100%;
    vertical-align: baseline;
}

.heroicon-component-accent {
    fill: theme('colors.blue.DEFAULT');
}


.icon-status, .little-dot {
	border-radius: 7px;
	display: inline-block;
	height: 7px;
	position: relative;
	width: 7px;
    flex-shrink: 0;

    &.published { @apply bg-green-light }
    &.draft, &.expired { @apply bg-gray-600 }
    &.scheduled, &.hollow { @apply bg-transparent border border-gray-600 }
}

.icon-status-draft {
	@apply bg-gray-700;
}

.icon-status-hidden {
    @apply border border-gray-700;
}

.icon-status-live {
	@apply bg-green;
}

.icon-status-error {
	@apply bg-red;
}

.icon-status-warning {
    @apply bg-yellow-dark;
}

.icon-header-avatar {
    height: 32px;
    width: 32px;
    line-height: 32px;
    @apply rounded-full shadow overflow-hidden;
}

.icon-user-initials {
    @apply text-center text-white text-2xs bg-pink;
}

.svg-icon {
    @apply w-4 h-4;

	&.using-svg {
		@apply flex items-center;
	}

	svg {
		width: 100%;
		height: 100%;
	}

	div {
		padding-top: 100%;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: 50% 50%;
	}
}


/* Font Awesome - used in Bard's MediumEditor implementation
  ========================================================================== */

[class^="fa-"], [class*=" fa-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fontawesome' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-check:before { content: "\f00c"; }
.fa-close:before { content: "\f00d"; }
.fa-remove:before { content: "\f00d"; }
.fa-times:before { content: "\f00d"; }
.fa-bold:before { content: "\f032"; }
.fa-italic:before { content: "\f033"; }
.fa-align-left:before { content: "\f036"; }
.fa-align-center:before { content: "\f037"; }
.fa-align-right:before { content: "\f038"; }
.fa-align-justify:before { content: "\f039"; }
.fa-list:before { content: "\f03a"; }
.fa-dedent:before { content: "\f03b"; }
.fa-outdent:before { content: "\f03b"; }
.fa-indent:before { content: "\f03c"; }
.fa-image:before { content: "\f03e"; }
.fa-photo:before { content: "\f03e"; }
.fa-picture-o:before { content: "\f03e"; }
.fa-chain:before { content: "\f0c1"; }
.fa-link:before { content: "\f0c1"; }
.fa-list-ul:before { content: "\f0ca"; }
.fa-list-ol:before { content: "\f0cb"; }
.fa-strikethrough:before { content: "\f0cc"; }
.fa-underline:before { content: "\f0cd"; }
.fa-quote-right:before { content: "\f10e"; }
.fa-code:before { content: "\f121"; }
.fa-superscript:before { content: "\f12b"; }
.fa-subscript:before { content: "\f12c"; }
.fa-eraser:before { content: "\f12d"; }
.fa-file-image-o:before { content: "\f1c5"; }
.fa-file-photo-o:before { content: "\f1c5"; }
.fa-file-picture-o:before { content: "\f1c5"; }
.fa-header:before { content: "\f1dc"; }
.fa-paint-brush:before { content: "\f1fc"; }
