/* ==========================================================================
   TABLES
   ========================================================================== */

.data-list-header {
    @apply flex flex-wrap items-center px-4 py-3;
}

.data-list-search-input {
    /*  @apply text-sm px-4 py-2 flex-1 rounded border; */
    @apply bg-white;

    &:focus {
        @apply focus-outline;
    }
}

.data-list-bulk-actions {
    @apply absolute z-1 w-full bg-white py-2 dark:bg-gray-700;
    padding-left: 56px;
    [dir='rtl'] & {
        padding-right: 56px;
        padding-left: 0;
    }
}

.mode-grid .data-list-bulk-actions {
    @apply static z-10 w-full bg-white pb-1 pt-3 dark:bg-gray-800 ltr:pl-4 rtl:pr-4;
}

.mode-grid .rotating-dots-button {
    @apply bg-white dark:bg-gray-400;
}

.data-list-footer {
    @apply flex items-center border-t py-3 ltr:pr-4 rtl:pl-4;
}

.data-table {
    @apply w-full max-w-full text-gray-700 outline-hidden dark:text-gray-100 ltr:text-left rtl:text-right;
    overflow-x: auto;

    thead {
        @apply bg-gray-100 text-xs text-gray-900;
        @apply dark:bg-gray-700 dark:text-dark-100;

        tr {
            @apply border-b dark:border-dark-900;
        }

        th {
            @apply whitespace-nowrap px-4 py-3 font-medium;
            &:first-child {
                @apply ltr:rounded-tl-lg rtl:rounded-tr-lg;
            }
            &:last-child {
                @apply ltr:rounded-tr-lg rtl:rounded-tl-lg;
            }
            &:hover {
                @apply text-gray-900 dark:text-dark-100;
            }
        }
        th.handle-column {
            @apply w-4 p-0;
        }
        .type-column {
            @apply ltr:text-right rtl:text-left;
        }
    }

    tbody {
        outline: none;
        tr {
            @apply border-b border-gray-400 text-sm dark:border-dark-900;

            &.row-selected {
                @apply bg-gray-200 dark:bg-gray-600;
            }

            &:first-child {
                td:first-child,
                th:first-child {
                    @apply ltr:rounded-tl-md rtl:rounded-tr-md;
                }

                td:last-child,
                th:last-child {
                    @apply ltr:rounded-tr-md rtl:rounded-tl-md;
                }
            }

            &:last-child {
                @apply border-none;

                td:first-child,
                th:first-child {
                    @apply ltr:rounded-bl-md rtl:rounded-br-md;
                }

                td:last-child,
                th:last-child {
                    @apply ltr:rounded-br-md rtl:rounded-bl-md;
                }
            }

            &:hover {
                @apply bg-gray-50 dark:bg-white/10;
            }

            th {
                @apply py-2 ltr:pr-4 rtl:pl-4;
            }

            td {
                @apply break-words px-4 py-2;
            }

            td.table-drag-handle {
                @apply h-full w-1 px-0 py-2 ltr:border-r rtl:border-l;
            }
        }

        .type-column {
            @apply ltr:text-right rtl:text-left;
        }
    }

    .sortable-column {
        @apply cursor-pointer select-none;

        &:hover {
            @apply text-blue-500 dark:text-dark-blue-100;
        }

        &.current-column {
            svg {
                opacity: 1;
            }
        }

        svg {
            opacity: 0;
        }

        svg.asc {
            transform: scaleY(-1);
        }
    }

    .date-index-field {
        @apply whitespace-nowrap;
    }
}

/* Sticky Meta Columns */
.data-table {
    thead th.checkbox-column {
        @apply sticky z-1 p-0 ltr:-left-px ltr:pr-2 rtl:-right-px rtl:pl-2;
        width: 45px;
        min-width: 45px;
        &:after {
            @apply absolute bottom-0 top-0 -z-1 ltr:left-0 ltr:right-0 rtl:left-0 rtl:right-0;
            content: '';
            background-image: linear-gradient(to right, var(--color-gray-100) 70%, --theme(--color-gray-100 / 0%) 100%);

            .dark & {
                background-image: linear-gradient(
                    to right,
                    var(--color-dark-550) 70%,
                    --theme(--color-dark-550 / 0%) 100%
                );
            }
        }

        &:has(input:checked) {
            &:after {
                .dark & {
                    background-image: linear-gradient(
                        to right,
                        var(--color-gray-700) 70%,
                        --theme(--color-gray-700 / 0%) 100%
                    );
                    @apply border-b border-gray-500;
                }
            }
        }
    }

    thead th.actions-column {
        @apply sticky p-0 ltr:-right-px ltr:pl-2 ltr:text-right rtl:-left-px rtl:pr-2 rtl:text-left;
        width: 45px;
        min-width: 45px;
        &:after {
            @apply absolute bottom-0 top-0 -z-1 ltr:left-0 ltr:right-0 rtl:left-0 rtl:right-0;
            content: '';
            background-image: linear-gradient(to left, var(--color-gray-100) 70%, --theme(--color-gray-100 / 0%) 100%);

            .dark & {
                background-image: linear-gradient(
                    to left,
                    var(--color-dark-550) 70%,
                    --theme(--color-dark-550 / 0%) 100%
                );
            }
        }

        &:has(input:checked) {
            &:after {
                .dark & {
                    background-image: linear-gradient(
                        to left,
                        var(--color-dark-700) 70%,
                        --theme(--color-dark-700 / 0%) 100%
                    );
                    @apply border-b border-dark-550;
                }
            }
        }
    }

    tbody th.checkbox-column {
        @apply sticky px-3 ltr:-left-px rtl:-right-px;
        &:after {
            @apply absolute bottom-0 top-0 -z-1 ltr:left-0 ltr:right-0 rtl:left-0 rtl:right-0;
            content: '';
            background-image: linear-gradient(to right, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 0) 100%);

            .dark & {
                background-image: linear-gradient(
                    to right,
                    var(--color-dark-600) 70%,
                    --theme(--color-dark-600 / 0%) 100%
                );
            }
        }
    }

    tbody th.actions-column {
        @apply sticky p-0 ltr:-right-px ltr:pl-2 ltr:text-right rtl:-left-px rtl:pr-2 rtl:text-left;
        min-width: 45px;
        width: 45px;
        &:after {
            @apply absolute bottom-0 top-0 -z-1 ltr:left-0 ltr:right-0 rtl:left-0 rtl:right-0;
            content: '';
            background-image: linear-gradient(to left, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 0) 100%);

            .dark & {
                background-image: linear-gradient(
                    to left,
                    var(--color-dark-600) 70%,
                    --theme(--color-dark-600 / 0%) 100%
                );
            }
        }
    }

    tbody tr.row-selected .checkbox-column:after {
        background-image: linear-gradient(to right, var(--color-gray-200) 70%, --theme(--color-gray-200 / 0%) 100%);

        .dark & {
            background-image: linear-gradient(to right, var(--color-dark-600) 70%, --theme(--color-dark-600 / 0%) 100%);
        }
    }

    tbody tr.row-selected .actions-column:after {
        background-image: linear-gradient(to left, var(--color-gray-200) 70%, --theme(--color-gray-200 / 0%) 100%);

        .dark & {
            background-image: linear-gradient(to left, var(--color-dark-600) 70%, --theme(--color-dark-600 / 0%) 100%);
        }
    }

    tbody tr:hover .checkbox-column:after {
        background-image: linear-gradient(to right, var(--color-gray-100) 70%, --theme(--color-gray-100 / 0%) 100%);

        .dark & {
            background-image: linear-gradient(to right, var(--color-dark-500) 70%, --theme(--color-dark-500 / 0%) 100%);
        }
    }

    tbody tr:hover .actions-column:after {
        background-image: linear-gradient(to left, var(--color-gray-100) 70%, --theme(--color-gray-100 / 0%) 100%);

        .dark & {
            background-image: linear-gradient(to left, var(--color-dark-500) 70%, --theme(--color-dark-500 / 0%) 100%);
        }
    }
}

.data-list-header ~ .data-table {
    thead th {
        border-radius: 0;
    }
}

.data-list-filter-link {
    @apply border-gray-400 p-3 pb-2 text-gray-600 dark:border-dark-900 dark:text-dark-150 ltr:mr-2 rtl:ml-2;

    &:hover {
        @apply border-b-3 text-gray-700 dark:border-dark-900 dark:text-dark-100;
    }

    &:focus {
        @apply border-blue-300 dark:border-dark-blue-100;
        outline: 0;
        box-shadow: inset 0 0 0 0.2rem rgba(0, 125, 255, 0.25);
    }

    &.active {
        @apply border-b-3 border-blue text-gray-800 dark:border-dark-blue-100 dark:text-dark-100;
    }
}

td.table-drag-handle {
    @apply h-full w-3 p-2 dark:border-dark-900 ltr:border-r rtl:border-l;
    min-width: 16px;
    cursor: grab;
    background: var(--color-gray-200) url('../../svg/icons/light/drag-dots.svg') center center no-repeat;
    background-size: 7px 17px;

    .dark & {
        background-color: var(--color-dark-700);
    }

    &:hover {
        @apply bg-gray-300 dark:bg-gray-700;
    }
}

.table-row-placeholder {
    background: hsla(210, 30%, 95%, 1);
}

.delete-column {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 22px;
    color: #777;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    line-height: 1;
    text-align: center;
    height: 22px;
    width: 22px;
    float: right;
    [dir='rtl'] & {
        float: left;
    }
    cursor: pointer;

    &:hover {
        box-shadow: none;
        color: #555;
    }
}

.column-sortable {
    cursor: pointer;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
        [dir='rtl'] & {
            left: auto;
            right: 0;
        }
        right: 0;
        [dir='rtl'] & {
            right: auto;
            left: 0;
        }
        height: 2px;
    }

    &:hover:before {
        @apply bg-gray-300;
    }
    &.active:before {
        @apply bg-blue;
    }
    .icon {
        position: relative;
        float: right;
        [dir='rtl'] & {
            float: left;
        }
        top: 6px;
        right: 5px;
        [dir='rtl'] & {
            right: auto;
            left: 5px;
        }
    }

    .icon,
    .icon:before {
        line-height: 0;
    }
}

.column-status {
    text-align: center;
    width: 80px;
}

.column-actions {
    @apply ltr:text-right rtl:text-left;
    width: 30px;
}

table.control {
    @apply select-none;
}

.flush table.control {
    tr th:first-child {
        padding-left: 30px;
        [dir='rtl'] & {
            padding-right: 30px;
            padding-left: 0;
        }
    }
}

/* Index Fields
  ========================================================================== */

.bard-index-field,
.code-index-field,
.markdown-index-field,
.text-index-field,
.textarea-index-field {
    @apply line-clamp-2 text-xs;
}

.title-index-field {
    @apply line-clamp-2;
    min-width: 10vw;
}

.relationship-index-field {
    min-width: 10vw;
    .relationship-index-field-item {
        @apply flex items-center rounded-sm border bg-gray-100 px-1 text-2xs dark:border-dark-400 dark:bg-gray-500 ltr:mr-1 rtl:ml-1;
        a {
            @apply line-clamp-1;
        }
    }
}

.date-index-field {
    @apply whitespace-nowrap text-gray-800 dark:text-dark-150;
}

.slug-index-field {
    @apply line-clamp-2 font-mono text-2xs;
}

.status-index-field {
    @apply inline-block shrink justify-center rounded-full bg-gray-300 px-2 py-0.5 text-center text-xs text-gray-800 dark:bg-gray-200 dark:text-dark-150;

    &.status-published:not(.status-private) {
        @apply bg-green-200 text-green-900 dark:bg-green-300 dark:text-green-950;
    }

    &.status-scheduled {
        @apply bg-amber-200 text-amber-900 dark:bg-amber-300 dark:text-amber-950;
    }
}

.role-index-field,
.groups-index-field {
    @apply -mb-1.5 flex flex-wrap;

    .role-index-field-item,
    .groups-index-field-item {
        @apply mb-1 line-clamp-1 inline-block rounded-sm border bg-gray-100 px-1 text-2xs dark:border-dark-900 dark:bg-gray-700;
    }
}
