/* ==========================================================================
   TABLES
   ========================================================================== */

.data-list-header {
    @apply p-4 pb-2 flex flex-wrap items-center;
}

.data-list-search-input {
	/*  @apply text-sm px-4 py-2 flex-1 rounded border; */
	@apply bg-white;

	&:focus {
		@apply focus-outline;
	}
}

.data-list-bulk-actions {
	@apply bg-white absolute w-full pt-4 z-10;
	padding-left: 56px;
}

.mode-grid .data-list-bulk-actions {
	@apply bg-white w-full pt-2 z-10 pl-4 static;
}

.mode-grid .rotating-dots-button {
    @apply bg-white;
}

.data-list-footer {
    @apply py-3 pr-4 flex items-center border-t;
}

.data-table {
	@apply text-left text-grey outline-none max-w-full w-full;
	overflow-x: auto;

    thead {
		/*  @apply bg-grey-200 text-grey-900 uppercase text-2xs tracking-widest outline-none; */
		@apply text-sm text-grey-700 text-grey-900;

		tr {
			@apply border-b;
		}

        th {
            @apply font-medium px-4 pt-4 pb-2;
            &:first-child { @apply rounded-tl; }
			&:last-child { @apply rounded-tr; }
			&:hover {
				@apply text-grey-900;
			}
		}
		.type-column {
			text-align: right;
		}
		.actions-column {
			@apply p-0 pr-4 text-right;
			width: 24px;
		}
	}

    tbody {
		outline: none;
        tr {
			@apply border-b text-sm;

			&.row-selected {
				@apply bg-grey-200;
			}

			&:first-child {
				td:first-child {
				    @apply rounded-tl;
				}

				td:last-child {
				    @apply rounded-tr;
				}
			}

			&:last-child {
				@apply border-none;
				td:first-child {
				    @apply rounded-bl;
				}

				td:last-child {
				    @apply rounded-br;
				}
			}

            &:hover {
                @apply bg-grey-100;
            }

            th {
                @apply py-2 pr-4;
            }

            td {
                @apply py-2 px-4 break-words;
            }
		}
		.type-column {
			text-align: right;
		}
		.actions-column {
			@apply p-0 text-right;
			width: 24px;
			.rotating-dots-button {
				margin-right: 18px;
			}
		}
    }

    .checkbox-column {
		@apply w-4 pr-0 relative z-10;
		padding-left: 20px;
    }

    .sortable-column {
        @apply cursor-pointer select-none;

        &:hover {
			@apply text-blue-500;
        }

        &.current-column {
            @apply font-bold;
            svg { opacity: 1; }
        }

        svg {
            /*  transition: all 150ms ease; */
            opacity: 0;
        }

        svg.asc {
            transform: scaleY(-1);
        }
	}

	.sortable-row.draggable-mirror {
		display: none;
	}

    .date-index-field {
        @apply whitespace-nowrap;
    }
}

@screen md {
	.data-table {
		@apply w-full table;
	}
}

.data-list-header ~ .data-table {
    thead th {
        border-radius: 0;
    }
}

.data-list-filter-link {
	@apply border-grey-400 text-grey-600 mr-2 p-3 pb-2;

	&:hover {
		@apply border-b-3 text-grey-700;
	}

	&:focus {
		@apply border-blue-light;
		outline: 0;
		box-shadow: inset 0 0 0 0.2rem rgba(0,125,255,.25);
	}

	&.active {
		@apply border-b-3 border-blue text-grey-800;
	}
}

td.table-drag-handle {
	@apply w-3 border-r h-full p-2;
	cursor: grab;
	background: theme('colors.grey.200') url('../svg/drag-dots.svg') center center no-repeat;
	&:hover { @apply bg-grey-300; }
}

.table-row-placeholder {
	background: hsla(210, 30%, 95%, 1);
}

.delete-column {
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 22px;
	color: #777;
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
	line-height: 1;
	text-align: center;
	height: 22px;
	width: 22px;
	float: right;
	cursor: pointer;

	&:hover {
		box-shadow: none;
		color: #555;
	}
}

.column-sortable {
	cursor: pointer;
	position: relative;

	&:before {
		content: "";
		position: absolute;
		bottom: -1px;
		left: 0;
		right: 0;
		height: 2px;
	}

	&:hover:before {
        @apply bg-grey-300;
	}
	&.active:before {
        @apply bg-blue;
    }
	.icon {
        position: relative;
        float: right;
        top: 6px;
        right: 5px;
	}

	.icon, .icon:before {
		line-height: 0;
	}
}

.column-status {
	text-align: center;
	width: 80px;
}

.column-actions {
	text-align: right;
	width: 30px;
}

table.control {
    @apply select-none;
}

.flush table.control {
    tr th:first-child {
        padding-left: 30px;
    }
}
