/* ==========================================================================
   TABLES
   ========================================================================== */

.data-list-search-input {
    @apply bg-white;

    &:focus {
        @apply focus-outline;
    }
}

.data-table {
    @apply w-full max-w-full outline-hidden text-gray-500 antialiased border-separate border-spacing-y-0 min-w-full overflow-x-auto text-start;

    &.contained {
        @apply rounded-xl;
    }

    thead {
        th {
            @apply whitespace-nowrap text-sm font-medium text-gray-900 dark:text-gray-300 text-start;
            @apply px-4 py-2;

            .contained & {
                @apply py-2.5 border-b;
            }
        }

        th.handle-column {
            @apply w-4 p-0;
        }

        .type-column {
            @apply text-end;
        }
    }

    tbody {
        @apply text-sm bg-white dark:bg-gray-900 shadow-sm rounded-xl outline-none;
        .contained & {
            @apply shadow-none rounded-none;
        }

        tr {
            &:first-child {
                td:first-child,
                th:first-child {
                    @apply ltr:rounded-tl-xl rtl:rounded-tr-xl;
                }

                td:last-child,
                th:last-child {
                    @apply ltr:rounded-tr-xl rtl:rounded-tl-xl;
                }

                td {
                    @apply border-0;
                }
            }

            &:last-child {
                @apply border-none;

                td:first-child,
                th:first-child {
                    @apply ltr:rounded-bl-xl rtl:rounded-br-xl;
                }

                td:last-child,
                th:last-child {
                    @apply ltr:rounded-br-xl rtl:rounded-bl-xl;
                }
            }

            &:hover {
                @apply bg-gray-50 dark:bg-white/2.5;
            }

            th {
                @apply py-2 ltr:pr-4 rtl:pl-4;
            }

            td {
                @apply pl-4.5 pr-2.5 py-3 border-t border-gray-200 dark:border-white/10;
                @apply text-gray-900 dark:text-gray-200;
            }

            td.table-drag-handle {
                @apply h-full w-1 px-0 py-2 border-e;
            }
        }

        .type-column {
            @apply text-end;
        }
    }

    .date-index-field {
        @apply whitespace-nowrap;
    }
}

/* Sticky Meta Columns */
.data-table {
    thead th.checkbox-column {
        @apply sticky z-1 ps-3 w-8;
        .contained & {
            @apply sticky ps-4;
        }
    }

    thead .actions-column {
        @apply sticky p-0 -end-px ps-2 text-end;
        width: 45px;
        min-width: 45px;
    }

    tbody .checkbox-column {
        @apply sticky px-3 -start-px;
        .contained & {
            @apply sticky ps-4;
        }
    }

    tbody .actions-column {
        @apply sticky p-0 ps-2 text-end w-12;
    }
}

/* Row Selection */

.data-table[data-has-selections] {
    tbody tr[data-row="unselected"] td {
        @apply text-gray-500! dark:text-gray-400!;
    }
}

.table-drag-handle {
    @apply h-full w-3 p-2 dark:border-dark-900 border-e;
    min-width: 16px;
    cursor: grab;
    background: var(--color-gray-200) url('../../svg/icons/light/drag-dots.svg') center center no-repeat;
    background-size: 7px 17px;

    .dark & {
        background-color: var(--color-dark-700);
    }

    &:hover {
        @apply bg-gray-300 dark:bg-gray-700;
    }
}

.column-sortable {
    @apply cursor-pointer relative;
}

.column-status {
    text-align: center;
    width: 80px;
}

.column-actions {
    @apply text-end w-12;
}


/* Index Fields
  ========================================================================== */

.bard-index-field,
.code-index-field,
.markdown-index-field,
.textarea-index-field {
    @apply line-clamp-2 text-xs;
}

.title-index-field {
    @apply text-sm font-medium line-clamp-2 flex items-center gap-2 hover:text-black dark:hover:text-white;
    min-width: 15vw;
    max-width: 30vw;
}

.date-index-field {
    @apply whitespace-nowrap;
}

.slug-index-field {
    @apply line-clamp-2 font-mono text-xs;
}

.status-index-field {
    @apply inline-block shrink justify-center rounded-full bg-gray-300 px-2 py-0.5 text-center text-xs text-gray-900 dark:bg-gray-300/5 dark:text-dark-150;

    &.status-published:not(.status-private) {
        @apply bg-green-200 text-green-900 dark:bg-green-300/5 dark:text-green-300;
    }

    &.status-scheduled {
        @apply bg-amber-200 text-amber-900 dark:bg-amber-300 dark:text-amber-950;
    }
}

.role-index-field,
.groups-index-field {
    @apply -mb-1.5 flex flex-wrap;

    .role-index-field-item,
    .groups-index-field-item {
        @apply mb-1 line-clamp-1 inline-block rounded-sm border bg-gray-100 px-1 text-2xs dark:border-dark-900 dark:bg-gray-700;
    }
}
