/* ==========================================================================
   ALERTS
   ========================================================================== */

.sweet-alert button {
	@apply .text-base .rounded .bg-primary;
}

