/* ==========================================================================
   ASSETS
   ========================================================================== */

// only used in the folder editor now.
.asset-modal {
	// Saving overlay
	.saving {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 200;
		background: rgba(white, .9);
		display: flex;
		align-items: center;
		border-radius: 3px;

		.inner {
			text-align: center;
			padding: 50px;
			margin: 0 auto;
		}

		i {
			position: relative;
			top: -1px;
			margin-right: 10px;
		}
	}
}

.drag-notification {
    @apply text-lg absolute inset-0 text-center rounded flex items-center justify-center;
    border: 1px dashed theme('colors.grey-60');
    pointer-events: none;
    z-index: 1049;
    background: rgba(white, .9);
}


 /* Table Listing
   ========================================================================== */

.asset-table-listing {
	position: relative;

    table {
        @apply select-none border w-full rounded-b;
        margin: 0;
    }

    tbody tr {
        @apply border-b outline-none;
    }

    tbody tr td {
        @apply p-1;
    }

}

.asset-listing .actions {
    margin-bottom: 15px;
    display: flex;

    .search {
        flex: 1;
        margin-right: 15px;
        margin-left: 0;
    }

    > .btn {
        margin-right: 15px;
    }
}





/* Fieldtype
  ========================================================================== */

.assets-fieldtype .draggable-mirror { display: none; }

.assets-fieldtype .extremely-narrow .asset-grid-listing {
    grid-template-columns: 1fr;
}

.assets-fieldtype .really-narrow .asset-table-listing .asset-filesize {
    display: none;
}

.assets-fieldtype .extremely-narrow .asset-table-listing .asset-set-alt {
    display: none;
}

  /* Grid Listing
  ========================================================================== */

.asset-grid-listing {
    @apply bg-white grid relative;
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
    grid-gap: 16px;
    padding: 16px;

    .asset-tile {
        @apply flex items-center flex-col justify-between cursor-pointer border rounded;

        .asset-thumb-container {
            @apply flex items-center flex-1 w-full justify-center relative;
            aspect-ratio: 1 / 1;
        }
    }
}



/* Solo Asset (max_files: 1)
  ========================================================================== */

.asset-solo-container {

    .asset-tile {
        padding: 0;
        max-width: 300px;
    }

    .asset-tile .asset-thumb {
        img,
        .svg-img {
            height: auto;
            width: 100%;
            max-width: 100%;
            max-height: 100%;
        }
    }

    .asset-tile .asset-meta {
         max-width: 100%;
    }
}


 /* Asset Tile
   ========================================================================== */

.asset-tile {
    @apply bg-white;
    min-width: 0;
    position: relative;

    .asset-thumb {
        @apply flex justify-center items-center;
        > img, > svg, > .svg-img {
            @apply max-h-full max-w-full absolute;
        }
    }

    .asset-meta {
        @apply border-t w-full;
        font-size: 12px;
        color: $color_gray_light;
    }

    .asset-filename {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .asset-controls {
        @apply absolute hidden;
    }

    .asset-thumb-container:hover .asset-controls {
        display: block;
    }

    &.is-selected {
        background: rgba($color_dark_blue, .07);
        border-radius: 4px;
    }
}

.asset-tile.selected {
    @apply border-blue;
    box-shadow: 0 0 0 1px theme('colors.blue');

}

/* The Asset Editor
  ========================================================================== */

@media all and (max-width: 800px) {
    .asset-editor-meta-items .meta-item {
        display: none;
    }
}

.asset-editor {
    display: flex;
    flex-direction: column;
    position: relative;
    background: white;
    height: 100%;

    .loading {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        background: rgba(white, 0.7);
        @apply flex items-center justify-center;
    }

    .editor-main {
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
    }

    .editor-preview {
        flex-basis: 64%;
        flex-grow: 1;
    }

    .editor-form {
        flex-basis: 36%;
    }

    .editor-meta {
        display: flex;
        border-bottom: 1px solid #e0e0e0;
    }
}

.asset-editor-meta-items {
    @apply flex flex-1 items-center;

    .meta-item {
  		@apply flex items-start flex-col border-l px-2 h-full justify-center;
      cursor: text;
    }

    .meta-label {
		@apply block p-0 text-sm text-grey-80;
    }

	.meta-value {
		@apply block p-0 text-xs text-grey-60;
    }
}

.asset-editor-meta-actions {
    display: flex;
    align-items: center;
    height: 60px;

    button {
        display: block;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 25px;

        &:not(:first-child) {
            border-left: 1px solid $border;
        }
        svg { opacity: .75; }
        &:hover svg { opacity: 1; }
    }
}

.asset-editor .editor-preview {
	@apply bg-grey-80 flex flex-col justify-between;

    .editor-preview-image {
        flex: 1;
        padding: 30px;
        display: flex;
        flex-direction: column;
    }

    .image-wrapper {
        flex: 1 1 auto;
        position: relative;

        > * {
            @apply absolute w-auto h-auto max-w-full max-h-full;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            box-shadow: 0 0 32px rgba(0, 0, 0, .35);
        }
    }

    .editor-file-actions {
		@apply bg-grey-90 p-2 text-center h-16;

        button {
            @apply mx-sm;
        }
    }
}

.asset-thumbnail {
    border: 1px solid white;
}

/* Lazyloading
  ========================================================================== */

.lazyload,
.lazyloading {
	opacity: 0;

}
.lazyloaded {
	opacity: 1;
	transition: opacity 180ms;
}
