/* ==========================================================================
   BLUEPRINTS
   ========================================================================== */

.blueprint-section {
    @apply p-1 min-h-48 outline-none;

    &.draggable-source--is-dragging {
        opacity: 0.5;
    }

    &.draggable-mirror .blueprint-section-card {
        @apply shadow-lg;
    }
}

.blueprint-drag-handle {
    @apply flex-none;
    cursor: move;
    background: rgba(black, 0.01) url('../svg/drag-dots.svg') 50% 50% no-repeat;
}

.blueprint-section-field {
    @apply relative mb-1 px-sm z-10 outline-none;

    .blueprint-section-field-inner {
        @apply relative border rounded bg-grey-20 shadow-sm flex outline-none z-10;
    }

    &.draggable-source--is-dragging {
        opacity: 0.5;
    }

    &.draggable-mirror {
        @apply shadow-lg;
    }
}

// Use specific selector because we don't want it to happen
// when used inside  a grid field configuratormajig.
.blueprint-section .blueprint-section-field-actions > div {
    @apply w-1/2;
}

.blueprint-section-import {
    &:before {
        content: '';
        @apply border rounded absolute bg-grey-20 shadow-sm;
        top: -3px; left: 6px; right: 0; bottom: 3px; z-index: 1;
    }
}

// These are applied here rather than the utility classes so they don't override
// the inline widths defined by the draggable library.
.blueprint-section-field-w-1\/4 { @apply w-1/4 };
.blueprint-section-field-w-1\/3 { @apply w-1/3 };
.blueprint-section-field-w-1\/2 { @apply w-1/2 };
.blueprint-section-field-w-2\/3 { @apply w-2/3 };
.blueprint-section-field-w-3\/4 { @apply w-3/4 };
.blueprint-section-field-w-full { @apply w-full };

.blueprint-add-section-container {
    @apply p-1 flex min-h-48;

    .draggable-container--is-dragging & {
        display: none;
    }
}

.blueprint-add-section-button {
    @apply relative w-full border border-grey-50 border-dashed rounded flex justify-center items-center text-grey-70;

    &:hover {
        @apply border-grey text-grey-100;
    }

    .blueprint-section-draggable-zone {
        @apply absolute inset-0 p-2;
    }

    .blueprint-section-field {
        @apply bg-white;
    }
}

.fieldtype-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}

.field-width-selector {
    @apply w-12;
    display: flex;
    height: 20px;
    position: relative;
    cursor: pointer;

    .field-width-label {
        @apply absolute text-4xs font-bold w-full text-center z-10 text-grey-70;
        top: 3px;
        pointer-events: none;
    }

    &:hover .field-width-label {
        opacity: 0.5;
    }

    .field-width-notch {
        @apply relative border border-grey-40 border-l-0;
        width: 8px;

        &.notch-25 {
            @apply border-l rounded-l-sm;
        }

        &.filled {
            @apply border-grey-40 border-r-0 bg-white;
            margin: -1px 0;
        }

        &.selected {
            @apply border-r rounded-r-sm;
        }
    }

    &.large {
        transform: scale(1.3);
        transform-origin: 0 0;
    }
}
