/* ==========================================================================
   BREADCRUMBS
   ========================================================================== */

.breadcrumbs {
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
    margin-top: -1px; // do this so we dont have to check if there are or aren't breadcrumbs.
    background: #fafafa;
    font-size: 13px;
    display: flex;

    a, .step {
        color: $color_dark_blue;
        padding: 5px 20px 5px 33px;
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:not(:last-child) {
            &:before, &:after {
                content: '';
                position: absolute;
                top: 0;
                border: 14px solid transparent;
                border-left-width: 10px;
                border-right-width: 0;
            }

            &:after {
                right: 0;
                border-left-color: $border;
                z-index: 1;
            }

            &:before {
                right: 1px;
                border-left-color: #fafafa;
                z-index: 2;
            }
        }

        &:hover {
            color: $brand-primary;
        }
    }


    .icon {
        position: absolute;
        top: 3px;
        left: 10px;
    }
}

.breadcrumbs.wizard {
    font-size: 15px;
    padding-left: 30px;
    border-top: 0;

    .step {
        padding: 10px 60px 10px 0;

        &:before, &:after { border: 21px solid transparent; }
        &:after { border-left-color: $border; }
        &:before { border-left-color: #fafafa; }
        &:hover { color: $color_dark_blue; }
        &.active { color: $brand-primary; }
    }
}
