/* ==========================================================================
   CARDS
   ========================================================================== */

.card {
    @apply .shadow .bg-white .rounded-md .p-1;
}

@screen md {
    .card { @apply .p-2; }
}
