.column-picker {
    margin: -3px -8px;
}

.column-picker-item {
    @apply text-sm outline-none flex items-center rounded select-none;
    padding: 3px 8px;

    &.sortable {
        cursor: grab;

        label {
            cursor: grab;
        }

        &:hover  {
            @apply bg-grey-20;
        }

        // Drag interaction
        &.draggable-mirror,
        &.draggable-source--is-dragging {
            @apply shadow;
        }
    }
}
