.column-picker {

}

.column-picker-item {
    @apply bg-white text-sm outline-none flex items-center rounded select-none;
    padding: 4px 8px;
    margin: -1px 0;

    &.sortable {
        cursor: grab;

        label {
            cursor: grab;
        }

        &:hover  {
            @apply bg-grey-20;
        }

        // Drag interaction
        &.draggable-mirror,
        &.draggable-source--is-dragging {
            // @apply bg-white;
            cursor: grabbing;
        }
    }
}

.draggable--is-dragging {
    cursor: grabbing;
}
