/* ==========================================================================
   CONFIGURE COMPONENT: A variation of the publish component
   ========================================================================== */

   .configure-section {
       .publish-fields .form-group:not(:last-child) {
           @apply border-b;
       }

       // Push toggle off to the right
       > .publish-fields > .toggle-fieldtype {
           @apply flex justify-between items-center;
           .help-block, .help-block p { @apply mb-0; }
           .field-inner { @apply pr-4; }
       }
   }
