.dossier {
    font-size: 14px;

    &, thead, thead tr, thead th {
        border: none;
    }

    tbody tr {
        border: none;
        &:not(:last-child) {
            border-bottom: solid 1px $color_border;
        }
    }

    .column-label {
        display: none;
    }

    .cell-title {
        font-size: 15px;
        .status { margin-right: 5px; }
    }

    @media all and (min-width: 768px) {
        .has-status-icon {
            display: flex;
            align-items: center;

            .status {
                flex-shrink: 0;
                margin-right: 15px;
            }
        }
    }

    .cell-slug {
        color: #777;
        font-family: $font_monospace;
        font-size: 12px;
        a { font-size: 13px; }
    }

    .checkbox-col {
        width: 44px;
    }

    .column-actions {
        width: 44px;
        text-align: center;
    }

    .checkbox-col label:before {
        margin-right: 0;
    }

    .img {
        display: flex;
        align-items: center;

        img {
            width: 25px;
            height: 25px;
            border-radius: 2px;
        }

        img + span {
            margin-left: 8px;
        }
    }
}

.dossier-table-wrapper {
    .bulk-actions {
        padding: 16px;
        border-top: 1px solid #ddd;
    }

    .bulk-actions .action {
        margin-right: 8px;
    }
}

.card.flush table.dossier {
    thead label { margin: 0; }

    td { padding: 8px; }

    tr th:first-child,
    tr td:first-child { padding-left: 16px;}
}

.dossier-search { flex: 1; }

.dossier-sort-options {
    position: relative;

    @media all and (min-width: 768px) {
        display: none;
    }
}


/**
 * Narrow viewports.
 * The table transforms into cards!
 */
 @media all and (max-width: 768px) {

    .extra-col {
        display: none;
    }

    .dossier-for-mobile {
        background: none;
        box-shadow: none;

        .empty-col {
            display: none;
        }

        thead {
            display: none;
        }

        tr {
            display: flex;
            margin-bottom: 20px;
            background: white;
            flex-direction: column;
            padding: 12px 45px 12px 12px;
            border-radius: 4px;
            box-shadow: 0 0 0 0.5px rgba(49,49,93,.03), 0 2px 5px 0 rgba(49,49,93,.1), 0 1px 2px 0 rgba(0,0,0,.08);
        }

        .has-checkboxes tr {
            padding-left: 45px;
        }

        td {
            padding: 0 !important;
            margin-top: 10px;
        }

        .checkbox-col {
            position: absolute;
            top: 10px;
            left: 11px;
            width: auto !important;
            margin: 0;
        }

        .column-actions {
            position: absolute;
            top: 0px;
            right: 0px;
        }

        .first-cell {
            margin-top: 0;
        }

        .cell-title .status {
            position: relative;
            top: -1px;
            left: 0;
        }

        .column-label {
            display: block;
            font-size: 9px;
            text-transform: uppercase;
            color: #aaa;
            margin-bottom: 5px;
            letter-spacing: 1px;
        }
    }
}
