.fields-table {
    th {
        background: $bg;
        display: table-cell;
        box-shadow: none;
        padding-left: 10px;
        text-align: left !important; // where/why was this being centered?
    }

    td {
        padding: 10px;
    }

    .col-display, .col-handle {
        padding: 0;
        width: 30%;

        input {
            background-color: #fff;
            box-shadow: none;
            padding: 10px;
            width: 100%;
            height: 100%;

            &:focus { outline: 0; }
            &:hover { background-color: #fafafa; }
        }
    }

    .col-localizable {
        width: 70px;
    }

    .col-column {
        width: 80px;
    }

    .row-controls {
        padding: 0 0 0 6px;
        vertical-align: middle;
        width: 85px;

        > span {
            background: #fff;
            border: 1px solid #ccc;
            border-radius: 22px;
            color: #777;
            box-shadow: 0 1px 1px rgba(0,0,0,.05);
            line-height: 1;
            text-align: center;
            height: 22px;
            width: 22px;
            vertical-align: middle;
            cursor: pointer;

            &:hover {
                box-shadow: none;
                color: #555;
            }
        }

        .edit:before { font-size: 12px; }
    }

    td.row-controls {
        background: #f4f4f4;
    }
}


.taxonomy-fields-builder .fields-table .row-controls {
    width: 116px;

    .toggle-fieldtype-wrapper {
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
    }
}


.section-builder {
    margin: 32px 0;

    .tabs-outer {
        @extend .z-depth-1;
        background: white;
        border-radius: 4px;
        display: flex;
        align-items: center;
        margin-bottom: 32px;

        a {
            font-size: 16px;
            padding: 12px 24px;
            width: 100%;
            background-color: #fafcff;
            box-shadow: inset -1px 0 #e6ebf1;
        }
    }

    .tabs {
        position: relative;
        margin: 0;
        box-shadow: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        .draggable-mirror {
            @apply .w-auto .h-12 .bg-blue .text-white .border-0 .rounded .shadow-lg;
            min-height: 0;
            .icon { display: none; }
        }

        .draggable-source--is-dragging {
            opacity: 0.5;
        }

        .section-delete {
            position: absolute;
            top: 14px;
            right: 20px;
            color: $color_gray_dark;
        }
    }

    .sections-container {
        display: flex;
        justify-content: space-between;

        .other-section-placeholder {
            background: rgba(black, 0.05);
            flex-basis: 27%;
            display: none;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            color: #999;
        }

        @media (min-width: 1366px) {
            &.has-sidebar .section-layout {
                flex-basis: 70%;
            }

            &.has-sidebar.editing-sidebar {
                .section-layout { flex-basis: 27%; }

                .other-section-placeholder {
                    order: -1;
                    flex-basis: 70%
                }
            }

            .other-section-placeholder {
                display: flex;
            }
        }
    }

    .section-layout {
        @extend .card;
        flex-basis: 100%;
        padding: 0;
        margin: 0;
    }

    .section-builder-section {
        padding: 20px;
    }

    .section-header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-bottom: 32px;
        margin-bottom: 32px;
        border-bottom: 1px solid $color_border;

        > div {
            flex-basis: 49%;
        }

        label {
            display: block;
        }
    }

    .section-fields {
        display: flex;
        flex-wrap: wrap;

        &.root-level-section-fields {
            margin-bottom: 16px;
        }

        &.draggable-container--is-dragging {
            position: relative;
            z-index: 1000;

            input, textarea {
                // Prevent text field hover states while dragging
                pointer-events: none;
            }
        }
    }

    &.is-dragging-field .section-fields {
        min-height: 50px;
    }

    .section-field {
        display: flex;
        flex-direction: column;
        margin-bottom: -1px;

        &.draggable-mirror {
            z-index: 1000;
        }
    }

    .section-fields, .section-field, .field-set {
        // Prevent outline created by the draggable library
        outline: 0;
    }

    .root-level-section-field {
        margin-bottom: 16px;
        padding: 0 8px;

        > .section-field-inner {
            border-radius: 3px;
            margin: 0;
            background: $color_gray_input;
            border: 1px solid $color_border;

            > .section-field-main {
                background: $color_gray_input;

                .field-display, .field-display-sizer { font-weight: bold; }
            }
        }
    }

    .section-field.is-editing .section-field-inner {
        border: 1px solid $brand_primary;

        .field-drag-handle {
            border-color: $brand_primary;
        }
    }

    .section-field.draggable-source--is-dragging .section-field-inner {
        opacity: 0.5;
    }

    .section-field.draggable-mirror > .section-field-inner {
        @extend .z-depth-2;
    }

    .section-field-inner {
        display: flex;
        flex-direction: column;
        border: 1px solid $color_border;
        height: 100%;
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    }

    .field-info {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        font-size: 14px;
        padding: 10px 15px;
    }

    .field-display, .field-name {
        display: inline-block;
        margin-right: 15px;
        padding: 0;
        border-radius: 0;
        box-shadow: none;
        width: 100%;
        height: auto;
        background: none;

        &:hover, &:focus {
            outline: 0;
        }

        &::placeholder {
            color: $color_gray_dark;
        }
    }

    .field-display-sizer, .field-name-sizer,
    .set-display-sizer, .set-name-sizer
     {
        position: fixed;
        top: -999em;
        left: -999em;
        white-space: pre; // so spaces are counted
        width: auto !important;
    }

    .field-name, .field-name-sizer {
        font-family: $font_monospace;
        font-size: 11px;
        opacity: 0.8;
    }

    .field-type {
        display: inline-block;
        margin-right: 15px;
        font-size: 11px;
        font-weight: bold;
        text-transform: uppercase;
        opacity: 0.5;
    }

    .field-controls {
        display: flex;
        padding: 0 10px;

        > a, > div {
            opacity: 0;
            transform: translateX(10px);
            transition: 0.2s all ease;
        }

        > .always-visible {
            transform: translateX(0);
            opacity: 1;
        }
    }

    .section-field-main-inner:hover > .field-controls {
        > a, > div {
            transform: translateX(0);
            opacity: 1;
        }
    }

    .field-controls {
        a {
            color: #999;
            &:hover { color: $brand_primary; }
        }

        a, .field-width-selector {
            margin-left: 5px;
        }
    }

    .field-localizable.is-localizable {
        color: $color_gray_dark;
    }

    .section-field-main {
        display: flex;
        align-items: center;
        height: 100%;
        background: white;
    }

    .section-field-main-inner {
        @apply flex flex-1 justify-between items-center h-full;
    }

    .is-tiny {
        .section-field-main-inner {
            @apply flex-col items-start flex-1;
        }

        .field-controls {
            padding: 0 0 0 10px;
            height: 0;
            transition: all 0.2s ease;

            > div, > a { transform: none; }
        }

        .section-field-main-inner:hover > .field-controls {
            height: 32px;
        }
    }

    .field-drag-handle {
        background: rgba(black, 0.01) url('../img/drag-dots.svg') 50% 50% no-repeat;
        width: 20px;
        height: 100%;
        border-right: 1px solid $color_border;
        cursor: move;
        flex-shrink: 0;
    }

    .field-nested {
        padding: 25px 20px;
        border-top: 1px solid $color_border;
        box-shadow: inset 0 10px 10px -10px rgba(0,0,0,.1);
    }

    .field-nested .field-nested {
        background: rgba(255, 255, 255, 0.5);
    }

    .draggable-container--is-dragging .field-nested { display: none; }

    .field-sets {
        padding-top: 15px;
    }

    .field-set {
        position: relative;
        background: $color_gray_input;
        padding: 10px 15px 20px 25px;
        margin-left: -10px;

        &.draggable-mirror {
            @extend .z-depth-2;
            border-radius: 4px;
        }

        &.draggable-source--is-dragging {
            opacity: 0.5;
        }
    }

    .set-fields {
        margin-top: 10px;
    }

    .set-display, .set-name, .set-instructions,
    .set-display-sizer, .set-name-sizer {
        height: auto;
        width: 100%;
        outline: 0;
        box-shadow: none;
        padding: 0;
        font-size: 11px;
        opacity: 0.5;
        background: none;
    }

    .set-display, .set-display-sizer {
        font-weight: bold;
        text-transform: uppercase;
        opacity: 1;
    }

    .set-name, .set-name-sizer {
        font-family: $font_monospace;
    }

    .set-drag-handle {
        background: url('../img/drag-dots.gif') 50% 50% no-repeat;
        width: 14px;
        height: 14px;
        cursor: move;
        position: absolute;
        top: 16px;
        left: 6px;
    }

    .add-field {
        flex-basis: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color_gray_light;
    }
}

.field-width-selector {
    display: flex;
    width: 49px;
    height: 20px;
    position: relative;
    cursor: pointer;

    .field-width-label {
        position: absolute;
        top: 2px;
        font-size: 11px;
        font-weight: bold;
        width: 100%;
        text-align: center;
        z-index: 10;
        color: #999;
        text-shadow: 0 1px 1px white;
        pointer-events: none;
    }

    &:hover .field-width-label {
        opacity: 0.5;
    }

    .field-width-notch {
        width: 8px;
        position: relative;
        border: 1px solid $color_border;
        border-left: 0;

        &.notch-25 {
            border-left: 1px solid #ccc;
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
        }

        &.filled {
            border-top-color: #ccc;
            border-bottom-color: #ccc;
            border-right: 0;
            margin: -1px 0;
            background: rgba(black, 0.04);
        }

        &.selected {
            border-right: 1px solid #ccc;
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
        }
    }

    &.large {
        transform: scale(1.3);
        transform-origin: 0 0;
    }
}


.fieldtype-selector {
    h2 { margin: 0 0 15px; }

    .options + h2 { margin-top: 15px; }

    .options {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .option {
        flex-basis: 30%;
        margin-bottom: 10px;
    }

    .search {
        height: 0;
        overflow: hidden;

        &.is-searching {
            height: auto;
            margin-bottom: 10px;
        }

        input {
            outline: 0;
            text-align: center;
            width: 100%;
            box-shadow: none;
            background: none;
        }
    }
}
