/* ==========================================================================
   FILTERS
   ========================================================================== */

.filter {
    @apply bg-grey-20 mb-3 rounded-full text-center;
    padding: 10px 8px 14px;

    a {
        @apply text-xs text-grey-70 mx-sm p-1 relative;
    }

    a.active, a:hover {
        @apply text-grey-100;
    }

    a.active:after {
        @apply bg-red block;
        content: "";
        width: 4px;
        height: 4px;
        border-radius: 50%;
        opacity: .9;
        position: absolute;
        left: 50%;
        margin-left: -1px;
        bottom: 1px;
    }

    a.no-dot:after {
        display: none;
    }

    a .icon {
        position: relative;
        top: 2px;
    }
}

.filter-fields {
    .form-group {
        @apply p-0 pb-2;

        &:last-child {
            @apply p-0;
        }
    }

    .text-fieldtype .input-text {
        @apply py-1 px-1.5;
    }

    .no-label.form-group,
    .no-label .form-group {
        @apply pb-1;

        &:last-child {
            @apply p-0;
        }

        .field-inner {
            @apply hidden;
        }
    }
}
