/* ==========================================================================
   THE GLOBAL HEADER
   ========================================================================== */

.global-header {
    @apply bg-white shadow pr-2 h-13 items-center flex relative w-full;
    z-index: 997; // Let Live Preview stack on top
}

/* Responsive Wangjangling
   ========================================================================== */

@screen md {
    .global-header { @apply px-0 fixed }
}

/* Search
   ========================================================================== */
.global-search {
    @apply rounded-md px-1 hidden py-0 flex items-center relative border;
    transition: .12s ease-out;

    .search-input {
        @apply .text-sm .w-full max-w-full;
        padding-left: 5px;
        padding-right: 20px;
        height: 32px;
		&:focus {
			outline: 0;
		}
    }

    .global-search-results {
        @apply shadow-lg absolute p-0 w-full bg-white rounded border border-grey-50;
        top: 36px;
        left: -1px; // border offset
        z-index: 999;
    }

    .global-search-loading-indicator {
        position: absolute;
        right: 8px;
    }

    .global-search-result-item {
        @apply border-t cursor-pointer;

        &:first-child {
            @apply rounded-t border-none;
        }

        &:last-child {
            @apply rounded-b;
        }
    }

    .active {
        @apply bg-grey-30;
    }

    .title {
        @apply font-medium text-sm;
    }

    .url {
        @apply text-2xs text-grey-40;
    }

    .status {
        float: right;
        background: #ddd;
        border-radius: 2px;
        padding: 2px 4px;
    }

    .icon {
        @apply text-grey;
        font-size: 18px;
        cursor: pointer;
        position: relative;
        top: 1px;
        width: 20px;
        height: 20px;
        line-height: 20px;
        overflow: hidden;
    }

    .reset {
        font-size: 21px;
        left: -3px;
        position: relative;
    }

    kbd {
        @apply font-sans rounded px-sm pb-px text-2xs border text-grey-50;
    }
}

@screen lg {
    .global-search {
        @apply w-128 max-w-full;
        .global-search-results { @apply w-128 }
    }
}

.site-selector {
    .site-selector-icon {
        height: 20px;
        width: 1.25rem;
    }

    .v-select { @apply h-full }
    .vs__actions { @apply hidden }
    .vs__selected-options { @apply border-none shadow-none p-0 }
    .vs__dropdown-toggle { @apply h-full rounded-none }

    .vs--single.vs--unsearchable .vs__selected-options {
        @apply border-none flex items-center;
        background: none
    }

    .vs__dropdown-toggle:focus, .vs__dropdown-toggle:focus-within { @apply shadow-none; }
}


.session-expiry-stripe {
    @apply px-2 py-1 text-xs top-0 text-center bg-red text-white cursor-pointer w-full outline-none fixed;
    z-index: 999;
    height: 48px;

    &:hover {
        @apply bg-red-dark;
    }

    &:active, &:focus {
        outline: none;
    }

    &:active {
        height: 49px;
    }
}

.global-header .white-label-logo {
    max-height: 32px;
    max-width: 280px;
}
