.item {
    @apply text-sm outline-none flex rounded border bg-white shadow-sm items-center;

    .item-move {
        @apply w-4 border-r rounded-l p-1;
        cursor: grab;
        background: theme('colors.grey-20') url('../svg/drag-dots.svg') center center no-repeat;
        &:hover { @apply .bg-grey-30; }
    }

    .item-inner {
        @apply w-full flex items-center p-1;
    }

    &.invalid {
        .item-inner {
            @apply border-red bg-red-lighter text-red;
        }
    }

    // Drag interaction
    &.draggable-source--is-dragging {
        opacity: 0.5;
    }
}
