.item {
    @apply text-sm outline-none flex items-center rounded border bg-white shadow-sm;

    .item-move {
        @apply w-4 border-r rounded-l h-full p-1;
        cursor: grab;
        background: config('colors.grey-20') url('../img/drag-dots.svg') center center no-repeat;
        &:hover { @apply .bg-grey-30; }
    }

    .item-inner {
        @apply w-full flex items-center px-1;
    }

    &.published {
        .little-dot {
            @apply bg-green;
        }
    }

    &.unpublished {
        .little-dot {
            @apply bg-grey-40;
        }
    }

    &.invalid {
        .item-inner {
            @apply border-red bg-red-lighter text-red;
        }
        .little-dot {
            @apply bg-red;
        }
    }

    // Drag interaction
    &.draggable-source--is-dragging {
        opacity: 0.5;
    }
}
