/* ==========================================================================
   LOGIN SCREEN
   ========================================================================== */

.auth-card {
   @apply .max-w-xs .p-3 .rounded .shadow-lg;
   transition: .12s ease-out;
}

.outside .white-label-logo {
    @apply mx-auto mb-4;
    max-width: 300px;
}



/* Rad Mode Stylez
  ========================================================================== */

.outside.rad-theme {
    .auth-card {
        @apply .rounded-lg;
        box-shadow:
            rgba(50, 50, 93, .4) 0 12px 34px,
            rgba(0, 0, 0, .1) 0 3px 4px,
            inset rgba(108, 167, 234, .2) -5px 5px 30px,
            inset rgba(241, 84, 106, .2) 5px -5px 30px;
        &:hover, &:focus-within {
            transform: translateY(-2px);
            box-shadow:
                rgba(50, 50, 93, .5) 0 35px 78px 0,
                rgba(0, 0, 0, .15) 0 4px 5px,
                inset rgba(108, 167, 234, .15) -3px 3px 25px,
                inset rgba(241, 84, 106, .15) 3px -3px 25px;
        }
    }

    .input-text {
        @apply .rounded-lg;
    }

    .btn-primary {
        @apply .text-shadow .text-white .border-0 .rounded-md;
        background: linear-gradient(45deg, #f64f59, #c471ed) !important;
        box-shadow: 0 2px 5px rgba(#f64f59, 0.3) !important;
        &:hover {
            background: linear-gradient(45deg, mix(black, #f64f59, 5%), mix(black, #c471ed, 5%)) !important;
            color: #fff;
            box-shadow: 0 2px 5px rgba(#f64f59, 0.3) !important;
        }
    }

    .forgot-password-link {
        @apply text-white text-shadow;
    }
}
