.modal {
    background: rgba($color_dark_blue, .33);
    display: block; // override bootstrap
    overflow: auto;
    padding: 16px;

    &.modal-login {
        background: rgba($color_dark_blue, .80);
    }

    .modal-dialog {
        margin: 0 auto;
        height: 100%;
        padding: 30px 0;
        display: flex;
        align-items: flex-start;
    }

    .modal-content {
        display: flex;
        flex-direction: column;
        max-height: 100%;

        border: none;
        border-radius: 4px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
        width: 100%;
    }
    .modal-header {
        background: rgba($bg, .5);
        padding: 24px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;

        .close {
            margin: 0;
        }
    }
    .chooser {
        margin: -8px -16px 0px -8px;
        list-style: none;
        padding: 0;
        a {
            color: #333;
            display: block;
            padding: 7px 15px;
            font-size: 16px;
            &:hover {
                background: $brand-primary;
                border-radius: 4px;
                color: #fff;
            }
        }
    }
    .modal-body {
        padding: 24px 24px 16px 24px;
        overflow: scroll;
        flex: 1;
    }
    .modal-footer {
        padding: 16px 24px;
        line-height: 30px;
    }
    .close,
    .close:active,
    .close:focus,
    .close:focus:active {
        outline: none;
    }
}

.modal-open .modal {
    padding-left: 0px !important;
    padding-right: 0px !important;
    overflow-y: scroll;
}

.modal-full > .modal-dialog {
    width: 90%;
}

.modal-small > .modal-dialog {
    max-width: 400px;
}

.modal-wide > .modal-dialog {
    width: auto;
    max-width: 900px;
}

.modal-footer .left {
    float: left;
    font-size: 14px;
    line-height: 30px;
}

.modal .markdown-fieldtype .markdown-modes {
    .active:before,
    .active:after {
        top: 100%;
    }
}
