/* ==========================================================================
   THE MAIN NAV
   ========================================================================== */

.nav-main {
    @apply select-none bg-white shadow h-screen p-2 absolute pin-l overflow-scroll w-full;
    transition: all .3s;
    z-index: 9998;

    ul {
        @apply list-reset mt-0 mb-3;
    }

    li {
        @apply p-0 text-sm;
        margin-top: 6px;
    }

    li a {
        @apply p-0 flex items-center text-grey-80;
        transition: all .08s ease-in-out;

        &:hover {
            @apply text-blue;
        }

        i {
            @apply block h-6 p-sm w-6 mr-1.5 rounded-full;
        }
    }

    li.current > a {
        @apply text-grey-90 font-medium;

        i {
            @apply bg-white;
        }
    }

    li ul {
        @apply mt-1 mb-2;
        margin-left: 1.5rem;

        li {
            @apply text-xs;
            margin-left: 12px;
        }

        li a {
            @apply text-grey;
        }
    }

    .nav-closed & {
        left: -110%;
    }

    ul.section-top-level {
        @apply font-medium text-grey-90;
    }
}

@screen md {
    .nav-main {
        @apply flex bg-transparent shadow-none h-full min-h-full pt-5 pl-4 pb-3 overflow-auto w-56 border-r;
        z-index: 1;
    }
}

.nav-main-wrapper {
    margin-top: -6px;
}

.nav-toggle {
    @apply block h-6 p-sm w-6 mr-1.5 rounded;
    outline: none !important;

    &:hover {
        @apply .bg-grey-20;
    }
}



/* Responsive Wangjangling
  ========================================================================== */

@media (min-height: 720px) {
    .nav-main-wrapper {
        position: sticky;
    }
}

@media (max-width: 980px) and (min-width: 768px ) {
    .nav-main .version { display: none; }
}
