/* ==========================================================================
   THE MAIN NAV
   ========================================================================== */

.nav-main {
    @apply select-none pl-3 relative hidden;

    ul {
        @apply list-reset mt-0 mb-3;
    }

    li {
        @apply p-0 text-sm;
        margin-top: 6px;
    }

    li a {
        @apply p-0 flex items-center text-grey-80;
        transition: all .08s ease-in-out;

        &:hover {
            @apply font-medium text-grey-90;
        }

        i {
            @apply block h-6 p-sm w-6 mr-1.5 rounded-full;
        }
    }

    li.current > a {
        @apply text-grey-90 font-medium;

        i {
            @apply bg-white;
        }
    }

    li ul {
        @apply mt-1 mb-2;
        margin-left: 1.5rem;

        li {
            @apply text-xs;
            margin-left: 12px;
        }

        li a {
            @apply text-grey;
        }
    }
}

.nav-toggle {
    @apply block h-6 p-sm w-6 mr-1.5 rounded;
    outline: none !important;

    &:hover {
        @apply .bg-grey-20;
    }
}



/* Responsive Wangjangling
  ========================================================================== */

@screen md {
    .nav-main { @apply block; }
}

@media (min-height: 720px) {
    .nav-main-wrapper {
        position: sticky;
        top: 24px;
    }
}

@media (max-width: 980px) and (min-width: 768px ) {
    .nav-main .version { display: none; }
}
