.toasted-container.bottom-right {
    bottom: 32px !important;
    right: 32px !important;
}

.toasted-container.bottom-left {
    bottom: 32px !important;
    left: 32px !important;
}

.toasted-container .toasted.statamic {
    @apply bg-grey-90 text-white px-2 mt-2 rounded shadow;

    &.success {
        @apply bg-green;
    }

    &.error {
        @apply bg-red;
    }

    .action {
        @apply font-normal text-lg;
        color: rgba(255,255,255,.5);
        &:hover {
            @apply no-underline text-white;
        }
    }
}