.page-tree {

    .tree-node-inner {
        @apply relative text-xs bg-white shadow rounded;

        &:hover {
            @apply bg-grey-10;
        }
    }

    .draggable-placeholder-inner {
        border: 1px dashed #0088F8;
        background: rgba(0, 136, 249, 0.09);

        * { display: none; }
    }


    .page-move {
        @apply w-6 border-r;
        cursor: grab;
        background: rgba($bg, .5) url('../img/drag-dots.svg') center center no-repeat;
        &:hover { @apply .bg-grey-30; }
    }

    .page-root {
        background: rgba($bg, .5);
        @apply flex w-6 rounded-l items-center border-r;
    }
}
