/* ==========================================================================
   PAGINATION
   ========================================================================== */

.pagination {
	@apply flex justify-center shadow items-center list-none p-0 rounded overflow-hidden;

	li a {
		@apply h-full px-1.5 py-1 border-r bg-white block text-grey-80;

		&:hover {
			@apply bg-grey-10 text-grey-80;
		}
	}

	li > .unclickable {
		@apply h-full px-1.5 py-1 border-r bg-white block text-grey-50;

		&:hover {
      cursor: text;
		}
	}

	li:last-child a {
		@apply border-r-0;
	}

	li.current a {
		@apply bg-grey-10 text-blue shadow-inner;
	}
}

.pagination.pagination-inline {
	@apply shadow-none rounded-none;
}
