.live-preview {
    @apply pin;
    z-index: 998; // arbitrary under stacks.
}

.live-preview-header {
    @apply relative bg-grey-20 border-b px-3 py-2 shadow flex items-center justify-between;
    z-index: 2;
}

.live-preview-main {
    z-index: 1;
}

.live-preview-editor {
    @apply relative bg-white shadow-lg h-full;
    z-index: 2;
}

.live-preview-contents {
    @apply relative bg-white flex-1 flex flex-col;
    z-index: 1;
}

.live-preview-resizer {
    right: -5px;
    width: 10px;
    cursor: ew-resize;
}


.live-preview-header-slide-enter-active,
.live-preview-header-slide-leave-active {
    transition: all 0.3s ease;
}
.live-preview-header-slide-enter,
.live-preview-header-slide-leave-to {
    transform: translateY(-100px);
}

.live-preview-editor-slide-enter-active,
.live-preview-editor-slide-leave-active {
    transition: all 0.3s ease;
}
.live-preview-editor-slide-enter,
.live-preview-editor-slide-leave-to {
    transform: translateX(-50px);
    opacity: 0;
}

.live-preview-contents-slide-enter-active,
.live-preview-contents-slide-leave-active {
    transition: all 0.3s ease;
}
.live-preview-contents-slide-enter,
.live-preview-contents-slide-leave-to {
    transform: translateX(50px);
    opacity: 0;
}


// We only want the animation to happen when its on the regular publish page.
// When portal-ed into live preview, it won't be inside .workspace
.workspace {
    .live-preview-sections-drop-enter-active,
    .live-preview-sections-drop-leave-active {
        transition: all 0.2s;
    }
    .live-preview-sections-drop-enter-active {
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275)
    }
    .live-preview-sections-drop-leave-active {
        transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
    }
    .live-preview-sections-drop-enter,
    .live-preview-sections-drop-leave-to {
        transform: translateY(100px);
        opacity: 0;
    }
}
