.live-preview {
    @apply inset-0;
    z-index: 998; // arbitrary under stacks.
}

.live-preview-header {
    @apply relative pr-2 pl-3 py-1 h-13 shadow-lg flex items-center justify-between;
    background: linear-gradient(180deg, #fff, #f9fafb);
    border-bottom: 1px solid #c4cdd6;
    z-index: 2;
}

.live-preview-main {
    @apply flex flex-1 overflow-scroll;
    z-index: 1;
}

.live-preview-editor {
    @apply flex relative bg-white h-full;
    z-index: 3;
}

.live-preview-contents {
    @apply relative bg-grey-50 flex-1 flex flex-col;
    z-index: 1;
}

.live-preview .publish-tabs {
    @apply bg-grey-30 ml-0 pl-0;
    .tab-button {
        border-radius: 0;
        height: 100%;
        min-width: 100px;
        border: none;
    }
}

.live-preview .tabs-container {
    @apply bg-grey-30;
}

.live-preview .publish-section-actions-footer {
    display: none;
}

.live-preview-contents iframe {
    @apply bg-white;
    &.responsive { @apply h-full w-full; }
    &.device { @apply mt-2 shadow-lg rounded; }
}

.live-preview-fields {
    @apply relative;
    z-index: 2;
}

.live-preview-resizer {
    @apply w-4 border-l border-r border-grey-30 shadow-sm;
    z-index: 1;
    cursor: ew-resize;
    background: theme('colors.grey-20') url('../svg/drag-dots.svg') center center no-repeat;
}


.live-preview-header-slide-enter-active,
.live-preview-header-slide-leave-active {
    transition: all 0.3s ease;
}
.live-preview-header-slide-enter,
.live-preview-header-slide-leave-to {
    transform: translateY(-100px);
}

.live-preview-editor-slide-enter-active,
.live-preview-editor-slide-leave-active {
    transition: all 0.3s ease;
}
.live-preview-editor-slide-enter,
.live-preview-editor-slide-leave-to {
    transform: translateX(-50px);
    opacity: 0;
}

.live-preview-contents-slide-enter-active,
.live-preview-contents-slide-leave-active {
    transition: all 0.3s ease;
}
.live-preview-contents-slide-enter,
.live-preview-contents-slide-leave-to {
    transform: translateX(50px);
    opacity: 0;
}


// We only want the animation to happen when its on the regular publish page.
// When portal-ed into live preview, it won't be inside .workspace
.workspace {
    .live-preview-sections-drop-enter-active,
    .live-preview-sections-drop-leave-active {
        transition: all 0.2s;
    }
    .live-preview-sections-drop-enter-active {
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275)
    }
    .live-preview-sections-drop-leave-active {
        transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
    }
    .live-preview-sections-drop-enter,
    .live-preview-sections-drop-leave-to {
        transform: translateY(100px);
        opacity: 0;
    }
}



// Responsive

// add grey bg and padding so that it looks like a publish form, when its wide enough.
.live-preview-fields-wide {
    @apply p-3 bg-grey-30;
}

// remove shadow of sections when its narrow enough to be no longer be displayed as sections.
.live-preview-fields-narrow .publish-section {
    @apply shadow-none
}
