.live-preview {
    @apply pin;
    z-index: 98; // arbitrary under stacks.
    top: 48px; // under header
}

.live-preview-header {
    z-index: 2;
}

.live-preview-main {
    z-index: 1;
}

.live-preview-editor {
    z-index: 2;
}

.live-preview-contents {
    z-index: 1;
}

.live-preview-resizer {
    right: -5px;
    width: 10px;
    cursor: ew-resize;
}
