.live-preview {
    @apply pin;
    z-index: 998; // arbitrary under stacks.
}

.live-preview-header {
    @apply relative bg-grey-20 border-b px-3 py-2 shadow flex items-center justify-between;
    z-index: 2;
}

.live-preview-main {
    z-index: 1;
}

.live-preview-editor {
    @apply flex relative bg-white h-full;
    z-index: 3;
}

.live-preview-contents {
    @apply relative bg-grey-50 flex-1 flex flex-col;
    z-index: 1;
}

.live-preview .publish-tabs {
    @apply bg-grey-30 ml-0 pl-0;
    a {
        border-radius: 0;
    }
}

.live-preview-contents iframe {
    &.responsive { @apply h-full w-full; }
    &.device { @apply mt-2 shadow-lg rounded; }
}

.live-preview-fields {
    @apply relative;
    z-index: 2;
}

.live-preview-resizer {
    @apply w-4 border-l border-r border-grey-30 shadow-sm;
    z-index: 1;
    cursor: ew-resize;
    background: config('colors.grey-20') url('../img/drag-dots.svg') center center no-repeat;
}


.live-preview-header-slide-enter-active,
.live-preview-header-slide-leave-active {
    transition: all 0.3s ease;
}
.live-preview-header-slide-enter,
.live-preview-header-slide-leave-to {
    transform: translateY(-100px);
}

.live-preview-editor-slide-enter-active,
.live-preview-editor-slide-leave-active {
    transition: all 0.3s ease;
}
.live-preview-editor-slide-enter,
.live-preview-editor-slide-leave-to {
    transform: translateX(-50px);
    opacity: 0;
}

.live-preview-contents-slide-enter-active,
.live-preview-contents-slide-leave-active {
    transition: all 0.3s ease;
}
.live-preview-contents-slide-enter,
.live-preview-contents-slide-leave-to {
    transform: translateX(50px);
    opacity: 0;
}


// We only want the animation to happen when its on the regular publish page.
// When portal-ed into live preview, it won't be inside .workspace
.workspace {
    .live-preview-sections-drop-enter-active,
    .live-preview-sections-drop-leave-active {
        transition: all 0.2s;
    }
    .live-preview-sections-drop-enter-active {
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275)
    }
    .live-preview-sections-drop-leave-active {
        transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
    }
    .live-preview-sections-drop-enter,
    .live-preview-sections-drop-leave-to {
        transform: translateY(100px);
        opacity: 0;
    }
}



// Responsive

@element .live-preview-fields and (min-width: 1000px) {
    :self { @apply p-3 bg-grey-30; }
}

@element .live-preview-fields and (max-width: 1000px) {
    :self .publish-section { @apply shadow-none }
}
