#typeahead {
    position: relative;
    display: flex;
    align-items: center;

    input {
        padding-left: 5px;
        height: 32px;
    }

    ul {
        @extend .z-depth-2;
        position: absolute;
        padding: 0;
        top: 0;
        margin-top: 29px;
        padding-top: 2px;
        width: 100%;
        background-color: #fff;
        left: 0;
        list-style: none;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        z-index: 1000;
    }

    li {
        padding: 10px 16px;
        border-top: 1px solid $border;
        cursor: pointer;

        &:last-child {
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
        }
    }

    span {
        display: block;
        color: #2d393c;
    }

    .active {
        background-color: $color_gray_input;
    }

    .title {
        font-weight: 700;
        font-size: 16px;
    }

    .url {
        color: #999;
        font-size: 13px;
    }

    .status {
        float: right;
        background: #ddd;
        border-radius: 2px;
        padding: 2px 4px;
    }

    .icon {
        color: lighten(#2d393c, 6%);
        font-size: 18px;
        cursor: pointer;
        position: relative;
        top: 1px;
        width: 20px;
        height: 20px;
        line-height: 20px;
        overflow: hidden;
    }

    .icon-cross {
        top: -1px;
        opacity: .5;
        &:hover { opacity: 1; }
    }

    .reset {
        font-size: 21px;
        left: -3px;
        position: relative;
    }
}

.fade-enter {
    animation: fade-in .1s;
}
.fade-leave {
    animation: fade-out .1s;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
