.global-search {
    @apply rounded-md bg-white px-1 w-96 shadow py-0 flex items-center relative;
    max-width: 400px;

    .search-input {
        padding-left: 5px;
        height: 32px;
        background: #fff;
		font-size: 14px;
        max-width: 400px;
        width: 100%;
		&:focus {
			outline: 0;
		}
    }

    ul {
        @apply shadow-lg absolute p-0 w-full bg-white list-reset;
        top: 0;
        margin-top: 29px;
        padding-top: 2px;
        left: 0;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        z-index: 1000;
    }

    li {
        padding: 10px 16px;
        border-top: 1px solid $border;
        cursor: pointer;

        &:last-child {
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
        }
    }

    span {
        display: block;
        color: #2d393c;
    }

    .active {
        background-color: $color_gray_input;
    }

    .title {
        font-weight: 700;
        font-size: 16px;
    }

    .url {
        color: #999;
        font-size: 13px;
    }

    .status {
        float: right;
        background: #ddd;
        border-radius: 2px;
        padding: 2px 4px;
    }

    .icon {
        color: lighten(#2d393c, 6%);
        font-size: 18px;
        cursor: pointer;
        position: relative;
        top: 1px;
        width: 20px;
        height: 20px;
        line-height: 20px;
        overflow: hidden;
    }

    .icon-cross {
        top: -1px;
        opacity: .5;
        &:hover { opacity: 1; }
    }

    .reset {
        font-size: 21px;
        left: -3px;
        position: relative;
    }
}
