.shortcut-pair {
    @apply mb-2 antialiased flex items-center;
}

.shortcut {
    @apply bg-white text-sm rounded border border-grey-light shadow-sm inline-block align-middle text-grey-dark text-center p-sm;
    min-width: 28px;
}

.shortcut-key {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 70%;
    margin-right: 15px;
    float: left;
}

.shortcut-joiner {
    @apply text-grey text-xs mx-sm;
}

.shortcut-value {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    padding: 4px 0;
    font-size: 16px;
}
