/* ==========================================================================
   KEYBOARD SHORTCUTS
   ========================================================================== */

.shortcut-pair {
    @apply mb-2 antialiased flex items-center;
}

.shortcut {
    @apply bg-white text-2xs rounded border border-grey-light inline-block align-middle text-grey-dark text-center;
    border-width: 1px 2px 2px 1px;
    min-width: 28px;
    padding: 3px 4px;
}

.shortcut-key {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 70%;
    margin-right: 15px;
    float: left;
}

.shortcut-joiner {
    @apply text-grey text-xs mx-sm;
}

.shortcut-value {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    padding: 4px 0;
    font-size: 16px;
}
