.stacks-on-stacks {
    position: absolute;
    top: 48px;
    left: 0; right: 0; bottom: 0;

    .vue-portal-target {
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
    }

    .stack-container {
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
    }

    .stack-overlay {
        @apply bg-black;
        opacity: 0.2;
        position: absolute; top: 0; left: 0; bottom: 0; right: 0;
        z-index: 1;
        pointer-events: none;
    }

    .stack-hit-area {
        position: absolute; top: 0; left: 0; bottom: 0; right: 0;
        z-index: 2;
    }

    .stack-content {
        @apply bg-white h-full relative shadow-lg;
        z-index: 3;
    }

    .stack-close {
        position: absolute; top: 16px; right: 16px;
    }
}
