/* ==========================================================================
   TABS
   ========================================================================== */

.tabs {
    @apply .flex .w-full items-end overflow-hidden pl-1 -ml-1;
    height: 48px;

    a {
        @apply .bg-grey-10 .py-sm .px-2 .leading-tight .text-xs .w-auto .relative .flex .items-center .justify-center rounded-t-md shadow border-b border-grey-30 select-none;
        height: 94%;
        min-height: 94%;

    }

    a.active {
        @apply bg-white text-blue border-t-2 border-blue relative .h-full .min-h-full border-b-0;
        z-index: 10;
    }

    a.ghost {
        @apply bg-transparent relative .h-full .min-h-full shadow-none border-none text-grey-50 px-3;
        min-width: 0;
        &:hover {
            @apply text-blue;
        }
    }

    a.has-error {
        @apply text-red;

        &.active {
            box-shadow: theme('colors.red') 0px 3px inset, rgb(230, 235, 241) -1px 0px inset
        }
    }
}

@screen md {
    .tabs a {
        min-width: 140px;
    }
}


/* Responsive Wangjangling
  ========================================================================== */

@screen md {
    .tabs a { @apply .text-base; }
}
