/* ==========================================================================
   TABS
   ========================================================================== */

.tabs-container {
    @apply w-full mb-3 shadow rounded bg-white;

    .dropdown-list button {
        @apply outline-none;
    }
}

.tabs {
    @apply flex flex-1 items-end overflow-hidden px-2;
    height: 48px;

    .tab-button {
        @apply h-full text-grey-60 border-b-2 border-transparent whitespace-no-wrap flex-shrink-0 py-sm px-2 leading-tight text-xs w-auto relative flex items-center justify-center select-none;
        &:hover {
            @apply text-black;
        }
    }

    .tab-button.active {
        @apply text-black border-b-2 border-blue relative h-full min-h-full outline-none;
        z-index: 1;
    }

    .tab-button:active, .tab-button:focus {
        @apply bg-white text-blue outline-none;
    }

    .tab-button.ghost {
        @apply bg-transparent relative h-full min-h-full shadow-none border-none text-grey-50 px-3;
        min-width: 0;
        &:hover {
            @apply text-blue;
        }
    }

    .tab-button.has-error {
        @apply text-red;

        &.active {
            box-shadow: theme('colors.red') 0px 3px inset, rgb(230, 235, 241) -1px 0px inset
        }
    }
}

@screen md {
    .tabs .tab-button {
        // min-width: 120px;
    }
}


/* Responsive Wangjangling
  ========================================================================== */

@screen md {
    .tabs .tab-button { @apply .text-base; }
}
