/* ==========================================================================
   TOGGLE
   ========================================================================== */

$toggle_radius: 20px;

.toggle-fieldtype-wrapper {
    height: 32px;
    display: flex;
    align-items: center;

    .inline-label {
        @apply .ml-1 .font-normal .text-grey-70;
        a {
            @apply .text-grey-80 underline;
            &:hover {
                @apply .text-blue-darker;
            }
        }
    }
}

.locale-status-field .toggle-fieldtype-wrapper {
    height: auto;
    display: inline-block;
}

.toggle-container {
    background: #fff;
    height: 22px;
    width: 46px;
    border-radius: $toggle_radius;
    cursor: pointer;
    position: relative;
    border: 1px solid #dfdfdf;
    font-size: 0.1px;
    margin: 6px 0;
    &:focus { outline: none; }
}

.toggle-slider {
    position: absolute;
    top: -1px;
    width: 20px;
    height: 22px;
    border-radius: $toggle_radius;
    transition: all 0.2s ease;

    &.disabled {
        cursor: not-allowed;
    }
}

.toggle-knob {
    position: absolute;
    top: 1px;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
    box-shadow: 0 1px 3px rgba(black, .4);
    outline: none;
    transition: box-shadow 0.1s, background-color 0.2s ease-in-out;
}

.toggle-knob:hover {
    box-shadow: 0 1px 3px rgba($brand-primary, .9);
}

.toggle-container.on {
    .toggle-slider {
        @apply bg-green-light;
        width: 44px;
    }

    .toggle-knob:focus {
        box-shadow: 0 0 10px rgba(#64BD63, .7);
    }
}

.toggle-container.on.read-only {
    .toggle-slider {
        @apply bg-grey-50;
    }
}

/* Size Variants
  ========================================================================== */
.toggle-sm.toggle-fieldtype-wrapper {
    height: 16px;

    .toggle-container {
        height: 12px;
        width: 21px;
    }

    .toggle-knob {
        width: 10px;
        height: 10px;
    }

    .toggle-slider {
        box-shadow: inset 0px 1px rgba(0,0,0,.25);
        height: 12px;
        width: 10px;
    }

    .toggle-container.on .toggle-slider {
        width: 22px;
    }
}

/* Inside the Sidebar
  ========================================================================== */
.publish-sidebar .toggle-fieldtype {
    @apply flex items-center justify-between;
    .field-inner > label { margin: 0; }
    .toggle-fieldtype-wrapper { margin-left: 8px; }
    .help-block { margin-top: 4px !important; }
}

/* Inside a Grid field
  ========================================================================== */

.grid-table td.toggle-fieldtype {
    width: 1%;
    padding-top: 14px;
}
