/* ==========================================================================
   TOOLTIPS
   ========================================================================== */

$color: hsla(210, 10%, 30%, 1); // grey-80

div[data-popover="tooltip"] {
    @apply w-auto bg-grey-80 px-1 text-center text-xs text-white;
    width: auto !important;

    &.dropdown-position-top:before { border-top-color: $color; }
    &.dropdown-position-bottom:before { border-bottom-color: $color; }
    &.dropdown-position-left:before { border-left-color: $color; }
    &.dropdown-position-right:before { border-right-color: $color; }
}
