/* ==========================================================================
   UPDATER
   ========================================================================== */

.update {
	padding: 60px;

	h2 {
		font-weight: 400;
		font-size: 30px;
		margin: 0 0 25px 0;
		-webkit-font-smoothing: antialiased;
	}

	h3, dt {
		font-weight: 400;
		margin: 25px 0;
		color: $color_gray_light;
		font-size: 21px;
		line-height: 1.5;
		-webkit-font-smoothing: antialiased;
	}

	dl {
		margin-top: 50px;

		dt {
			margin: 30px 0 15px 0;
		}

		dd {
			padding-left: 30px;
			position: relative;
			font-size: 16px;
			margin-bottom: 15px;

			&.no-icon {
				padding-left: 0;
			}
		}

		.icon {
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}

.update-release {

    .date {
		@apply font-normal text-grey;
	}

	p {
        @apply my-4;
	}

	h2 {
		@apply font-black text-xl mb-0 py-1;
	}

	h3, h4, h5, h6 {
		@apply font-bold;
	}

    a { color: $brand-primary; }

	ul {
		@apply p-0;

		li {
			@apply my-1 pb-1 relative text-base pl-3;
		}

		li:before {
			@apply absolute rounded-full bg-grey-90;
			height: 6px;
			width: 6px;
			content: "";
			top: 7px;
			left: 4px;

		}

		.label {
			@apply text-3xs relative inline-block mr-1 uppercase text-center text-white rounded;
			padding: 2px;
			width: 54px;
			top: -2px;
			line-height: 1;
		}
	}
}
