<div class="card">

    <div class="head">
        <h1>{{ translate('cp.license_key') }}</h1>
    </div>

    <hr>

    <div v-if="loading" class="loading loading-basic">
        <span class="icon icon-circular-graph animation-spin"></span>
        {{ translate('cp.checking_license_key') }}
    </div>

    <p v-if="valid">{{ translate('cp.license_valid') }}</p>

    <template v-if="!loading && !valid">
        <p v-html="licenseKeyInstructions"></p>

        <div class="form-group px-0">
            <p v-if="!valid && keySubmitted" class="license-error">
            <small class="help-block">{{ translate('cp.license_invalid') }}</small>
            </p>
            <div class="row">
                <div class="col-sm-9">
                    <input type="text" class="form-control" v-model="key" />
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-primary btn-block" @click="validate" :disabled="!key">{{ translate('cp.save') }}</button>
                </div>
            </div>
        </div>

        <hr>

        <div class="trial">
            <a href="" @click.prevent="continue" class="btn">{{ translate('cp.continue_in_trial_mode') }}</a>
            <a href="https://statamic.com/try" class="what" target="_blank">{{ translate('cp.whats_this') }}</a>
        </div>
    </template>

</div>
