<div class="card install-settings">

    <div class="head">
        <h1>{{ translate_choice('cp.settings', 2) }}</h1>
    </div>

    <hr>

    <template v-if="!success">

        <div class="form-group px-0">
            <label>{{ translate('cp.locales_and_urls') }}</label>
            <small class="help-block">
                {{ translate('cp.settings_locales_instructions') }}
            </small>
            <locale_settings-fieldtype :data="locales" :index-php-warning="true"></locale_settings-fieldtype>
        </div>

        <div class="form-group px-0">
            <label>{{ translate('cp.debug_mode') }}</label>
            <small class="help-block">
                {{ translate('cp.settings_debug_mode_instructions') }}
            </small>
            <toggle-fieldtype :data.sync="debug"></toggle-fieldtype>
        </div>

        <div class="form-group px-0">
            <label>{{ translate('cp.timezone') }}</label>
            <suggest-fieldtype :data.sync="timezone" :suggestions-prop="timezones" :config='{ "max_items": 1 }'></suggest-fieldtype>
        </div>

        <button class="btn btn-primary" @click="submit" :disabled="loading">{{ translate('cp.save') }}</button>

    </template>

    <template v-if="success">
        <p>{{ translate('cp.settings_updated') }}</p>
    </template>


</div>
