<div class="card install-user">

    <div class="head">
      <h1>{{ translate('cp.create_a_user') }}</h1>
    </div>

    <hr>

    <template v-if="!success">

        <div class="alert alert-danger" v-if="submitted && !loading && !success">
            <p>{{ error }}</p>
        </div>

        <div class="form-group px-0">
            <label>{{ translate('cp.name') }}</label>
            <div class="row">
                <div class="col-md-6">
                    <small class="help-block">{{ translate('cp.first_name') }}</small>
                    <input type="text" class="form-control" v-model="firstName" />
                </div>
                <div class="col-md-6">
                    <small class="help-block">{{ translate('cp.last_name') }}</small>
                    <input type="text" class="form-control" v-model="lastName" />
                </div>
            </div>
        </div>

        <div class="form-group px-0">
            <label>{{ translate('cp.username') }}</label>
            <input type="text" class="form-control" v-model="username" />
        </div>

        <div class="form-group px-0">
            <label>{{ translate('cp.email') }}</label>
            <input type="email" class="form-control" v-model="email" />
        </div>

        <div class="form-group px-0">
            <label>{{ translate_choice('cp.passwords', 1) }}</label>
            <input type="password" class="form-control" v-model="password" />
        </div>

        <div class="form-group px-0">
            <label>{{ translate('cp.bio') }}</label>
            <small class="help-block">{{ translate('cp.user_bio_instructions') }}</small>
            <textarea class="form-control" v-model="bio"></textarea>
        </div>

        <button class="btn btn-primary" @click="submit" :disabled="submitDisabled">{{ translate('create_user') }}</button>

    </template>

    <template v-if="success">
        <p>{{ translate('cp.user_account_created') }}</p>
    </template>

</div>
