<html>
    <head>
        <title>Protected</title>
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    </head>
    <body class="flex items-center align-center bg-grey-lighter">
        <div class="w-1/3 mx-auto text-center">

            <h2 class="text-xl mb-3">Protected Page</h2>

            {{ protect:password_form }}
                <div class="bg-white p-4 rounded shadow">

                    {{ if no_token }}

                        No token has been provided.

                    {{ else }}

                        <div class="mb-2 text-center">
                            <input type="password" name="password" class="block mb-3 w-full border p-2 rounded-sm text-center shadow-inner" placeholder="Enter password to continue" />
                        </div>

                        {{ errors:password }}
                            <div class="text-red text-sm mb-3">{{ value }}</div>
                        {{ /errors:password }}

                        <button class="block w-full bg-blue text-white text-sm px-3 py-2 rounded-sm">Submit</button>

                    {{ /if }}

                </div>
            {{ /protect:password_form }}

        </div>
    </body>
</html>
