/* ==========================================================================
   BUTTONS
   ========================================================================== */
button, .btn, .btn-* {
    cursor: pointer;
}

.btn,
.btn-default {
    @include button(linear-gradient(180deg,#fff,#f9fafb), $color_gray_dark);
    @apply shadow-button;

    &:focus {
        @apply focus-outline;
    }
}

.btn-primary {
    @include button($brand-primary, rgba(255,255,255,.9));
    text-shadow: 0 1px 0 rgba(0,0,0,.15);
    box-shadow:
        config('colors.blue-dark') 0 0 0 1px,
        rgba(#3282b3, .05) 0 2px 5px 0,
        rgba(0,0,0,.1) 0 2px 2px 0,
        rgba(0,0,0,.15) 0 1px 3px 0;

    &:hover:not(:disabled),
    &.depressed {
        box-shadow:
            #3282b3 0 0 0 1px,
            rgba(#3282b3, .1) 0 2px 5px 0,
            rgba(50,50,93,.2) 0 3px 9px 0,
            rgba(0,0,0,.15) 0 2px 3px 0,
            rgba(0,0,0,.15) 0 1px 2px 0;
    }

    &:focus {
        @apply focus-outline;
    }
}

.btn-flat {
    @include button(white, black);
    @apply shadow-none text-grey-80 bg-grey-30;
    position: inherit;
    &:hover {
        @apply bg-grey-40;
        box-shadow: none !important;
    }
    &:focus {
        @apply focus-outline bg-grey-30;
    }
    &:active, &:focus:active {
        @apply bg-grey-50;
        box-shadow: none !important;
    }
}

.btn-danger {
    @include button(white, $color_red);
    border: 1px solid $color_red;
    line-height: 36px;

    box-shadow:
        rgba($color_red, .05) 0 2px 5px 0,
        rgba(0,0,0,.07) 0 1px 2px 0,
        rgba(0,0,0,.08) 0 1px 3px 0;

    &:hover:not(:disabled),
    &.depressed {
        color: $color_red;
        box-shadow:
            rgba($color_red,.1) 0 0 0 1px,
            rgba($color_red,.1) 0 2px 5px 0,
            rgba(50,50,93,.08) 0 3px 9px 0,
            rgba(0,0,0,.08) 0 1px 1.5px 0,
            rgba(0,0,0,.08) 0 1px 2px 0;
    }

    &:focus {
        @apply focus-outline;
    }
}

.btn-link {
    @apply text-grey-80;
    &:hover {
        @apply text-blue;
    }
}

/* Size Variations
  ========================================================================== */

.btn-sm {
    height: 28px;
    line-height: 28px;
    padding: 0 8px;
    font-size: 12px;
}

.btn-lg {
    font-size: 16px;
    height: 48px;
    line-height: 44px;
    padding: 2px 40px;
}


/* Shape Variations
  ========================================================================== */

.btn.round {
    width: 32px;
}

.btn-circle {
    svg path, svg circle {
        fill: #2d393c;
    }
}

/* Button Group
  ========================================================================== */

.btn-group-flat {
    @apply flex items-center p-0;
    height: 37px;

    button {
        @include button(white, black);
        @apply shadow-none text-grey-80 bg-grey-30 flex items-center h-full;

        &:hover, &.active, &:focus {
            @apply bg-grey-40 text-grey-80;
            box-shadow: none !important;
            bottom: 0;
        }

        &:active, &:active:focus {
            @apply bg-grey-50;
            box-shadow: none !important;
            bottom: 0;
        }
    }

    button:first-child {
        @apply rounded-r-none;
    }

    button:last-child {
        @apply rounded-l-none;
    }
}

/* With Icons
  ========================================================================== */

.btn-icon {
    padding: 1px 8px;
    border-radius: 2px;
}

.btn-primary.btn-icon .icon,
.btn-primary.btn-with-icon .icon {
    color: #fff;
}

.btn-round {
    height: 32px;
    width: 32px;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0;
    span {
        font-size: 18px;
        line-height: 34px;
        width: 32px;
    }
}

.btn-icon-small,
td .btn-icon {
    @extend .btn-icon;
    height: 24px;
    line-height: 24px;
    padding: 1px 5px;
}

.btn-with-icon .icon {
    margin: -5px 7px 0 -3px;
    position: relative;
    top: 1px;
}

.btn-with-icon {
    @apply .flex .items-center;
    svg {
        margin: 0 8px 0 -4px;
        height: 16px;
        width: 16px;

    }
}

.btn-icon-only {
    @apply .flex .items-center;
    padding: 0 12px;
    svg {
        margin: 0;
        height: 16px;
        width: 16px;
    }
}

/* Button with Dropdown
  ========================================================================== */

.btn-dropdown {
    @extend .btn;
}

.btn-dropdown-primary {
    @extend .btn-primary;
    @apply flex items-center p-0;

    &:hover .trigger {
        @apply border-blue-darker;
    }

    &:active, &:focus:active {
        bottom: 0;
    }

    &:focus-within {
        @apply focus-outline;
    }

    .cta {
        height: 100%;
        padding: 0 16px;
    }

    .trigger {
        @apply h-full border-l border-blue-dark;
        padding: 0 12px;
    }

    button:focus, button:active, button:focus:active {
        @apply outline-none;
        box-shadow: inset 1px 3px 5px rgba(0, 0, 0, .15);
    }

    button:hover {
        @apply bg-blue-dark;
    }

    div {
        height: 100%;
    }
}


/* Specialty Buttons
  ========================================================================== */

.btn-more,
.btn-more:active {
    background: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    position: relative;
    transition: all .2s ease;
}

.btn-more:before { line-height: 0; }

.btn-close {
    @apply ml-2 p-0 text-xl text-grey-60 rounded-full;
    height: 32px;
    width: 32px;
    line-height: 32px;
    flex-shrink: 0;
    outline: none;
    &:hover {
        background: rgba(0,0,0,.05);
    }
    &:active, &:focus:hover {
        outline: none;
        background: rgba(0,0,0,.075);
    }
}
