/* ==========================================================================
   BUTTONS
   ========================================================================== */

.select,
.selectize-control.single .selectize-input,
.btn,
.btn-default {
    @include button(#fff, $color_gray_dark);
    .icon { color: #777; }
}

.btn-danger {
    @include button($color_red, white);

    &:hover { color: white; }
}

.btn:focus {
    box-shadow: 0 0 10px rgba($brand-primary, .9);
}

.btn-primary {
    @include button($brand-primary, rgba(255,255,255,.9));
    box-shadow:
        0 2px 5px 0 rgba($brand-primary,.05),
        0 1px 2px 0 rgba(0,0,0,.07),
        0 1px 3px 0 rgba(0,0,0,.08);
    border-bottom: 1px solid #2090d5;

    &:hover,
    &.depressed {
		box-shadow:
            0 2px 5px 0 rgba(50,50,93,.1),
            0 2px 4px 0 rgba(50,50,93,.08),
            0 1px 2px 0 rgba(0,0,0,.08),
            0 1px 3px 0 rgba(0,0,0,.08);
        border-bottom: 1px solid rgba(#2090d5, .9);
	}
}

.btn-secondary {
    @include button($brand-secondary);
}

.btn-delete {
    @include button($color_red);
}

.btn-icon {
    padding: 1px 8px;
    border-radius: 2px;
}

.btn.round {
    width: 32px;
}

.btn-primary.btn-icon .icon,
.btn-primary.btn-with-icon .icon {
    color: #fff;
}

.btn.btn-small {
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    padding: 0 8px;
    border-radius: 2px;
}

.btn-icon-small,
td .btn-icon {
    @extend .btn-icon;
    height: 24px;
    line-height: 24px;
    padding: 1px 5px;
}

.btn-with-icon .icon {
    margin: -5px 7px 0 -3px;
    position: relative;
    top: 1px;
}


.btn.btn-lg {
    font-size: 16px;
    height: 48px;
    line-height: 42px;
    padding: 2px 40px;
}

.btn-white {
    @include button(#fff, $color_gray_dark);
}

.btn i.icon {
    color: #d0d4d7;
}
.btn:hover i.icon {
    color: darken(#d0d4d7, 10%);
}



/* ==========================================================================
   BUTTON GROUPS
   ========================================================================== */

.btn-group {
    border-radius: 3px;
    box-shadow: 0 0 0 1px rgba(50,50,93,.1), 0 2px 5px 0 rgba(50,50,93,.08), 0 1px 1.5px 0 rgba(0,0,0,.07), 0 1px 2px 0 rgba(0,0,0,.08), 0 0 0 0 transparent;
    background: #fff;
    cursor: pointer;
    white-space: nowrap;

    .btn, .select {
        box-shadow: none;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        display: flex;
        align-items: center;

        &:hover, &.depressed {
            background: rgba(0,0,0,.02);
            box-shadow: inset 0 0 2px rgba(0,0,0,.06);
            z-index: 2;
        }
    }

    .btn:first-child:active { border-left: 1px solid transparent; }
    .btn:last-child:active { border-right: 1px solid transparent; }

    .btn:not(:first-child), {
        border-left: 1px solid rgba(0,0,0,.06);
    }

    .btn:not(:last-child) {
        border-right: 1px solid rgba(0,0,0,.06);
    }

    .btn.btn-primary:hover {
        background: mix(black, $brand-primary, 5%);
    }

    > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
        border-radius: 3px 0 0 3px;
    }

    > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
        border-radius: 0 3px 3px 0;
    }
}

.btn-group.open .dropdown-toggle.btn-more {
    box-shadow: none;
    transform: rotate(90deg);
}

.btn-group.open .dropdown-toggle {
    box-shadow: inset 0 0 2px rgba(0,0,0,.06);
}

.btn-group.action-more {
    background: transparent;
    box-shadow: none;
}

.btn-group.btn-group-primary {
    background-color: $brand-primary;
    box-shadow:
        0 2px 5px 0 rgba($brand-primary,.05),
        0 1px 2px 0 rgba(0,0,0,.07),
        0 1px 3px 0 rgba(0,0,0,.08);
    border-bottom: 1px solid #2090d5;

    .btn.btn-primary { border: none; }
}



.btn-upload {
    border: dashed 1px $color_gray_upload;
    color: $color_gray_upload;
    font-size: 11px;
    padding: 6px 20px;

    @include box-shadow(none);

    strong {
        color: $color_gray_upload_alt;
        font-family: $font;
        font-weight: normal;
        text-transform: uppercase;
    }

    &.btn-upload-full {
        border: none;
        display: block;
        font-size: 16px;
        min-height: 400px;
        padding-top: 40%;
        width: 100%;

        strong {
            color: $color_gray_dark;
            display: block;
            font-size: 18px;
            margin-top: -30%;
            padding-top: 120px;

            @include background('../img/arrow-drop.png', 12px 101px, transparent, top center);
        }
    }
    &.btn-upload-small {
        border: none;
        font-size: 13px;
        padding:30px 0;
        width: 20%;

        a {
            font-weight: bold;
        }
        strong {
            color: $color_gray_dark;
            display: block;
            padding-top: 35px;

            @include background('../img/arrow-drop-small.png', 9px 31px, transparent, top center);
        }
    }
}

.open .dropdown-menu {
    transform: scale(1);
    opacity: 1;
    z-index: 9999;
    pointer-events: auto;
}

.dropdown-menu {
    @extend .z-depth-2;
    border: solid 1px rgba(0,0,0,.075);
    border-radius: 4px;
    left: auto;
    pointer-events: none;
    right: -5px;
    margin-top: 5px;
    min-width: 180px;
    padding: 8px;
    display: block;
    transform-origin: 50% 10%;
    animation-fill-mode: forwards;
    opacity: 0;
    transform: scale(.8);
    transition: all .1s ease-in;
    will-change: transform, opacity;

    li > a {
        border-radius: 3px;
        font-size: 13px;
        padding: 4px 8px;

        &:hover {
            background: $brand-primary;
            color: #fff;
        }

        .icon {
            color: #d0d4d7 !important;
            margin-right: 6px;
            margin-left: -4px;
            font-size: 12px;
            width: 20px;
            display: block;
            float: left;
            position: relative;
            top: 2px;
            line-height: inherit;
            text-align: center;
        }
    }

    li.warning a { color: $color_red; }
    li.warning a:hover {
        background: $color_red;
        color: #fff;
    }

    li.divider {
        margin: 6px -8px;
    }
}

.btn-more,
.btn-more:active {
    background: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    position: relative;
    transition: all .2s ease;
}

.btn-more:before { line-height: 0; }

.btn-circle {
    svg path, svg circle {
        fill: #2d393c;
    }
}
