/* ==========================================================================
   BUTTONS
   ========================================================================== */

button {
    @apply font-normal;
}

// Base button styles that shouldn't need overriding
[class^="btn"], [class*=" btn"] {
    @apply cursor-pointer select-none h-auto rounded relative;
    @apply leading-normal inline-block align-middle whitespace-no-wrap;
    @apply text-center text-sm subpixel-antialiased;

    height: 2.375rem; // 38px
    letter-spacing: -0.01em;
    padding: .475rem 1.25rem;

    &:focus {
        @apply focus-outline;
    }

    &:disabled {
        @apply cursor-default;
    }
}

.btn-height {
    height: 2.375rem; // 38px
}

// Default, non-primary action button
.btn, .btn-default {
    @apply text-grey-80 shadow-button;

    background: linear-gradient(180deg, #fff, #f9fafb);
    border: 1px solid #c4cdd6;

    &:hover:not(:disabled), &:active:not(:disabled) {
        background: linear-gradient(180deg, #f9fafb, #f4f6f8);
        border-color: #c4cdd5;
    }

    &.active, &.active:hover {
        box-shadow: inset 2px 2px 3px 0px rgba(25,30,35,.1);
        background: theme('colors.grey-40');
        border-color: #aeb9c3 !important;
    }

    &:disabled {
        @apply text-grey-70 opacity-75;
    }
}

// Primary action button
.btn-primary {
    @apply text-white;
    background: linear-gradient(to bottom, theme('colors.blue-500'), theme('colors.blue-600'));
    border: 1px solid theme('colors.blue-700');
    box-shadow: inset 0 1px 0 0 theme('colors.blue-400'), 0 1px 0 0 rgba(25,30,35,.05), 0 0 0 0 transparent;

    &:hover:not(:disabled), :active:not(:disabled) {
        background: linear-gradient(to bottom, theme('colors.blue-600'), theme('colors.blue-700'));
        border: 1px solid theme('colors.blue-800');
        box-shadow: inset 0 1px 0 0 theme('colors.blue-500'), 0 1px 0 0 rgba(25,30,35,.05), 0 0 0 0 transparent;
    }

    &:disabled {
        @apply text-blue-200 opacity-75;
    }
}

// Danger/delete button
.btn-danger {
    background: linear-gradient(180deg, #e53e3e, #c53030);
    border: 1px solid #9b2c2c;
    box-shadow: inset 0 1px 0 0 #f56565, 0 1px 0 0 rgba(25,30,35,.05), 0 0 0 0 transparent;
    color: white;

    &:hover:not(:disabled), &:active:not(:disabled) {
        background: linear-gradient(180deg, #c53030, #9b2c2c);
        border-color: #742a2a;
    }

    &:disabled {
        @apply text-red-lighter opacity-75;
    }
}

// Earth isn't flat but these buttons are
.btn-flat {
    @apply text-white text-grey-80 bg-grey-30 flex items-center;
    position: inherit;

    &:hover:not(:disabled), &:active:not(:disabled), &.active {
        @apply bg-grey-40;
    }

    &:focus {
        @apply focus-outline bg-grey-30;
    }

    &:active, &:focus:active {
        @apply bg-grey-50;
    }

    &:disabled {
        @apply text-grey-60 opacity-75;
    }
}

/* Size Variations
  ========================================================================== */

.btn-sm {
    @apply text-2xs;
    height: 1.625rem; // 24px
    padding: 4px 10px;
}

.btn-lg {
    font-size: 16px;
    height: 48px;
    line-height: 44px;
    padding: 2px 40px;
}


/* Shape Variations
  ========================================================================== */

.btn-round {
    @apply rounded-full flex items-center text-center p-0;
    background: linear-gradient(180deg, #fff, #f9fafb);
    border: 1px solid #c4cdd6;
    box-shadow: 0 1px 0 0 rgba(25,30,35,.05);
    height: 32px;
    width: 32px;

    &:hover:not(:disabled), &:active:not(:disabled) {
        background: linear-gradient(180deg, #f9fafb, #f4f6f8);
        border-color: #c4cdd5;
    }

    span {
        font-size: 18px;
        width: 32px;
    }
}


/* Button Group
  ========================================================================== */

.btn-group {
    @apply flex items-center p-0;
    height: 2.375rem;

    button {
        @apply rounded-none;
    }

    button:not(:last-child):not(.active) {
        @apply border-r-0;
    }

    button.active + button {
        @apply border-l-0;
    }

    button:first-child {
        @apply rounded-l;
    }

    button.disabled {
        @apply opacity-75;
    }

    button:last-child {
        @apply rounded-r border-l;
        padding: .475rem .5rem;
        &.btn-flat { @apply border-r-0; }
    }
}


/* With Icons
  ========================================================================== */

.btn-icon {
    padding: 1px 8px;
    border-radius: 2px;
}

.btn-primary.btn-icon .icon,
.btn-primary.btn-with-icon .icon {
    color: #fff;
}


.btn-icon-small,
td .btn-icon {
    @extend .btn-icon;

    height: 24px;
    line-height: 24px;
    padding: 1px 5px;
}

.btn-with-icon .icon {
    margin: -5px 7px 0 -3px;
    position: relative;
    top: 1px;
}

.btn-with-icon {
    @apply .flex .items-center;

    svg {
        margin: 0 8px 0 -4px;
        height: 16px;
        width: 16px;

    }
}

.btn-icon-only {
    @apply .flex .items-center;

    padding: 0 12px;
    svg {
        margin: 0;
        height: 16px;
        width: 16px;
    }
}

/* Button with Dropdown
  ========================================================================== */

.btn-dropdown {
    @extend .btn;
}

.btn-dropdown-primary {
    @extend .btn-primary;
    @apply flex items-center p-0;

    &:hover .trigger {
        @apply border-blue-darker;
    }

    &:active, &:focus:active {
        bottom: 0;
    }

    &:focus-within {
        @apply focus-outline;
    }

    .cta {
        height: 100%;
        padding: 0 16px;
    }

    .trigger {
        @apply h-full border-l border-blue-dark;
        padding: 0 12px;
    }

    button:focus, button:active, button:focus:active {
        @apply outline-none;
        box-shadow: inset 1px 3px 5px rgba(0, 0, 0, .15);
    }

    button:hover {
        @apply bg-blue-dark;
    }

    div {
        height: 100%;
    }
}


/* Close button. For closing things.
  ========================================================================== */

.btn-close {
    @apply ml-2 p-0 text-xl text-grey-60 rounded-full;
    height: 32px;
    width: 32px;
    line-height: 32px;
    flex-shrink: 0;
    outline: none;

    &:hover {
        background: rgba(0,0,0,.05);
    }

    &:active, &:focus:hover {
        outline: none;
        background: rgba(0,0,0,.075);
    }
}
