/* ==========================================================================
   BUTTONS
   ========================================================================== */

// Base button styles that shouldn't need overriding
button, .btn, [class*="btn"] {
    @apply cursor-pointer select-none h-auto rounded relative;
    @apply leading-normal inline-block align-middle whitespace-no-wrap;
    @apply text-center text-sm subpixel-antialiased;

    height: 2.375rem; // 38px
    letter-spacing: -0.01em;
    padding: .475rem 1.25rem;
    transition-property: background, border, box-shadow;
    transition-timing-function: cubic-bezier(0.64, 0, 0.35, 1);
    transition-duration: 200ms;

    &:focus {
        @apply focus-outline;
    }

    &:disabled {
        @apply opacity-50;
        cursor: not-allowed;
    }
}

// Default, non-primary action button
.btn, .btn-default {
    @apply text-grey-80;

    background: linear-gradient(180deg, #fff, #f9fafb);
    border: 1px solid #c4cdd6;
    box-shadow: 0 1px 0 0 rgba(22,29,37,.05);

    &:hover:not(:disabled), &:active:not(:disabled) {
        background: linear-gradient(180deg, #f9fafb, #f4f6f8);
        border-color: #c4cdd5;
    }
}

// Primary action button
.btn-primary {
    @apply text-white;
    background: linear-gradient(to bottom, #4299e1, #3182ce);
    border: 1px solid #2b6cb0;
    box-shadow: inset 0 1px 0 0 #63b3ed, 0 1px 0 0 rgba(22,29,37,.05), 0 0 0 0 transparent;

    &:hover:not(:disabled), :active:not(:disabled) {
        background: linear-gradient(to bottom, #3182ce, #2b6cb0);
        border: 1px solid #2c5282;
        box-shadow: inset 0 1px 0 0 #4299e1, 0 1px 0 0 rgba(22,29,37,.05), 0 0 0 0 transparent;
    }
}

// Danger/delete button
.btn-danger {
    background: linear-gradient(180deg, #e53e3e, #c53030);
    border: 1px solid #9b2c2c;
    box-shadow: inset 0 1px 0 0 #f56565, 0 1px 0 0 rgba(22,29,37,.05), 0 0 0 0 transparent;
    color: white;

    &:hover:not(:disabled), &:active:not(:disabled) {
        background: linear-gradient(180deg, #c53030, #9b2c2c);
        border-color: #742a2a;
    }
}

// Earth isn't flat but these buttons are
.btn-flat {
    @apply text-white text-grey-80 bg-grey-30;
    position: inherit;

    &:hover:not(:disabled), &:active:not(:disabled) {
        @apply bg-grey-40;
    }

    &:focus {
        @apply focus-outline bg-grey-30;
    }

    &:active, &:focus:active {
        @apply bg-grey-50;
    }
}

// Text link style button
.btn-link {
    @apply text-grey-80;
    &:hover {
        @apply text-blue;
    }
}

/* Size Variations
  ========================================================================== */

.btn-sm {
    @apply text-2xs;
    height: 1.625rem; // 24px
    padding: 4px 10px;
}

.btn-lg {
    font-size: 16px;
    height: 48px;
    line-height: 44px;
    padding: 2px 40px;
}


/* Shape Variations
  ========================================================================== */

.btn.round {
    width: 32px;
}

.btn-circle {
    svg path, svg circle {
        fill: #2d393c;
    }
}

/* Button Group
  ========================================================================== */

.btn-group-flat {
    @apply flex items-center p-0;
    height: 38px;

    button {
        @apply text-grey-80 bg-grey-30 flex items-center h-full;

        &:hover, &.active, &:focus {
            @apply bg-grey-40 text-grey-80;
            bottom: 0;
        }

        &:active, &:active:focus {
            @apply bg-grey-50;
            bottom: 0;
        }
    }

    button:first-child {
        @apply rounded-r-none;
    }

    button:last-child {
        @apply rounded-l-none;
    }
}

/* With Icons
  ========================================================================== */

.btn-icon {
    padding: 1px 8px;
    border-radius: 2px;
}

.btn-primary.btn-icon .icon,
.btn-primary.btn-with-icon .icon {
    color: #fff;
}

.btn-round {
    height: 32px;
    width: 32px;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0;
    span {
        font-size: 18px;
        line-height: 34px;
        width: 32px;
    }
}

.btn-icon-small,
td .btn-icon {
    @extend .btn-icon;
    height: 24px;
    line-height: 24px;
    padding: 1px 5px;
}

.btn-with-icon .icon {
    margin: -5px 7px 0 -3px;
    position: relative;
    top: 1px;
}

.btn-with-icon {
    @apply .flex .items-center;
    svg {
        margin: 0 8px 0 -4px;
        height: 16px;
        width: 16px;

    }
}

.btn-icon-only {
    @apply .flex .items-center;
    padding: 0 12px;
    svg {
        margin: 0;
        height: 16px;
        width: 16px;
    }
}

/* Button with Dropdown
  ========================================================================== */

.btn-dropdown {
    @extend .btn;
}

.btn-dropdown-primary {
    @extend .btn-primary;
    @apply flex items-center p-0;

    &:hover .trigger {
        @apply border-blue-darker;
    }

    &:active, &:focus:active {
        bottom: 0;
    }

    &:focus-within {
        @apply focus-outline;
    }

    .cta {
        height: 100%;
        padding: 0 16px;
    }

    .trigger {
        @apply h-full border-l border-blue-dark;
        padding: 0 12px;
    }

    button:focus, button:active, button:focus:active {
        @apply outline-none;
        box-shadow: inset 1px 3px 5px rgba(0, 0, 0, .15);
    }

    button:hover {
        @apply bg-blue-dark;
    }

    div {
        height: 100%;
    }
}


/* Specialty Buttons
  ========================================================================== */

.btn-more,
.btn-more:active {
    background: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    position: relative;
    transition: all .2s ease;
}

.btn-more:before { line-height: 0; }

.btn-close {
    @apply ml-2 p-0 text-xl text-grey-60 rounded-full;
    height: 32px;
    width: 32px;
    line-height: 32px;
    flex-shrink: 0;
    outline: none;
    &:hover {
        background: rgba(0,0,0,.05);
    }
    &:active, &:focus:hover {
        outline: none;
        background: rgba(0,0,0,.075);
    }
}
