/* ==========================================================================
   DROPDOWNS
   ========================================================================== */

.dropdown-list .popover-content {
    @apply p-1;

    button, a {
        @apply block w-full text-left rounded-sm text-xs font-normal px-1 py-sm text-grey-80;
        line-height: 1.4;
        white-space: nowrap;

        &:hover {
            @apply .bg-blue .text-white;
        }

        .icon {
            color: #d0d4d7 !important;
            margin-right: 6px;
            margin-left: -4px;
            font-size: 12px;
            width: 20px;
            display: block;
            float: left;
            position: relative;
            top: 2px;
            line-height: inherit;
            text-align: center;
        }
    }

    button.warning, a.warning {
        color: $color_red;

        &:hover {
            background: $color_red;
            color: #fff;
        }
    }

    .divider {
        background-color: $color_gray_page;
        height: 1px;
        overflow: hidden;
        margin: 6px -8px;
    }

    .align-left & {
        right: auto;
    }
}
