/* ==========================================================================
   DROPDOWNS
   ========================================================================== */

.open .dropdown-menu {
    transform: scale(1);
    opacity: 1;
    z-index: 9999;
    pointer-events: auto;
}

.dropdown-menu {
    @apply bg-white shadow-lg absolute block float-left list-reset p-1 rounded-md;
    top: 100%;
    left: auto;
    right: -5px;
    z-index: 9999;
    margin: 6px 0 0;
    pointer-events: none;
    min-width: 180px;
    transform-origin: 50% 10%;
    animation-fill-mode: forwards;
    opacity: 0;
    transform: scale(.8);
    transition: all .08s ease-in;
    will-change: transform, opacity;
    background-clip: padding-box;

    li > a {
        @apply block rounded text-xs font-normal px-1 py-sm text-blue;
        white-space: nowrap;

        &:hover {
            @apply .bg-blue .text-white;
        }

        .icon {
            color: #d0d4d7 !important;
            margin-right: 6px;
            margin-left: -4px;
            font-size: 12px;
            width: 20px;
            display: block;
            float: left;
            position: relative;
            top: 2px;
            line-height: inherit;
            text-align: center;
        }
    }

    li.warning a { color: $color_red; }
    li.warning a:hover {
        background: $color_red;
        color: #fff;
    }

    .divider {
        background-color: $color_gray_page;
        height: 1px;
        overflow: hidden;
        margin: 6px -8px;
    }
}
