/* ==========================================================================
   BASIC FORM FIELDS
   ========================================================================== */

// TODO: Figure out where this is used. What even is it?
form {
    ul, li {
        list-style: none;
        padding: 3px 0;
    }
}

fieldset {

}

label {
    @apply .text-grey-dark .font-normal .text-sm .block .leading-normal;
}

input[type="checkbox"] {
    font-size: 18px;
}

select {
    @apply .text-base .bg-grey-lighter .border-2 .border-grey-lighter .cursor-pointer;
}


.input-text {
    @apply appearance-none bg-grey-lighten-6 w-full border p-1 rounded shadow-inner;
    transition: border-color .15s ease-in-out,
                box-shadow .15s ease-in-out;
    &:focus {
        @apply border-blue-light;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0,125,255,.25);
    }
}

.input-select {

}

textarea.input-text {
    @apply p-2;
    min-height: 80px;
}

.form-group.tight {
    margin-bottom: 8px;
}

.form-control {
    @apply .text-sm .w-full .rounded .border-0 .bg-grey-lightest .shadow-inner;

    padding: 8px 10px;

    .replicator-fieldtype & {
        background: #fff;
    }

    &.code {
        font-family: $font_monospace;
        font-size: 12px;
        color: $color_red;
    }

    &.alt {
        background: $color_search_alt;
        box-shadow: none;
    }

    &.mono {
        font-family: $font_monospace;
        font-size: 12px;
    }
}

textarea.form-control {
    min-height: 80px;
}

label .required {
    color: $color_red;
    font-style: normal;

    + .localizable-icon {
        margin-left: 5px;
    }
}

.select-input-container {
    position: relative;

    select {
        @include button(#fff, $color_gray_dark);
        @apply block appearance-none pl-1.5 pr-3 bg-white cursor-pointer w-full h-full relative shadow-button;
    }

    .select-input-toggle {
        @apply pointer-events-none absolute pin-y pin-r flex items-center px-1 text-grey-darker;
        svg {
            @apply fill-current h-4 w-4;
        }
    }
}

    // span.status {
    //     border-radius: 7px;
    //     display: inline-block;
    //     float: left;
    //     height: 7px;
    //     margin-right: 10px;
    //     position: relative;
    //     top: 6px;
    //     width: 7px;
    // }
    //
    // span.status-draft {
    //     background: $color_gray_light;
    // }
    // span.status-hidden {
    //     border: solid 1px $color_gray_light;
    // }
    // span.status-live {
    //     background: $color_green;
    // }
// }

input[type="file"] {
    padding: 16px;
    height: auto;
    line-height: 1;
}

input.slug {
    background: none;
    box-shadow: none;
    border: none;
    float: left;
    flex-grow: 1;
    font-size: 19px !important;
    height: 32px !important;
    padding-top: 3px !important;
    transition: none !important;
    width: 75% !important;
    -webkit-font-smoothing: antialiased;
    &:hover,
    &:focus {
        @extend .form-control;
        transition: none !important;
    }
}

.filter-control {
    background: #fff;
    border: 1px solid rgba(0,0,0,.15);
    font-size: 14px;
    line-height: 1.5;
    position: relative;

    &.search { height: 34px !important; }
}



/* Form groups
  ========================================================================== */

.form-group {
    @apply .p-3 .m-0;

    label {
        font-weight: 500;
    }

    .help-block {
        @apply .block .mb-1 .text-grey-light .text-xs;
        a {
            @apply .text-red;
            &:hover {
                @apply .text-grey-dark;
            }
        }
    }

    .input-with-loader + .help-block {
        margin-top: 0;
    }

    &.form-grid,
    .form-grid {
        input,
        textarea {
            background: none;
            box-shadow: none;
        }
    }
}

.form-group.inline {
    display: flex;
    align-items: stretch;
    padding: 0 !important;
    margin: 0 !important;

    .form-group { flex-basis: auto; }

    .major { flex: 1; }
}
