/* ==========================================================================
   BASE FORM ELEMENTS
   ========================================================================== */

// TODO: Figure out where this is used. What even is it?
form {
    ul, li {
        list-style: none;
        padding: 3px 0;
    }
}

label {
    @apply .text-grey-80 .font-normal .text-sm .block .leading-normal;
}

input[type="checkbox"] {
    font-size: 18px;
}

select {
    @apply .text-base .bg-grey-30 .border-2 .border-grey-30 .cursor-pointer;
}


/* Text Fields
  ========================================================================== */

.input-text {
    @apply appearance-none bg-grey-10 text-grey-80 max-w-full w-full border p-1 rounded shadow-inner;
    height: 38px;
    transition: border-color .15s ease-in-out,
                box-shadow .15s ease-in-out;

    &:focus, &:focus-within {
        @apply focus-outline;
    }

}

// Used inside tables, grids, and so on
.input-text-minimal {
    @apply appearance-none shadow-none bg-white w-full p-1;

    &:focus {
        @apply outline-none bg-grey-20;
    }
}


// Needs an 'input' selector, otherwise when .input-text is used on a div, it's always considered read only.
input.input-text:read-only,
textarea.input-text:read-only,
input.input-text-minimal:read-only,
.input-text.read-only {
    @apply bg-grey-30 text-grey-70;
}

/* Input Groups
  ========================================================================== */

.input-group {
    @apply appearance-none text-grey-80 w-full p-0 rounded flex items-center;
    height: 38px;

    &:focus, &:focus-within {
        @apply focus-outline;
    }

    .input-text {
        @apply .flex-1 border-grey-50;

        &:focus, &:focus-within {
            @apply focus-none;
        }
    }

    .input-text:not(:first-child) {
        @apply rounded-l-none border-l-0;
    }

    .input-text:not(:last-child) {
        @apply rounded-r-none border-r-0;
    }

    .input-group-prepend {
        @apply rounded-l bg-grey-30 px-1 border border-grey-50 text-sm;
        height: 38px;
        line-height: 36px;
    }

    .input-group-append {
        @apply rounded-r bg-grey-30 px-1 border border-grey-50 text-sm;
        height: 38px;
        line-height: 36px;
    }
}


/* Radio and Checkbox Fields
  ========================================================================== */

.radio-fieldtype .option,
.checkboxes-fieldtype .option {
    @apply mb-1 flex items-center;

    input {
        @apply leading-normal;
    }

    label {
        @apply .font-normal .ml-1 .mt-sm leading-normal;
    }
}

.radio-fieldtype .inline-mode,
.checkboxes-fieldtype .inline-mode {
    @apply flex items-center;

    .option {
        @apply mr-2;
    }
}

.radio-box {
    @apply border rounded cursor-pointer relative p-2 h-full;
    &.selected {
        @apply border-blue text-blue shadow;
    }
}


/* Select Fields
  ========================================================================== */
  .select-input-container {
      @apply rounded relative;

      &:focus, &:focus-within {
          @apply focus-outline;
      }

      select {
          @include button(#fff, config('colors.grey-80'));
          @apply block appearance-none pl-1.5 text-left pr-4 bg-white cursor-pointer w-full h-full relative shadow-button;
      }

      .select-input-toggle {
          @apply pointer-events-none absolute pin-y pin-r flex items-center px-1 text-grey-90;

          svg {
              @apply fill-current h-4 w-4;
          }
      }
  }


label .required {
    color: $color_red;
    font-style: normal;

    + .localizable-icon {
        margin-left: 5px;
    }
}

input[type="file"] {
    padding: 16px;
    height: auto;
    line-height: 1;
}

input.slug {
    background: none;
    box-shadow: none;
    border: none;
    float: left;
    flex-grow: 1;
    font-size: 19px !important;
    height: 32px !important;
    padding-top: 3px !important;
    transition: none !important;
    width: 75% !important;
    -webkit-font-smoothing: antialiased;
    &:hover,
    &:focus {
        @extend .input-text;
        transition: none !important;
    }
}

.filter-control {
    background: #fff;
    border: 1px solid rgba(0,0,0,.15);
    font-size: 14px;
    line-height: 1.5;
    position: relative;

    &.search { height: 34px !important; }
}

.help-block { width: 100%; }


/* Form groups
  ========================================================================== */
.form-group {
    @apply .p-1.5 .m-0;

    label {
        font-weight: 500;
    }

    .input-with-loader + .help-block {
        margin-top: 0;
    }

    &.form-grid,
    .form-grid {
        input,
        textarea {
            background: none;
            box-shadow: none;
        }
    }
}

.form-group.inline {
    display: flex;
    align-items: stretch;
    padding: 0 !important;
    margin: 0 !important;

    .form-group { flex-basis: auto; }

    .major { flex: 1; }
}

.help-block {
    @apply .block .mb-1 .text-grey-70 .text-xs;
    a {
        @apply .text-red;
        &:hover {
            @apply .text-grey-80;
        }
    }
}

@screen md {
    .form-group {
        @apply .p-3;
    }
}
