[class^="icon"] {
	display: inline-block;
	font-size: 16px;

	.icon-group & {
		margin: 0 0 0 10px;
		vertical-align: middle;
	}
}
.icon-left { margin-right: 10px; }
.icon-right { margin-left: 10px; }

.icon-status {
	border-radius: 7px;
	display: inline-block;
	height: 7px;
	position: relative;
	width: 7px;
}
.icon-status-draft {
	background: $color_gray_light;
}
.icon-status-hidden {
	border: solid 1px $color_gray_light;
}
.icon-status-live {
	background: $color_green;
}

.icon-large {
    font-size: 42px;
}


.svg-icon {
	svg {
		width: 100%;
		height: 100%;
	}

	div {
		padding-top: 100%;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: 50% 50%;
	}
}
