/* ==========================================================================
   TABLES
   ========================================================================== */

.data-list-header {
    @apply p-2 pb-1 flex flex-wrap items-center;
}

.data-list-search-input {
	// @apply text-sm px-2 py-1 flex-1 rounded border;
	@apply bg-white;

	&:focus {
		@apply focus-outline;
	}
}

.data-list-bulk-actions {
	@apply bg-white absolute w-full pt-2 z-10;
	padding-left: 56px;
}

.mode-grid .data-list-bulk-actions {
	@apply bg-white w-full pt-1 z-10 pl-2 static;
}

.mode-grid .rotating-dots-button {
    @apply bg-white;
}

.data-list-footer {
    @apply py-1.5 pr-2 flex items-center border-t;
}

.data-table {
	@apply text-left text-grey outline-none max-w-full w-full;
	overflow-x: auto;

    thead {
		// @apply bg-grey-20 text-grey-90 uppercase text-2xs tracking-wide outline-none;
		@apply text-sm text-grey-70 text-grey-90;

		tr {
			@apply border-b;
		}

        th {
            @apply font-medium px-2 pt-2 pb-1;
            &:first-child { @apply .rounded-tl; }
			&:last-child { @apply .rounded-tr; }
			&:hover {
				@apply text-grey-90;
			}
		}
		.type-column {
			text-align: right;
		}
		.actions-column {
			@apply p-0 pr-2 text-right;
			width: 24px;
		}
	}

    tbody {
		outline: none;
        tr {
			@apply border-b text-sm;

			&.row-selected {
				@apply bg-grey-20;
			}

			&:first-child {
				td:first-child {
				    @apply .rounded-tl;
				}

				td:last-child {
				    @apply .rounded-tr;
				}
			}

			&:last-child {
				@apply border-none;
				td:first-child {
				    @apply .rounded-bl;
				}

				td:last-child {
				    @apply .rounded-br;
				}
			}

            &:hover {
                @apply bg-grey-10;
            }

            th {
                @apply py-1 pr-2;
            }

            td {
                @apply py-1 px-2 break-words;
            }
		}
		.type-column {
			text-align: right;
		}
		.actions-column {
			@apply p-0 text-right;
			width: 24px;
			.rotating-dots-button {
				margin-right: 18px;
			}
		}
    }

    .checkbox-column {
		@apply .w-4 .pr-0 relative z-10;
		padding-left: 20px;
    }

    .sortable-column {
        @apply cursor-pointer select-none;

        &:hover {
			@apply text-blue-500;
        }

        &.current-column {
            @apply font-bold;
            svg { opacity: 1; }
        }

        svg {
            // transition: all 150ms ease;
            opacity: 0;
        }

        svg.asc {
            transform: scaleY(-1);
        }
	}

	.sortable-row.draggable-mirror {
		display: none;
	}

    .date-index-field {
        @apply whitespace-no-wrap;
    }
}

@screen md {
	.data-table {
		@apply w-full table;
	}
}

.data-list-header ~ .data-table {
    thead th {
        border-radius: 0;
    }
}

.data-list-filter-link {
	@apply border-grey-40 text-grey-60 mr-1 p-1.5 pb-1;

	&:hover {
		@apply border-b-3 text-grey-70;
	}

	&:focus {
		@apply border-blue-light;
		outline: 0;
		box-shadow: inset 0 0 0 0.2rem rgba(0,125,255,.25);
	}

	&.active {
		@apply border-b-3 border-blue text-grey-80;
	}
}

td.table-drag-handle {
	@apply w-3 border-r h-full p-1;
	cursor: grab;
	background: theme('colors.grey-20') url('../svg/drag-dots.svg') center center no-repeat;
	&:hover { @apply .bg-grey-30; }
}

table.table-legacy {
	margin-top: 25px;
	margin-bottom: 40px;
	width: 100%;

	thead { border-top: solid 2px $color_border; }

	tr {
		border-top: solid 1px $color_border;
		position: relative;
	}

    tr.warning td {
        background-color: #fcf8e2;
    }

	tbody tr.active td { background: $color_gray_input; }

	.checkbox-col {
		width: 37px;
		padding: 5px 5px;
	}

	th {
		color: $color_gray_light;
		font-size: 11px;
        font-weight: bold;
        padding: 12px 5px 12px 5px;
        text-transform: uppercase;
	}
	td {
        font-size: 14px;
		padding: 10px 5px;

        &.minor {
            color: $color_gray_light;
            font-size: 14px;
        }

		input[type="checkbox"] + label {
			position: relative;
			top: 2px;
			vertical-align: 0;
		}

		span.status {
			border-radius: 7px;
			display: inline-block;
			height: 7px;
			width: 7px;
		}

		span.status-draft { background: $color_gray_light; }
		span.status-hidden { border: solid 1px $color_gray_light; }
		span.status-live { background: $color_green; }
	}
	.handle {
        @apply select-none;
	    cursor: ns-resize;
	}
}

.bordered-table {
	border-spacing: 0;
	border-collapse: separate;
	margin-bottom: 20px;
	margin-top: 0;
	table-layout: fixed;

	> thead,
	> thead > tr > td,
	> thead > tr > th,
	> tbody > tr > td,
	> tbody > tr > th {
		border: none;
	}

	> thead, > tbody {
		> tr {
			> th {
				border-top: solid 1px $color_border;
				font-size: 14px;
				text-transform: none;
			}
			> th, > td {
				border-right: solid 1px $color_border;
				border-bottom: solid 1px $color_border;

				&:first-child {
					border-left: solid 1px $color_border;
				}
			}
		}

		tr:first-child th:first-child { border-top-left-radius: 3px; }
		tr:first-child th:last-child { border-top-right-radius: 3px; }
		tr:last-child td:first-child { border-bottom-left-radius: 3px; }
		tr:last-child td:last-child { border-bottom-right-radius: 3px; }
	}
}

.table-row-placeholder {
	background: $bg;
}

.delete-column {
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 22px;
	color: #777;
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
	line-height: 1;
	text-align: center;
	height: 22px;
	width: 22px;
	float: right;
	cursor: pointer;

	&:hover {
		box-shadow: none;
		color: #555;
	}
}

.column-sortable {
	cursor: pointer;
	position: relative;

	&:before {
		content: "";
		position: absolute;
		bottom: -1px;
		left: 0;
		right: 0;
		height: 2px;
	}

	&:hover:before {
        background: $brand-secondary;
	}
	&.active:before {
        background: $brand-primary;
    }
	.icon {
        position: relative;
        float: right;
        top: 6px;
        right: 5px;
	}

	.icon, .icon:before {
		line-height: 0;
	}
}

.column-status {
	text-align: center;
	width: 80px;
}

.column-actions {
	text-align: right;
	width: 30px;
}

table.control {
    @apply select-none;
}

.flush table.control {
    tr th:first-child {
        padding-left: 30px;
    }
}
