

.dark {
    input:-webkit-autofill {
        -webkit-box-shadow: inset 0 0 0 50px var(--color-gray-500);
        -webkit-text-fill-color: var(--color-gray-300);

        &:focus,
        &:active {
            -webkit-box-shadow: inset 0 0 0 50px var(--color-gray-500) !important;
            -webkit-text-fill-color: var(--color-gray-200);
        }
    }


}
