
.clickable {
    @apply text-gray-800 select-none cursor-pointer border;
    border: 1px solid #c4cdd6;
    background: linear-gradient(180deg, #fff, #f9fafb);
    box-shadow: 0 1px 0 0 rgba(25,30,35,.05);

    &:hover {
        background: linear-gradient(180deg, #f9fafb, #f4f6f8);
        border-color: #c4cdd5;
    }
}
