.vue-toast-manager_container {
  position: fixed;
  width: 100%;

  &.--top {
    top: 10px;
  }
  &.--bottom {
    bottom: 10px;
  }
  &.--left {
    left: 10px;
  }
  &.--right {
    right: 10px;
  }
}

.vue-toast-manager_toasts {
  position: relative;
}
