/* ==========================================================================
   ARRAY FIELDTYPE
   ========================================================================== */

.array-fieldtype {

}

.array-table-wrapper {
    @apply border dark:border-dark-900 rounded overflow-hidden;
    &:focus-within {
        @apply ring-2 ring-blue-300 dark:ring-dark-blue-100;
    }
}
.array-table {
    @apply rounded text-sm text-start w-full;
    &:focus {
        @apply outline-none;
    }

    tr:not(:last-child) {
        th, td {
            @apply border-b dark:border-dark-900;
        }
    }

    th {
        @apply border-e dark:border-dark-900 p-2 bg-gray-300 dark:bg-dark-500;
    }

    td {
        @apply p-0 m-0;
    }

    tr:first-child th {
        @apply rounded-ss;
    }

    tr:first-child td,
    tr:first-child .input-text-minimal {
        @apply rounded-se;
    }

    tr:last-child th {
        @apply rounded-es;
    }
    tr:last-child td:last-child,
    tr:last-child .input-text-minimal {
        @apply rounded-ee;
    }

    &:focus-within {
        @apply focus-none;
    }

    td:focus-within {
        @apply bg-gray-200 dark:bg-dark-600;
    }

    /* Read Only */
    .read-only-field & {
        th { @apply text-gray-500 dark:text-dark-150; }
        tr td { @apply bg-gray-200 dark:bg-dark-600; }
    }
}
