/* ==========================================================================
   BLUEPRINTS
   ========================================================================== */

.blueprint-tab {
    @apply p-2 min-h-40 outline-none;

    &.draggable-source--is-dragging {
        opacity: 0.5;
    }

    &.draggable-mirror .blueprint-tab-card {
        @apply shadow-lg;
    }
}

.blueprint-drag-handle {
    @apply flex-none;
    cursor: move;
    background: rgba(0, 0, 0, 0.01) url('../../svg/drag-dots.svg') 50% 50% no-repeat;
    background-size: 7px 17px;
}

.blueprint-tab-field {
    @apply relative mb-2 px-1 z-10 outline-none text-sm;

    .blueprint-tab-field-inner {
        @apply relative border rounded bg-gray-200 shadow-sm flex outline-none z-10;
    }

    &.draggable-source--is-dragging {
        opacity: 0.5;
    }

    &.draggable-mirror {
        @apply shadow-lg;
    }
}

.blueprint-tab-import {
    &:before {
        content: '';
        @apply border rounded absolute bg-gray-200 shadow-sm;
        top: -3px; left: 6px; right: 0; bottom: 3px; z-index: 1;
    }
}

/*  These are applied here rather than the utility classes so they don't override */
/*  the inline widths defined by the draggable library. */
.blueprint-tab-field-w-1\/4 { @apply w-1/4 };
.blueprint-tab-field-w-1\/3 { @apply w-1/3 };
.blueprint-tab-field-w-1\/2 { @apply w-1/2 };
.blueprint-tab-field-w-2\/3 { @apply w-2/3 };
.blueprint-tab-field-w-3\/4 { @apply w-3/4 };
.blueprint-tab-field-w-full { @apply w-full };

.blueprint-add-tab-container {
    @apply p-2 flex min-h-40;

    .draggable-container--is-dragging & {
        display: none;
    }
}

.blueprint-add-tab-button {
    @apply relative w-full border border-gray-500 border-dashed rounded flex justify-center items-center text-gray-700;

    &:hover {
        @apply border-gray text-gray-950;
    }

    .blueprint-tab-draggable-zone {
        @apply absolute inset-0 p-4;
    }

    .blueprint-tab-field {
        @apply bg-white;
    }
}

.fieldtype-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}
