/* GROUP FIELD BACKGROUND
=================================================== */
@keyframes flip {
    to {
        /* TranslateY to compensate for the height of the pseudo element */
        transform: scaleY(-1) translateY(-1rem);
    }
}
[data-editing-field] {
    position: relative;
    > * {
        /* Pull everything inside above */
        position: relative;
    }
    &::before {
        content: '';
        position: absolute;
        inset: -0.5rem calc(-1rem - 2px) -1rem;
        border: 1px dashed var(--color-blue-400);
        background: var(--color-blue-50);
        border-radius: 10px;
    }
    :where(.dark) &::before {
        @apply bg-blue-950 border-blue-500;
    }
    &::after {
        --offset: 2rem;
        content: '';
        position: absolute;
        z-index: var(--z-index-above);
        top: -0.35rem;
        width: calc(var(--offset) - 2px);
        inset-inline-end: calc(0% - 1rem - 1px - var(--offset));
        border-block-end: 1px dashed var(--color-blue-400);
        border-inline-end: 1px dashed var(--color-blue-400);
        border-end-end-radius: 25px;
        height: 1rem;
        animation: flip auto linear both;
        animation-timeline: --editing-field-scroll;
        --crossing: -80%;
        animation-range: exit-crossing var(--crossing) exit-crossing var(--crossing);
    }
    :where(.dark) &::after {
        @apply border-blue-500;
    }
}

/* GROUP FIELD CONNECTORS
=================================================== */
/* Notes...

    - Links fields to the right settings panel
    - Usually we would just use anchor positioning to do this, but the right panel uses sticky positioning. Achor positioning doesn't support sticky positioning, so while the initial anchor is correct, it doesn't update as we scroll.
        - So we're using scroll-driven animations to mask two different lines to achieve the desired effect

*/
@supports (animation-timeline: auto) and (anchor-name: --my-anchor) {
    :root {
        --global-header-height: 3.5rem;
    }

    /* GROUP FIELD CONNECTORS / DEFINE ANCHORS
    =================================================== */
    [data-editing-field] {
        anchor-name: --editing-field;
    }
    [data-field-settings] {
        anchor-name: --field-settings;
    }

    /* GROUP FIELD CONNECTORS / DEFINE TIMELINE SCOPES
    =================================================== */
    #main-content {
        scroll-timeline-name: --cp-main-scroll;
        timeline-scope: --editing-field-scroll;
    }
    [data-editing-field] {
        view-timeline-name: --editing-field-scroll;
    }

    /* GROUP FIELD CONNECTORS / DEFINE ANIMATIONS
    =================================================== */
    @keyframes move-mask-upwards {
        /* Prevent the mask showing when rubber-band scrolling to the top of the page */
        0% {
            opacity: 0;
        }
        1% {
            opacity: 1;
        }
        100% {
            top: var(--global-header-height);
            height: 7.5rem;
        }
    }
    @keyframes clip-upwards {
        0% {
            opacity: 0;
            /* Hide */
            clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
        }
        14% {
            opacity: 0;
        }
        15%, 100% {
            opacity: 1;
        }
        100% {
            /* Release */
            clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
        }
    }

    /* GROUP FIELD CONNECTORS
    =================================================== */
    .field-to-panel-connector-initial,
    .field-to-panel-connector-scroll-past {
        position: absolute;
        top: anchor(--field-settings top);
        right: anchor(--field-settings left);
        bottom: anchor(--editing-field top);
        width: 2.75rem;
        &::before {
            content: '';
            position: fixed;
        }
    }
    /* GROUP FIELD CONNECTORS / INITIAL CONNECTOR
    =================================================== */
    .field-to-panel-connector-initial {
        border-inline-start: 1px dashed var(--color-blue-400);
        @apply dark:border-blue-500;
        top: calc(anchor(--field-settings top) + 2.15rem);
        bottom: calc(anchor(--editing-field top) + 8px);
        &::before {
            --width: 1.5rem;
            @apply bg-content-bg;
            background: white;
            top: calc(var(--global-header-height) + 1rem);
            height: 6rem;
            width: var(--width);
            translate: calc(0% - var(--width) / 2);
            /* Move the mask up to continue hiding the line now that we've moved past the padding of the container */
            animation: move-mask-upwards auto linear both;
            animation-timeline: --cp-main-scroll;
            animation-range: 0rem 2rem;

        }

        &::after {
            --offset: 1.5rem;
            content: '';
            position: fixed;
            z-index: var(--z-index-above);
            translate: 0 -1.15rem;
            width: var(--offset);
            border-block-start: 1px dashed var(--color-blue-400);
            border-inline-start: 1px dashed var(--color-blue-400);
            border-start-start-radius: 25px;
            height: 1rem;
            animation: flip auto linear both;
            animation-timeline: --editing-field-scroll;
            --crossing: -80%;
            animation-range: exit-crossing var(--crossing) exit-crossing var(--crossing);
        }
    }
    /* GROUP FIELD CONNECTORS / PAST CONNECTOR
    =================================================== */
    /* This connector points downwards and is visible once you scroll _past_ the field */
    .field-to-panel-connector-scroll-past {
        &::before {
            border-inline-start: 1px dashed var(--color-blue-400);
            transform: translateY(-7.5rem);
            height: 8.6rem;
            animation: clip-upwards auto linear both;
            animation-timeline: --editing-field-scroll;
            animation-range: exit-crossing -65% exit-crossing 25%;
        }
        :where(.dark) &::before {
            @apply border-blue-500;
        }
    }
}

