/* ==========================================================================
   FILTERS
   ========================================================================== */

.filter {
    @apply mb-6 rounded-full bg-gray-200 text-center;
    padding: 10px 8px 14px;

    a {
        @apply relative mx-1 p-2 text-xs text-gray-700;
    }

    a.active,
    a:hover {
        @apply text-gray-950;
    }

    a.active:after {
        @apply block bg-red-500;
        content: '';
        width: 4px;
        height: 4px;
        border-radius: 50%;
        opacity: 0.9;
        position: absolute;
        left: 50%;
        [dir='rtl'] & {
            left: auto;
            right: 50%;
        }
        margin-left: -1px;
        [dir='rtl'] & {
            margin-right: -1px;
            margin-left: 0;
        }
        bottom: 1px;
    }

    a.no-dot:after {
        display: none;
    }

    a .icon {
        position: relative;
        top: 2px;
    }
}

.filter-fields {
    .form-group {
        @apply p-0 pb-4;

        &:last-child {
            @apply p-0;
        }
    }

    .text-fieldtype .input-text {
        @apply px-3 py-2;
    }

    .no-label.form-group,
    .no-label .form-group {
        @apply pb-2;

        &:last-child {
            @apply p-0;
        }

        .field-inner {
            @apply hidden;
        }
    }
}
