/* ==========================================================================
   THE GLOBAL HEADER
   ========================================================================== */

.global-header {
    @apply relative flex h-13 w-full items-center bg-white shadow dark:bg-dark-600 dark:shadow-lg ltr:pr-4 rtl:pl-4;
    z-index: 3; /* The search focus overlay sits underneath using z-index 2. */

    .dark & {
        .logo {
            path {
                fill: var(--color-dark-100) !important;
            }
        }
    }

    .global-header-icon-button {
        @apply block h-7 w-7 rounded-full border border-transparent p-1 text-gray outline-hidden hover:border-gray-400 hover:bg-gray-200 hover:text-gray-800;
        @apply dark:border-transparent dark:text-dark-100 dark:hover:border-dark-900 dark:hover:bg-dark-800 dark:hover:text-dark-100;
    }
}

/* Responsive Wangjangling
   ========================================================================== */

@media (width >= theme(--breakpoint-md)) {
    .global-header {
        @apply fixed px-0;
    }
}

/* Search
   ========================================================================== */
.global-search {
    @apply relative flex hidden items-center rounded-md border px-2 py-0 dark:border-dark-300;
    transition: 0.12s ease-out;

    .search-input {
        @apply w-full max-w-full text-sm dark:bg-dark-600 dark:text-dark-150;
        padding-left: 5px;
        padding-right: 20px;
        [dir='rtl'] & {
            padding-left: 20px;
            padding-right: 5px;
        }
        height: 32px;
        &:focus {
            outline: 0;
        }
    }

    .global-search-results {
        @apply absolute w-full rounded-sm border border-gray-500 bg-white p-0 shadow-lg;
        @apply dark:border-dark-900 dark:bg-dark-650;
        top: 36px;
        left: -1px;
        [dir='rtl'] & {
            left: auto;
            right: -1px;
        } /*  border offset */
        z-index: 999;
    }

    .global-search-loading-indicator {
        position: absolute;
        right: 8px;
        [dir='rtl'] & {
            right: auto;
            left: 8px;
        }
    }

    .global-search-result-item {
        @apply cursor-pointer border-t dark:border-dark-800 dark:bg-dark-600 dark:text-dark-150;

        &:first-child {
            @apply rounded-t border-none;
        }

        &:last-child {
            @apply rounded-b;
        }
    }

    .global-search-result-badge {
        @apply rounded-sm border bg-gray-200 px-1 text-2xs text-gray;
        @apply dark:border-dark-700 dark:bg-dark-600 dark:text-dark-100;
    }

    .active {
        @apply bg-gray-300 dark:bg-dark-650;
    }

    .title {
        @apply text-sm font-medium;
    }

    .url {
        @apply text-2xs text-gray-400;
    }

    .status {
        float: right;
        [dir='rtl'] & {
            float: left;
        }
        background: #ddd;
        border-radius: 2px;
        padding: 2px 4px;
    }

    .icon {
        @apply relative cursor-pointer overflow-hidden text-gray dark:text-dark-175;
        font-size: 18px;
        top: 1px;
        width: 20px;
        height: 20px;
        line-height: 20px;
    }

    .reset {
        font-size: 21px;
        left: -3px;
        [dir='rtl'] & {
            left: auto;
            right: -3px;
        }
        position: relative;
    }

    kbd {
        @apply rounded-sm border px-1 pb-px font-sans text-2xs text-gray-500;
    }
}

@media (width >= theme(--breakpoint-lg)) {
    .global-search {
        @apply flex w-128 max-w-full;
        .global-search-results {
            @apply w-128;
        }
    }
}

.site-selector {
    .v-select {
        @apply h-full;
    }
    .vs__dropdown-toggle {
        @apply border-none bg-none;
    }
    .vs__actions {
        @apply hidden;
    }
    .vs__search {
        @apply p-0;
        [dir='rtl'] & {
            @apply p-0;
        }
        [dir='ltr'] & {
            @apply p-0;
        }
    }
    .vs__selected-options {
        @apply border-none bg-none p-0 shadow-none;
    }
    .vs__selected {
        @apply flex;
    }
    .vs__dropdown-toggle {
        @apply h-full rounded-none bg-transparent;
        box-shadow: none;
    }

    .vs--single.vs--unsearchable .vs__selected-options {
        @apply bg-none;
    }
}

.session-expiry-stripe {
    @apply fixed top-0 w-full cursor-pointer bg-red-500 px-4 py-2 text-center text-xs text-white outline-hidden;
    z-index: 999;
    height: 48px;

    &:hover {
        @apply bg-red-700;
    }

    &:active,
    &:focus {
        outline: none;
    }

    &:active {
        height: 49px;
    }
}

.global-header .white-label-logo {
    max-height: 32px;
    max-width: 280px;
}

@keyframes rotate {
    100% {
        transform: rotate(1turn);
    }
}

.animate-radar {
    @apply relative z-0;

    &::after {
        @apply absolute bg-transparent bg-no-repeat;
        content: '';
        z-index: 2;
        left: -50%;
        top: -50%;
        width: 200%;
        height: 200%;
        background-size:
            50% 50%,
            50% 50%;
        background-position:
            0 0,
            100% 0,
            100% 100%,
            0 100%;
        background-image: linear-gradient(transparent, rgba(255, 255, 255, 0.7), transparent);
        animation: rotate 4s linear infinite;
    }
}
