.item {
    @apply flex w-full items-center justify-between rounded-sm border bg-white text-sm shadow-sm outline-hidden;
    @apply dark:border-dark-900 dark:bg-dark-550 dark:shadow-lg;

    .item-move {
        @apply w-4 cursor-grab self-stretch bg-gray-200 p-2 ltr:rounded-l ltr:border-r rtl:rounded-r rtl:border-l;
        @apply dark:border-dark-900 dark:bg-dark-550;
        background-image: url('../../svg/icons/light/drag-dots.svg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 7px 17px;
        &:hover {
            @apply dark:bg-dark-650 bg-gray-300;
        }
    }

    .item-inner {
        @apply flex w-full items-center p-2;
    }

    &.invalid {
        .item-inner {
            @apply dark:border-dark-red border-red-300 bg-red-100 text-red-500 dark:bg-red-400 dark:text-red-950;
        }
    }

    /*  Drag interaction */
    &.draggable-source--is-dragging {
        opacity: 0.5;
    }
}
