/* ==========================================================================
   METRICS
   ========================================================================== */

.metrics {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    resize: horizontal;
    grid-gap: 16px;
}

.metric {
}

.mini-chart {
    @apply relative rounded bg-gray-800 shadow;
    .count {
        overflow: hidden;
        color: #fff;
        padding: 15px;
        h2 {
            font-size: 24px;
            margin: 10px 0 0;
        }
    }
    &.dark {
    }
    &.blue {
        @apply bg-blue;
    }
    &.green {
        @apply bg-green-600;
    }
    &.red {
        @apply bg-red-500;
    }
}

.metric.simple {
    text-align: center;
    .count {
        padding: 5px 0;
        h2 {
            font-size: 32px;
            margin: 10px 0 0;
        }
    }
}
