/* ==========================================================================
   MODALS
   ========================================================================== */
.vfm {
    direction: ltr;
}

.vfm__content {
    @apply rounded-lg dark:bg-dark-600 dark:shadow-dark !important;
    @apply bg-white shadow-2xl overflow-clip;

    [dir='rtl'] & {
        direction: rtl;
    }
}

.vfm__overlay {
    background: hsla(210, 20%, 10%, .15) !important;
}

.confirmation-modal .publish-fields .form-group {
    @apply p-0 mb-6;
}
