/* ==========================================================================
   MODALS
   ========================================================================== */
.vm--container {
    direction: ltr;
}

.vm--modal {
    @apply rounded-lg dark:bg-dark-600 dark:shadow-dark !important;

    [dir='rtl'] & {
        direction: rtl;
    }
}

.vm--overlay {
    background: hsla(210, 20%, 10%, .15) !important;
}

.confirmation-modal .publish-fields .form-group {
    @apply p-0 mb-6;
}
