/* ==========================================================================
   MODALS
   ========================================================================== */
.vfm {
    direction: ltr;
}

.vfm__content {
    @apply dark:bg-dark-600! rounded-lg! dark:shadow-lg!;
    @apply overflow-clip bg-white shadow-2xl;

    [dir='rtl'] & {
        direction: rtl;
    }
}

.vfm__overlay {
    background: hsla(210, 20%, 10%, 0.15) !important;
}

.confirmation-modal .publish-fields .form-group {
    @apply mb-6 p-0;
}
