/* ==========================================================================
   THE MOBILE NAV
   ========================================================================== */

.nav-main.nav-mobile {
    inset-inline-start: -110%;
    display: block;
    z-index: 996;
    .nav-main-inner {
        padding-inline-start: 12px;
    }
}

.nav-mobile-open {
    .nav-main.nav-mobile {
        inset-inline-start: 0;
    }
}

@screen md {
    .nav-main.nav-mobile {
        @apply hidden;
    }
}
