/* ==========================================================================
   THE MAIN NAV
   ========================================================================== */

.nav-/main {
    @apply absolute hidden h-screen w-56 select-none overflow-scroll bg-white shadow ltr:left-0 rtl:right-0;
    @apply dark:bg-dark-800 dark:shadow-lg;

    transition: all 0.3s;

    h6 {
        @apply mt-6;
    }

    ul {
        @apply mt-0 list-none p-0;
    }

    li {
        @apply p-0 text-sm;
        margin-top: 6px;
    }

    li a {
        @apply flex items-center p-0 text-gray-800 dark:text-dark-150;
        transition: all 0.08s ease-in-out;

        &:hover {
            @apply text-blue dark:text-blue-300;
            i {
                @apply dark:text-blue-300;
            }
        }

        i {
            @apply block h-7 w-7 rounded-full p-1 ltr:mr-2 rtl:ml-2;
            @apply dark:text-dark-150/70;
        }
    }

    li.current > a {
        @apply font-medium text-gray-900 dark:text-white;

        i {
            @apply bg-white dark:bg-dark-600 dark:text-dark-100;
        }
    }

    li ul {
        @apply mb-2;
        margin-left: 1.5rem;
        [dir='rtl'] & {
            margin-right: 1.5rem;
            margin-left: 0;
        }

        li {
            @apply text-xs;
            margin-left: 12px;
            [dir='rtl'] & {
                margin-right: 12px;
                margin-left: 0;
            }
        }

        li a {
            @apply text-gray;
        }
    }

    .nav-closed & {
        left: -110%;
        [dir='rtl'] & {
            left: auto;
            right: -110%;
        }
    }

    .nav-section-top-level {
        @apply mt-4;
    }
}

@media (width >= theme(--breakpoint-md)) {
    .nav-main {
        @apply fixed flex overflow-auto bg-transparent shadow-none dark:border-dark-900 ltr:border-r rtl:border-l;
        height: calc(100% - 52px);
        .showing-license-banner & {
            height: calc(100% - 105px);
        }

        .nav-closed & {
            @apply border-0 shadow-none;
        }
    }
}

.nav-main-inner {
    @apply pt-2 ltr:pl-6 ltr:pr-4 rtl:pl-4 rtl:pr-6;
}

.nav-toggle {
    @apply flex h-6 w-6 items-center justify-center rounded-sm p-1 ltr:mr-3 rtl:ml-3;
    outline: none !important;

    &:hover {
        @apply bg-gray-200 dark:bg-dark-500;
    }
}

/* Responsive Wangjangling
  ========================================================================== */
