/* ==========================================================================
   THE MOBILE NAV
   ========================================================================== */

.nav-main.nav-mobile {
    left: -110%;
    display: block;
    z-index: 996;
    .nav-main-inner {
        padding-left: 12px;
    }
}

.nav-mobile-open {
    .nav-main.nav-mobile {
        left: 0;
    }
}

@screen md {
    .nav-main.nav-mobile {
        @apply hidden;
    }
}
