.toasted-container.bottom-right {
    bottom: 32px !important;
    right: 32px !important;
}

.toasted-container.bottom-left {
    bottom: 32px !important;
    left: 14px !important;
}

.toasted-container {
    @apply items-start;
}

.toasted-container .toasted.statamic {
    @apply dark:bg-dark-900 dark:text-dark-100 mt-4 rounded-xl bg-white p-0 text-base text-gray-800 shadow;
    height: 45px;

    i {
        @apply ms-1.5 me-4 flex aspect-square h-3/4 items-center justify-center rounded-full text-white;
    }

    &.success i {
        @apply bg-green-400 text-green-900 dark:bg-green-600 dark:text-green-950;
    }

    &.error i {
        @apply bg-red-500 dark:bg-red-600;
    }

    &.default i {
        @apply dark:bg-dark-900 bg-gray-800;
    }

    .action {
        @apply dark:text-dark-150 m-0 ms-2 flex h-full items-center px-4 text-xl font-normal text-gray-600 opacity-50;
        /* Compensate for the "x" button being a slightly bigger font-size */
        transform: translateY(-1.5px);
        &:hover {
            @apply dark:text-dark-100 text-gray-900 no-underline;
        }
    }
}
