.page-tree {
    .tree-node {
        @apply dark:mb-1;
    }

    .page-tree-branch {
        @apply relative rounded-sm bg-white text-xs shadow;
        @apply dark:bg-dark-600 dark:shadow-dark;

        &:hover {
            @apply bg-gray-100 dark:bg-dark-650;
        }
    }

    .tree-node-children {
        @apply dark:mt-1;
    }

    .page-move {
        @apply w-6 dark:border-dark-900 dark:text-dark-175 ltr:rounded-l ltr:border-r rtl:rounded-r rtl:border-l;
        cursor: grab;
        background-color: hsla(210, 30%, 95%, 0.5);
        background-image: url('../../svg/icons/light/drag-dots.svg');
        background-size: 7px 17px;
        background-position: center center;
        background-repeat: no-repeat;
        &:hover {
            @apply bg-gray-300 dark:bg-dark-700;
        }

        .dark & {
            background-color: hsla(180, 1%, 18%, 0.5);
        }
    }

    .page-root {
        background-color: hsla(210, 30%, 95%, 0.5);
        @apply flex w-6 items-center dark:border-dark-900 ltr:rounded-l ltr:border-r rtl:rounded-r rtl:border-l;
    }
}
