.page-tree {
    .tree-node {
        @apply dark:mb-1;
    }

    .page-tree-branch {
        @apply relative rounded-xl bg-white text-xs shadow;
        @apply dark:bg-dark-600 dark:shadow-lg;
    }

    .tree-node-children {
        @apply dark:mt-1;
    }

    .page-move {
        @apply w-6 dark:border-dark-900 dark:text-dark-175 ltr:rounded-l;
        cursor: grab;
        background-image: url('../../svg/icons/light/drag-dots.svg');
        background-size: 7px 17px;
        background-position: center center;
        background-repeat: no-repeat;

        .dark & {
            background-color: hsla(180, 1%, 18%, 0.5);
        }
    }

    .page-root {
        background-color: hsla(210, 30%, 95%, 0.5);
        @apply flex w-6 items-center dark:border-dark-900 ltr:rounded-l ltr:border-r rtl:rounded-r rtl:border-l;
    }

    /* Nice progressive enhancement to visually connect tree node children by removing the top left border radius.. */
    /* [1] When there are children, except when followed by another tree that has children, or a top level tree */
    .tree-node:not(.nav-builder *):has(.page-tree-branch--has-children):not(:has(+ .tree-node .page-tree-branch--has-children)) + .tree-node .page-tree-branch,
    /* [2] (always) the first level down that has children */
    .tree-node:has(.is-top-level) + .tree-node:not(:has(.is-top-level)) .page-tree-branch {
        border-top-left-radius: 0;
    }
}
