/* ==========================================================================
   POPOVERS
   ========================================================================== */

.popover {
    pointer-events: none;
    visibility: hidden;
    z-index: 999;
    position: absolute;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;

    &::before {
        content: '';
        position: absolute;
        inset: -10px 0;
    }

    .popover-content {
        min-width: 180px;
        transform-origin: 50% 10%;
        animation-fill-mode: forwards;
        opacity: 0;
        transform: scale(.85);
        transition: all .05s ease-in;
        will-change: transform, opacity;
        background-clip: padding-box;
    }
}

.popover-container {
    position: relative;
}

// Supporting elements
.rotating-dots {
    @apply relative cursor-pointer;
    transition: .12s ease-out;
    // top: 1px;
}

.rotating-dots-button {
    @apply  text-grey-70 rounded-full flex items-center justify-center;
    height: 24px;
    width: 24px;

    &:hover {
        @apply text-grey-100;
    }

    &:focus {
        @apply focus-outline;
    }
}

// When open
.popover-open {
    .popover {
        pointer-events: auto;
        visibility: visible;
    }

    .popover-content {
        transform: scale(1);
        opacity: 1;
    }

    .rotating-dots {
        transform: rotate(90deg);
    }
}
