/* Make clicks pass-through */
#nprogress {
    pointer-events: none;
}

#nprogress .bar {
    @apply fixed top-0 w-full bg-blue ltr:left-0 rtl:right-0;
    height: 2px;
    z-index: 10000; /*  above global-header */
}

/* Fancy blur effect */
#nprogress .peg {
    @apply absolute block h-full w-full opacity-100 ltr:right-0 rtl:left-0;
    box-shadow:
        0 0 5px var(--color-blue),
        0 0 2px var(--color-blue);
}

.nprogress-custom-parent {
    overflow: hidden;
    position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
    position: absolute;
}
