/* Make clicks pass-through */
#nprogress {
    pointer-events: none;
}

#nprogress .bar {
    @apply bg-blue fixed top-0 rtl:right-0 ltr:left-0 w-full;;
    height: 2px;
    z-index: 10000; /*  above global-header */
}

/* Fancy blur effect */
#nprogress .peg {
    @apply block absolute rtl:left-0 ltr:right-0 w-full h-full opacity-100;
    box-shadow: 0 0 5px theme('colors.blue.DEFAULT'), 0 0 2px theme('colors.blue.DEFAULT');
}

.nprogress-custom-parent {
    overflow: hidden;
    position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
    position: absolute;
}
