/* ==========================================================================
   PUBLISH COMPONENT
   ========================================================================== */

.publish-tab-outer {
    @apply flex justify-between;
}

.publish-form {
    position: relative;

    .loading-blocker {
        padding-top: 50px;
        border-radius: 3px;
    }
}

.head .status {
    display: inline-block;
    label {
        margin: 0 6px 0 0;
        [dir='rtl'] & {
            margin: 0 0 0 6px;
        }
        position: relative;
        top: 3px;
    }
    > div {
        display: inline-block;
        position: relative;
        top: 8px;
    }
}

code.parent-url {
    @apply block bg-none text-3xs text-gray-700;
    padding: 0 0 3px 0;
    [dir='rtl'] & {
        padding: 0 0 3px 0;
    }
}

.publish-fields {
    @apply flex flex-wrap;

    .form-group {
        > label,
        .field-inner > label {
            @apply mb-2 font-medium;
        }
    }

    > .form-group:last-child {
        margin-bottom: 0;
    }

    .has-error > .field-inner > label {
        @apply text-red-500;
    }

    .field-inner {
        position: relative;
    }

    .read-only-overlay {
        @apply absolute inset-0 cursor-not-allowed bg-white/25;
        z-index: 100;
    }

    .has-field-dropdown {
        .field-inner {
            @apply pr-6;
        }
        .field-dropdown {
            @apply absolute bottom-[-3px] right-0 block;
        }
        &:not(.has-field-label) {
            .field-inner {
                @apply mb-2 min-h-[19.5px];
            }
        }
    }
}

.publish-field {
    @apply relative;
}

.publish-field-label {
    @apply flex items-center;
}

.publish-sections-section {
    @apply mb-8;
}

.publish-section-header {
    @apply rounded-t-lg border-b border-gray-400 bg-gray-100 dark:border-dark-900 dark:bg-dark-700;
}

.publish-section-header-inner {
    @apply px-4 pb-3 pt-4 @lg:px-6;
}

.publish-sidebar {
    @apply shrink-0 ms-4 w-[300px];

    .publish-fields .form-group {
        @apply p-0;
    }
}

.publish-tab-actions-footer {
    @apply mt-6;
}

.sneak-peek-editing .publish-tabs {
    position: sticky;
    top: 0;
    z-index: 1000;
}
