/* GROUP PUBLISH COMPONENT
=================================================== */
.publish-tab-outer {
    @apply flex justify-between;
}

.publish-form {
    position: relative;

    .loading-blocker {
        padding-top: 50px;
        border-radius: 3px;
    }
}

.head .status {
    display: inline-block;
    label {
        margin: 0 6px 0 0;
        [dir='rtl'] & {
            margin: 0 0 0 6px;
        }
        position: relative;
        top: 3px;
    }
    > div {
        display: inline-block;
        position: relative;
        top: 8px;
    }
}

code.parent-url {
    @apply block bg-none text-3xs text-gray-700;
    padding: 0 0 3px 0;
    [dir='rtl'] & {
        padding: 0 0 3px 0;
    }
}


/* GROUP PUBLISH COMPONENT / FIELDS
=================================================== */
.publish-fields,
.field-grid {
    display: grid;
    --grid-columns: 12;
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    @apply gap-3 lg:gap-8;

    aside & {
        /* Decrease */
        @apply gap-2;
    }

    .form-group {
        grid-column: span var(--col-span, var(--grid-columns));
    }
}
@variant lg {
    .field-w-25  { --col-span: calc(var(--grid-columns) * 0.25); }
    .field-w-33  { --col-span: calc(var(--grid-columns) * 0.333); }
    .field-w-50  { --col-span: calc(var(--grid-columns) * 0.5); }
    .field-w-66  { --col-span: calc(var(--grid-columns) * 0.666); }
    .field-w-75  { --col-span: calc(var(--grid-columns) * 0.75); }
    .field-w-undefined, .field-w-100 { --col-span: calc(var(--grid-columns) * 1); }
}


/* GROUP PUBLISH COMPONENT / FIELD GRID (e.g. BLUEPRINT)
=================================================== */
.field-grid {
    > * {
        grid-column: span var(--col-span, var(--grid-columns));
    }
}


/* GROUP PUBLISH COMPONENT / FIELDS / FLUID
=================================================== */
/* =Jay. Use this class if the fields should be fluid and fill the remaining space e.g. /cp/collections/pages/edit.
Here flexbox is much better suited to create a layout that grows to fill space. */
.publish-fields-fluid {
    @apply gap-2;

    display: flex;
    flex-wrap: wrap;
    > * {
        flex-grow: 1;
    }

    @variant lg {
    /* Here we have to cut short the proper width very slightly to account for the gap value. Because we're using flex-grow it should be pretty unnoticeable */
        .field-w-25  { flex-basis: 24.5%; }
        .field-w-33  { flex-basis: 32.5%; }
        .field-w-50  { flex-basis: 49.4%; }
        .field-w-66  { flex-basis: 66.1%; }
        .field-w-75  { flex-basis: 74.5%; }
        .field-w-undefined, .field-w-100 { flex-basis: 100%; }
    }
}


/* GROUP PUBLISH COMPONENT / FIELD
=================================================== */
.publish-field {
    position: relative;
    .read-only-overlay {
        @apply absolute inset-0 cursor-not-allowed bg-white/25;
        z-index: 100;
    }

    .has-field-dropdown {
        .field-inner {
            @apply pr-6;
        }
        .field-dropdown {
            @apply absolute bottom-[-3px] right-0 block;
        }
        &:not(.has-field-label) {
            .field-inner {
                @apply mb-2 min-h-[19.5px];
            }
        }
    }

    code {
        @apply bg-blue-50 text-blue-600 font-medium px-1 rounded-sm;
    }
}

.publish-field-label {
    @apply flex items-center font-medium text-sm mb-2;
}

.publish-sections .publish-sections-section {
    @apply mb-8;
    [data-cards-wrap="fields"] & {
        @apply mb-12;
    }
}

.publish-section-header {
    @apply rounded-t-lg border-b border-gray-400 bg-gray-100 dark:border-dark-900 dark:bg-dark-700;
}

.publish-section-header-inner {
    @apply px-4 pb-3 pt-4 @lg:px-6;
}

.publish-sidebar {
    @apply shrink-0 ms-8 w-[300px];

    .publish-fields .form-group {
        @apply p-0;
    }
}

.publish-tab-actions-footer {
    @apply mt-6;
}

.sneak-peek-editing .publish-tabs {
    position: sticky;
    top: 0;
    z-index: 1000;
}
