/* ==========================================================================
   PUBLISH COMPONENT
   ========================================================================== */

.publish-tab-outer {
    @apply flex justify-between;
}

.publish-form {
    position: relative;

    .loading-blocker {
        padding-top: 50px;
        border-radius: 3px;
    }
}

.head .status {
    display: inline-block;
    label {
        margin: 0 6px 0 0;
        [dir='rtl'] & {
            margin: 0 0 0 6px;
        }
        position: relative;
        top: 3px;
    }
    > div {
        display: inline-block;
        position: relative;
        top: 8px;
    }
}

code.parent-url {
    @apply block bg-none text-3xs text-gray-700;
    padding: 0 0 3px 0;
    [dir='rtl'] & {
        padding: 0 0 3px 0;
    }
}

.publish-fields {
    @apply flex flex-wrap gap-3 lg:gap-6;
    --col-width: calc(100% / 12);

    .form-group {
        --col-span: 12;
        flex-basis: calc(var(--col-width) * var(--col-span) - var(--spacing) * 3);
        flex-grow: 1;
    }

    .field-w-10  { --col-span: 1; }
    .field-w-20  { --col-span: 2; }
    .field-w-25  { --col-span: 3; }
    .field-w-33  { --col-span: 4; }
    .field-w-40  { --col-span: 5; }
    .field-w-50  { --col-span: 6; }
    .field-w-60  { --col-span: 7; }
    .field-w-66  { --col-span: 8; }
    .field-w-75  { --col-span: 9; }
    .field-w-80  { --col-span: 10; }
    .field-w-90  { --col-span: 11; }
    .field-w-100 { --col-span: 12; }

    [data-cards-wrap="fields"] & {
        @apply gap-1;
        .form-group {
            flex-basis: calc(var(--col-width) * var(--col-span) - calc(var(--spacing) * 1));
        }
    }

    .form-group {
        > label,
        .field-inner > label {
            @apply mb-2 font-medium;
        }
    }

    > .form-group:last-child {
        margin-bottom: 0;
    }

    .has-error > .field-inner > label {
        @apply text-red-500;
    }

    .field-inner {
        position: relative;
    }

    .read-only-overlay {
        @apply absolute inset-0 cursor-not-allowed bg-white/25;
        z-index: 100;
    }

    .has-field-dropdown {
        .field-inner {
            @apply pr-6;
        }
        .field-dropdown {
            @apply absolute bottom-[-3px] right-0 block;
        }
        &:not(.has-field-label) {
            .field-inner {
                @apply mb-2 min-h-[19.5px];
            }
        }
    }
}

.publish-field {
    @apply relative;
}

.publish-field-label {
    @apply flex items-center;
}

.publish-sections .publish-sections-section {
    @apply mb-8;
    [data-cards-wrap="fields"] & {
        @apply mb-12;
    }
}

.publish-section-header {
    @apply rounded-t-lg border-b border-gray-400 bg-gray-100 dark:border-dark-900 dark:bg-dark-700;
}

.publish-section-header-inner {
    @apply px-4 pb-3 pt-4 @lg:px-6;
}

.publish-sidebar {
    @apply shrink-0 ms-8 w-[300px];

    .publish-fields .form-group {
        @apply p-0;
    }
}

.publish-tab-actions-footer {
    @apply mt-6;
}

.sneak-peek-editing .publish-tabs {
    position: sticky;
    top: 0;
    z-index: 1000;
}
