/* ==========================================================================
   PUBLISH COMPONENT
   ========================================================================== */

.publishing .page-wrapper {
    padding: 0;

    .publish-errors {
        margin: 0 24px 24px;
        padding: 16px 0;
    }
}

.publish-form {
    position: relative;

    .loading-blocker {
        padding-top: 50px;
        border-radius: 3px;
    }
}

.head .status {
    display: inline-block;
    label {
        margin: 0 6px 0 0;
        position: relative;
        top: 3px;
    }
    > div {
        display: inline-block;
        position: relative;
        top: 8px;
    }

}

code.parent-url {
    @apply block text-3xs bg-none text-gray-700;
    padding: 0 0 3px 0;
}

.publish-fields {
    display: flex;
    flex-wrap: wrap;

    .form-group {
        > label,
        .field-inner > label {
            font-weight: 500;
            margin-bottom: 8px;
        }
    }

    > .form-group:last-child {
        margin-bottom: 0;
    }

    .has-error > .field-inner > label {
        @apply text-red;
    }

    .field-inner {
        position: relative;
    }

    .read-only-overlay {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 100;
        cursor: not-allowed;
        background: rgba(255, 255, 255, 0.25);
    }
}

.publish-field {
    position: relative;
}

.publish-field-label {
    @apply flex items-center;
}

.publish-sidebar {
    @apply shrink-0;
    margin-left: 20px;

    width: 300px;

    .publish-tab-actions {
        @apply border-b;
    }

    .publish-fields .form-group {
        @apply p-4;
    }
}

.publish-tab-actions-footer {
    @apply mt-6;
}

.sneak-peek-editing .publish-tabs {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.field-w-1\/4 { @apply w-1/4; }
.field-w-1\/3 { @apply w-1/3; }
.field-w-1\/2 { @apply w-1/2; }
.field-w-2\/3 { @apply w-2/3; }
.field-w-3\/4 { @apply w-3/4; }
.field-w-full { @apply w-full; }

/*  When the wrapper gets narrow enough, the fields should all become full width. */
.publish-fields-narrow .publish-field { width: 100%; }

.publish-tab:not(:empty) {
    @apply shadow bg-white rounded-md w-full;
}



/* Inline publish form
   Used in popovers and in the asset editor modal.
   ========================================================================== */

.editor-form {
    position: relative;

    .editor-form-fields {
        /*  Could have done this with flexbox but firefox was pushing */
        /*  out the height if there were many publish fields. */
        position: absolute;
        top: 0;
        left: 0;
        bottom: 71px;
        right: 0;
        overflow: auto;
    }

    .editor-form-actions {
        @apply absolute p-4 h-16 border-t bottom-0 inset-x-0;
        z-index: 2;
    }

    .publish-fields .form-group {
        @apply px-4 pt-2
    }
}
