/* ==========================================================================
   Revisions
   ========================================================================== */

.revision-list {
    /*  @apply pb-4; */
}

.revision-date {
    @apply mt-4 p-4 pb-2;
}

.revision-item {
    @apply block cursor-pointer border-t p-2 text-sm dark:border-dark-900;
    &:hover {
        @apply bg-gray-200 dark:bg-dark-400;
    }
    &:last-child {
        @apply border-b dark:border-dark-900;
    }
}

.revision-item-bullet-container {
    @apply relative w-4;
    top: -2px;

    .revision-item-bullet {
        @apply relative inline-block bg-gray-600;
        border-radius: 7px;
        height: 7px;
        width: 7px;
        flex-shrink: 0;
    }
}

.revision-item .badge {
    @apply rounded-xs text-4xs uppercase text-white ltr:ml-2 rtl:mr-2;
    height: 16px;

    &.publish {
        @apply bg-green-600;
    }
    &.revision,
    &.restore {
        @apply text-gray-700 dark:bg-dark-300 dark:text-dark-150;
    }
    &.unpublish {
        @apply bg-red-500;
    }
}

.revision-item-note {
    @apply mb-1 text-sm font-medium text-gray-800;
    width: 300px;
}

.revision-item.status-published {
    .revision-item-bullet {
        @apply bg-green-600;
    }
}

.revision-item.status-working-copy {
    @apply text-blue;
    .revision-item-bullet {
        @apply bg-blue dark:bg-dark-blue-100;
    }
    .badge {
        @apply bg-blue dark:bg-dark-blue-100;
    }
}
