/* ==========================================================================
   Revisions
   ========================================================================== */

.revision-list {
    /*  @apply pb-4; */
}

.revision-date {
    @apply p-4 pb-2 mt-4;
}

.revision-item {
    @apply p-2 text-sm block cursor-pointer border-t dark:border-dark-900;
    &:hover {
        @apply bg-gray-200 dark:bg-dark-400;
    }
    &:last-child {
        @apply border-b dark:border-dark-900;
    }
}

.revision-item-bullet-container {
    @apply w-4 relative;
    top: -2px;

    .revision-item-bullet {
        @apply bg-gray-600 inline-block relative;
        border-radius: 7px;
        height: 7px;
        width: 7px;
        flex-shrink: 0;
    }
}

.revision-item .badge {
    @apply uppercase text-4xs rtl:mr-2 ltr:ml-2 text-white rounded-sm;
    height: 16px;

    &.publish { @apply bg-green-600; }
    &.revision,
    &.restore { @apply text-gray-700 dark:text-dark-150 dark:bg-dark-300; }
    &.unpublish { @apply bg-red-500; }
}

.revision-item-note {
    @apply text-sm text-gray-800 font-medium mb-1;
    width: 300px;
}

.revision-item.status-published {
    .revision-item-bullet { @apply bg-green-600; }
}

.revision-item.status-working-copy {
    @apply text-blue;
    .revision-item-bullet { @apply bg-blue dark:bg-dark-blue-100; }
    .badge { @apply bg-blue dark:bg-dark-blue-100; }
}
