/* ==========================================================================
   ROLES
   ========================================================================== */

.roles {
    li li {
        margin-left: 30px;
        [dir='rtl'] & {
            margin-right: 30px;
            margin-left: 0;
        }
    }

    .disabled {
        opacity: 0.5;

        .disabled {
            opacity: 1;
        } /*  prevent cascading */
    }
}
