.config-field {
    @apply md:flex flex-wrap border-b border-gray-400 dark:border-dark-900 w-full;
    @apply p-3 @sm:p-4 m-0;

    .field-inner {
        @apply w-full md:w-1/2 rtl:md:pl-8 ltr:md:pr-8;
    }

    .field-inner + div {
        @apply w-full md:w-1/2;
    }

    .help-block {
        @apply mb-0;
    }

    .help-block p:last-child {
        @apply mb-0 !important;
    }
}

.card .publish-fields .config-field:last-child {
    @apply border-b-0;
}

.config-field.full-width-setting {
    @apply md:flex-col;
    .field-inner {
        @apply w-full;
    }
    .field-inner + div {
        @apply w-full;
    }
    .help-block p:last-child {
        @apply mb-4 !important;
    }
}
