.config-field {
    @apply dark:border-dark-900 w-full flex-wrap border-b border-gray-400 md:flex;
    @apply m-0 p-3 @sm:p-4;

    .field-inner {
        @apply w-full md:w-1/2 md:ltr:pr-8 md:rtl:pl-8;
    }

    .field-inner + div {
        @apply w-full md:w-1/2;
    }

    .help-block {
        @apply mb-0;
    }

    .help-block p:last-child {
        @apply mb-0!;
    }
}

.card .publish-fields .config-field:last-child {
    @apply border-b-0;
}

.config-field.full-width-setting {
    @apply md:flex-col;
    .field-inner {
        @apply w-full;
    }
    .field-inner + div {
        @apply w-full;
    }
    .help-block p:last-child {
        @apply mb-4!;
    }
}
