/* ==========================================================================
   KEYBOARD SHORTCUTS
   ========================================================================== */

.shortcut-pair {
    @apply pb-2 mb-2 antialiased flex items-center justify-between;
    &:not(:last-child) {
        @apply border-b;
    }
}

.shortcut {
    @apply flex items-center justify-center text-3xs;
    border-radius: 3px;
    background: linear-gradient(-225deg,#d5dbe4,#f8f8f8);
    box-shadow: inset 0 -2px 0 0 #cdcde6, inset 0 0 1px 1px #fff, 0 1px 2px 1px rgba(30,35,90,.4);
    color: #8d949e;
    min-width: 18px;
    height: 18px;
    margin: 0 .25em;
    padding: 0 2px 2px 2px ; [dir="rtl"] & { padding: 0 2px 2px 2px ; }
}

.shortcut-combo {
    @apply flex order-2;
}

.shortcut-joiner {
    @apply text-gray text-xs mx-1;
}

.shortcut-value {
    @apply whitespace-nowrap py-1 text-sm;
}
