/* ==========================================================================
   STACKS ON STACKS ON STACKS
   ========================================================================== */

.stacks-on-stacks {
    @apply fixed inset-0;
    z-index: 10000;

    > .vue-portal-target {
        @apply absolute inset-0;
    }

    .stack-container {
        @apply absolute inset-0;
        transition: left .3s ease;
    }

    .stack-overlay {
        @apply bg-black absolute inset-0;
        z-index: 99;
        opacity: 0.2;
        pointer-events: none;
        transition: all .3s ease;

        &.stack-overlay-fade-enter,
        &.stack-overlay-fade-leave-to {
            opacity: 0;
        }
    }


    .stack-hit-area {
        @apply absolute inset-0 cursor-pointer;
        z-index: 100;
    }

    .stack-content {
        @apply h-full relative shadow-lg;
        z-index: 101;
        transition: all 0.2s ease;

        &.stack-slide-enter,
        &.stack-slide-leave-to {
            transform: translateX(10px);
            opacity: 0;
        }
    }


    .hovering .stack-content {
        transform: translateX(-16px);
    }

    .breadcrumb svg {
        display: none !important;
    }
}

@media all and (max-width: 980px) {
    .stacks-on-stacks .stack-container {
        left: 0 !important;
    }
}
