/* ==========================================================================
   TABS
   ========================================================================== */

.tabs-container {
    @apply relative mb-6 flex w-full border-b text-sm dark:border-dark-500;

    .fade-left,
    .fade-right {
        @apply pointer-events-none absolute inset-y-0 z-2 w-4 from-gray-300 dark:from-dark-800;
    }

    .fade-left {
        @apply ltr:left-0 ltr:bg-linear-to-r rtl:right-0 rtl:bg-linear-to-l;
    }

    .fade-right {
        @apply ltr:right-0 ltr:bg-linear-to-l rtl:left-0 rtl:bg-linear-to-r;
    }
}

.card .tabs-container .fade-left,
.card .tabs-container .fade-right {
    @apply from-white dark:from-dark-600;
}

.tabs {
    @apply relative flex w-full max-w-full space-x-2 overflow-hidden rtl:space-x-reverse;
    &-scrolled {
        @apply ltr:ml-0 ltr:pl-0 rtl:mr-0 rtl:pr-0;
    }
}

.tab-button {
    @apply flex shrink-0 select-none items-center whitespace-nowrap border-b-2 border-transparent px-2 py-2 text-gray-700 dark:text-dark-150;
    &:hover {
        @apply text-gray-900 dark:text-dark-100;
    }
    &:focus-visible {
        @apply rounded-t outline-hidden ring-2 ring-inset ring-blue-500 dark:ring-dark-blue-100;
    }
    &.active {
        @apply border-blue-500 text-blue-500 dark:border-blue-400 dark:text-blue-400;
    }
    &.has-error {
        @apply text-red-500;

        &.active {
            box-shadow:
                var(--color-red-400) 0 3px inset,
                rgb(230, 235, 241) -1px 0 inset;
        }
    }
}

/* Responsive Wangjangling
  ========================================================================== */

.pill-tab {
    @apply flex items-center rounded-sm px-2 py-1 text-gray-700 focus:outline-hidden dark:text-dark-175;

    &:hover {
        @apply text-gray-900 dark:text-dark-100;
    }

    &.active {
        @apply bg-blue-100 text-blue-900 dark:bg-dark-400 dark:text-dark-150;
    }
}

.button-tab {
    @apply inline-block px-2 py-1 text-gray-700 focus:outline-hidden ltr:mr-1 rtl:ml-1;

    &:hover {
        @apply text-blue;
    }

    &.active {
        @apply rounded-sm bg-blue-100 text-blue-800;
    }
}
