/* ==========================================================================
   TOGGLE
   ========================================================================== */

.toggle-fieldtype-wrapper {
    height: 32px;
    display: flex;
    align-items: center;
    &:focus-within .toggle-container {
        @apply ring-2;
    }

    .inline-label {
        @apply font-normal text-gray-700 dark:text-dark-175 ltr:ml-2 rtl:mr-2;
        a {
            @apply text-gray-800 underline dark:text-dark-150;
            &:hover {
                @apply text-blue;
            }
        }
    }
}

.locale-status-field .toggle-fieldtype-wrapper {
    height: auto;
    display: inline-block;
}

.toggle-container {
    @apply relative shrink-0 cursor-pointer border bg-white dark:border-dark-900 dark:bg-dark-700;
    height: 22px;
    width: 46px;
    border-radius: 20px;
    font-size: 0.1px;
    margin: 6px 0;
    transition: background-color 0.2s ease;
    &:focus {
        outline: none;
    }
}

.toggle-slider {
    position: absolute;
    top: -1px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    transition: all 0.2s ease;

    &.disabled {
        cursor: not-allowed;
    }
}

.toggle-knob {
    @apply absolute top-px rounded-full bg-white outline-none;
    right: 0;
    [dir='rtl'] & {
        right: auto;
        left: 0;
    }
    width: 20px;
    height: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    transition:
        box-shadow 0.1s,
        background-color 0.2s ease-in-out;

    .dark & {
        background: theme(colors.dark.500);
    }
}

.toggle-knob:hover {
    box-shadow: 0 1px 3px rgba(theme('colors.blue.DEFAULT'), 0.9);
}

.toggle-container.on {
    @apply border-green-600 bg-green-500;
    .toggle-slider {
        width: 44px;
    }

    .toggle-knob:focus {
        box-shadow: 0 0 10px theme(colors.green.500/70);
        .dark & {
            box-shadow: none;
        }
    }
}

.toggle-container.on.read-only {
    @apply border-gray-600 bg-gray-500;

    .toggle-knob:focus {
        box-shadow: 0 0 10px theme(colors.gray.500/70);
    }
}

/* Size Variants
  ========================================================================== */
.toggle-sm.toggle-fieldtype-wrapper {
    height: 16px;

    .toggle-container {
        height: 12px;
        width: 21px;
    }

    .toggle-knob {
        width: 10px;
        height: 10px;
    }

    .toggle-slider {
        box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
        height: 12px;
        width: 10px;
    }

    .toggle-container.on .toggle-slider {
        width: 19px;
    }
}

/* Inside the Sidebar
  ========================================================================== */
.publish-sidebar .toggle-fieldtype {
    @apply flex flex-wrap items-center justify-between;
    .field-inner > label {
        margin: 0;
    }
    .toggle-fieldtype-wrapper {
        margin-left: 8px;
        [dir='rtl'] & {
            margin-right: 8px;
            margin-left: 0;
        }
    }
    .help-block {
        margin-top: 4px !important;
    }
}

/* Inside a Grid field
  ========================================================================== */

.grid-table td.toggle-fieldtype {
    padding-top: 14px;
}
