.wizard-steps {
    @apply flex justify-between;

    .step {
        @apply relative mx-auto flex-1 text-center text-xs;
    }

    .step:not(:first-child):before {
        @apply absolute h-1 w-1/2 bg-gray-300;
        content: '';
        left: 0;
        [dir='rtl'] & {
            left: auto;
            right: 0;
        }
        top: 18px;
    }

    .step:not(:last-child):after {
        @apply absolute h-1 w-1/2 bg-gray-300;
        content: '';
        left: 50%;
        [dir='rtl'] & {
            left: auto;
            right: 50%;
        }
        top: 18px;
    }

    .step.complete:before,
    .step.complete:after {
        @apply bg-blue !important;
    }

    .ball {
        @apply relative z-10 mx-auto h-10 w-10 rounded-full bg-gray-300 text-center text-base text-gray dark:bg-dark-800 dark:text-dark-150;
        line-height: 40px;
    }

    .label {
        @apply mt-1 text-xs text-gray dark:text-dark-175;
    }

    .complete {
        .ball {
            @apply bg-blue text-white;
        }
        .label {
            @apply text-blue;
        }
    }
}

.dark {
    .wizard-steps {
        .step:not(:first-child):before,
        .step:not(:first-child):after {
            @apply bg-dark-800;
        }
    }
}
