<div>

<div class="form-group">
	<label>{{ translate('cp.display_name') }}</label>
	<small class="help-block">{{ translate('cp.display_name_instructions') }}</small>
	<input type="text" class="form-control" v-model="field.display" />
</div>

<div class="form-group" v-if="!isTaxonomy">
	<label>{{ translate('cp.field_variable') }}</label>
	<small class="help-block">{{ translate('cp.field_variable_instructions') }}</small>
	<input type="text" class="form-control" v-model="field.name" @keydown="isNameModified = true" :disabled="field.name === 'title'" :v-focus="true"/>
</div>

<div class="row" v-if="field.name !== 'title' && !isTaxonomy">
	<div class="form-group col-md-7">
		<label class="block">{{ translate('cp.width') }}</label>
		<div class="select full" :data-content="selectedWidth">
			<select v-model="field.width" number>
				<option v-for="width in widths" :value="width.value" number>{{ width.text }}</option>
			</select>
		</div>
	</div>

	<div class="form-group col-md-5" v-if="canBeLocalized">
		<label class="block">{{ translate('cp.localizable') }}</label>
		<toggle-fieldtype :data.sync="field.localizable"></toggle-fieldtype>
	</div>
</div>

<div class="form-group markdown-fieldtype">
	<label>{{ translate('cp.instructions') }}</label>
	<small class="help-block">{{ translate('cp.field_instructions_instructions') }}</small>
	<markdown-fieldtype :data.sync="field.instructions"></markdown-fieldtype>
</div>

<div class="form-group" v-if="canBeValidated">
	<label>{{ translate('cp.validation_rules') }}</label>
    <small class="help-block">
        {{ translate('cp.validation_instructions') }}
        <a href="https://laravel.com/docs/5.1/validation#available-validation-rules" target="_blank">
            {{ translate('cp.validation_instructions_link_text') }}
        </a>.
    </small>
	<input type="text" class="form-control" v-model="field.validate" />
</div>

<div class="form-group" v-if="canHaveDefault">
	<label>{{ translate('cp.default_value') }}</label>
    <small class="help-block">{{ translate('cp.field_default_value_instructions') }}</small>
	<input type="text" class="form-control" v-model="field.default" />
</div>

<div class="form-group" v-if="root">
	<label>Display Conditions</label>
	<small class="help-block">Configure when this field will be shown.</small>
	<field-conditions-builder :data.sync="field.conditions"></field-conditions-builder>
</div>

<div v-for="configField in fieldtypeConfig"
     :class="configField.type + '-fieldtype form-group'">

	<label class="block">{{ configField.display || configField.name }}</label>
	<small class="help-block" v-if="configField.instructions" v-html="configField.instructions | markdown"></small>

	<component :is="configField.type + '-fieldtype'"
	           :name="$key"
	           :data.sync="field[configField.name]"
	           :config="configField"
			   v-if="configField.name !== 'sets' && configField.name !== 'fields'">
	</component>

	<set-builder :sets.sync="field[configField.name]"
	             :fieldtypes="fieldtypes"
	             v-if="configField.name === 'sets'">
	</set-builder>

	<fields-builder :fields.sync="field[configField.name]"
	                :fieldtypes="fieldtypes"
			        v-if="configField.name === 'fields'">
	</fields-builder>
</div>

</div>
