/* ==========================================================================
   ASSETS FIELDTYPE
   ========================================================================== */

.assets-fieldtype .assets-fieldtype-drag-container {
    position: relative;
}

.assets-fieldtype .assets-fieldtype-picker {
    @apply flex items-center px-2 py-1 bg-grey-20 border rounded;

    &.is-expanded {
        @apply border-b-0 rounded-b-none;
    }

    .asset-upload-control {
      @apply ml-2;
    }

    .upload-text-button {
        @apply text-blue underline whitespace-no-wrap;
        &:hover {
            @apply text-blue-dark;
        }
    }
}



/* Inside a Grid
  ========================================================================== */

.grid-fieldtype .assets-fieldtype-picker {
    @apply border-none rounded-none bg-transparent p-0;
}



/* In a Grid fieldtype
  ========================================================================== */

.grid-fieldtype .grid-table .assets-fieldtype {
    .asset-table-listing tbody tr td {
        padding: 4px;
    }
}



/* In a Bard fieldtype
  ========================================================================== */

.bard-set-solo .asset-tile {
    max-width: none;
    padding: 0;
}

.bard-set-solo .assets-fieldtype label {
    display: none;
}

// Only show the trash button when its a solo field.
// Probably better as a template condition but difficult at the moment.
.assets-fieldtype .delete-bard-set {
    display: none;
    .bard-set-solo & { display: block; }
}



/* Responsive Wangjangling
  ========================================================================== */

// hide the 'or drag to upload' text when too narrow
.assets-fieldtype .narrow .assets-fieldtype-picker .drag-drop-text { display: none; }
