.bard-fieldtype-wrapper {
    @apply .border .rounded relative;

    &:focus-within {
        @apply focus-outline;
    }
}

.bard-editor {
    @apply text-grey-80 bg-grey-10 shadow-inner p-0 relative;
}

.bard-editor .ProseMirror {
    @apply p-3 min-h-48;
}

.bard-fixed-toolbar {
    @apply .bg-white .shadow-none rounded-t .border-b .text-sm .p-1 flex items-center justify-between h-10 z-5;
    position: sticky;
    top: 0;
    padding: 8px 12px;

     button {
        @apply text-grey-80 px-1 flex items-center text-base;
    }

    button:hover {
        @apply .text-black;
    }

    button.active {
        @apply .text-blue;
    }

    button:focus {
        outline: none;
    }

    button:disabled {
        @apply .opacity-50;
        &:hover {
            @apply .text-grey-80;
        }
    }

    button sup {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
}

.bard-floating-toolbar {
    @apply bg-black rounded-full absolute shadow-lg px-2 opacity-0 invisible;
    transform: translateX(-50%) translateY(-10px);
    white-space: nowrap;
    z-index: 1000;

    &.active {
        @apply opacity-100 visible;
    }

    &:before {
        content: '';
        border: 6px solid transparent;
        border-top-color: black;
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -3px
    }

    button {
        @apply text-grey-20 h-10 px-1 bg-black rounded-lg;
        font-size: 16px;
        transition: all .1s ease-in-out;
    }

    button:hover {
        @apply .text-white;
    }

    button.active {
        @apply .text-blue;
    }

    button:focus {
        outline: none;
    }

    button:disabled {
        @apply .opacity-50;
        &:hover {
            @apply .text-grey-20;
        }
    }

    button sup {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
}

.bard-footer-toolbar {
    @apply .bg-white .shadow-none text-grey-70 rounded-b .border-t .text-xs .p-1 flex items-center justify-between;
    padding: 8px 12px;

    .bard-fullscreen & {
        position: sticky;
        bottom: 0;
        z-index: 10;
    }
}


/* The set selection options for each text block
  ========================================================================== */

.bard-set-selector {
    position: absolute;
    left: -20px;
    margin-top: -6px;
    // transition: all .15s ease-in-out;

    .dropdown-menu {
        left: -5px;
        right: auto;
    }
}


/* Fullscreen mode
   ========================================================================== */

.bard-fullscreen {
    @apply .fixed .bg-white .pin .min-h-screen .overflow-scroll rounded-none;
    z-index: 2; // to appear over the top of the rest of the stuff on the page.
                // too high and it'll be over the top of stacks, etc.

    .bard-editor {
        @apply bg-white shadow-none max-w-xl mx-auto rounded relative;
    }

    .bard-fixed-toolbar {
        @apply shadow-sm;
    }

    .ProseMirror {
        @apply .px-3 py-6 flex flex-col justify-center;
        min-height: calc(100vh - 40px);
    }

    .bard-set-selector {
        @apply ml-3;
    }

    .bard-field-options {
        @apply .fixed .pin-t .pin-l .pin-r .bg-grey-70 .p-2 .w-full;
        text-align: right;
        z-index: 1; // to appear over the top of .bard-editor

        .icon { font-size: 24px; }
        a { margin-left: 16px; color: #fff; opacity: 1; }
    }
}


/* Typography
   -
   Selectors are specific so they don't cascade into the sets, which
   all sit inline within the rest of the elements.
   ========================================================================== */
.bard-fieldtype .ProseMirror {
    outline: 0;
}

.bard-fieldtype .ProseMirror > {
    p {
        @apply text-grey-80;
        word-wrap: break-word;

        line-height: 1.7;
        text-size-adjust: 100%;
    }


    blockquote,
    ol,
    p,
    ul {
        margin-top: 0;
        margin-bottom: .85em;

        b,
        strong { font-weight: 700; }

        em, i { font-style: italic }

        a {
            @apply text-blue no-underline;
        }

        a:active,
        a:focus,
        a:hover {
            outline: 0;
            text-decoration: underline;
        }

        img {
            border: 0;
            max-width: 100%;
        }
    }

    blockquote, ol, ul {
        p {
            margin-top: 0;
            margin-bottom: .85em;
        }
    }

    hr {
        @apply bg-grey-60;
        height: 4px;
        padding: 0;
        margin: 1.7em 0;
        overflow: hidden;
        border: none;
    }

    hr:after,
    hr:before {
        display: table;
        content: " ";
    }

    hr:after {
        clear: both
    }

    h1, h2, h3, h4, h5, h6 {
        margin-top: 1.275em;
        margin-bottom: .85em;
        font-weight: 700
    }

    h1 { font-size: 2em }

    h2 { font-size: 1.75em }

    h3 { font-size: 1.5em }

    h4 { font-size: 1.25em }

    h5 { font-size: 1em }

    h6 {
        font-size: 1em;
        @apply text-grey-70;
    }

    h1:first-child,
    h2:first-child,
    h3:first-child,
    h4:first-child,
    h5:first-child,
    h6:first-child {
        margin-top: 0;
    }

    ol,
    ul {
        padding: 0;
        margin: 0;
        margin-bottom: .85em;
        padding-left: 2em;
    }

    ol ol,
    ol ul,
    ul ol,
    ul ul {
        margin-top: 0;
        margin-bottom: 0;
    }

    ol ol {
        list-style-type: lower-roman;
    }

    blockquote {
        @apply text-grey-80 border-l-4 border-blue px-2;
        margin: 0 0 .85em;
    }

    blockquote:first-child {
        margin-top: 0;
    }

    blockquote:last-child {
        margin-bottom: 0;
    }
}

/* Link toolbar
  ========================================================================== */

  .bard-link-toolbar {
    @apply bg-black rounded absolute leading-none shadow mt-1;
    z-index: 100;
    width: 300px;
    top: 100%;

    &:before {
        content: '';
        border: 6px solid transparent;
        border-bottom-color: black;
        position: absolute;
        bottom: 100%;
        left: 10px;
    }

    .link-container {
        @apply w-full overflow-hidden text-white leading-normal;
        text-overflow: ellipsis;
    }

    .link {
        @apply text-xs text-white whitespace-no-wrap;

        &:hover { @apply text-blue }
    }

    .input {
        @apply p-0 text-xs text-white h-8 bg-transparent shadow-none border-none;
        width: 240px;
        outline: none;
    }

    .bard-link-toolbar-buttons {
        @apply ml-1 flex items-center;
    }

    button {
        @apply p-0 text-grey-20 h-10 ml-1;
        font-size: 16px;

        &:hover {
            @apply text-white;
        }
    }

    .checkbox {
        opacity: 1;
        position: relative;
        left: auto;
        margin: 0 0 0 8px;
    }
}

.bard-inline-image-container {
    @apply relative bg-white border rounded whitespace-normal mb-3;
    &:hover {
        cursor: grab;
    }
}