.bard-fieldtype-wrapper {
    @apply .border .rounded relative outline-none;

    * { outline: none; }

    &:focus-within {
        @apply focus-outline;
    }
}

.bard-editor {
    @apply text-grey-80 bg-grey-10 shadow-inner p-0 relative;
}

.bard-editor .ProseMirror {
    @apply p-1 min-h-48;
}

.bard-editor .bard-invalid {
    @apply p-1 bg-red-lighter text-red text-xs whitespace-no-wrap;
}

// Modes
.bard-editor.mode\:read-only .ProseMirror {
    @apply bg-grey-30 text-grey-70;
}

.bard-editor.mode\:minimal .ProseMirror {
    min-height: 80px;
}

.bard-editor.mode\:inline .ProseMirror {
    @apply p-1;
    min-height: 38px;
    p {
        margin-bottom: 0;
        line-height: 1.375; // 22px
    }
}

// Responive Wangjangling
@screen md {
    .bard-editor .ProseMirror { @apply p-2; }
    .bard-editor .bard-invalid { @apply px-2; }
}

.bard-fixed-toolbar {
    @apply .bg-white .shadow-none rounded-t .border-b .text-sm flex items-start justify-between;
    position: sticky;
    padding: 4px 8px;
    z-index: 5;
    top: 0;

    .bard-toolbar-button {
        @apply text-grey-80 rounded px-sm flex items-center justify-center text-base text-center;
        height: 32px;
        width: 32px;
        margin: 0 2px;
        svg {
            @apply w-4 h-4;
        }
    }

    .bard-toolbar-button:hover {
        @apply bg-grey-20;
    }

    .bard-toolbar-button.active {
        @apply bg-grey-30 text-black;
    }

    .bard-toolbar-button:focus {
        @apply focus-outline;
    }

    .bard-toolbar-button:disabled {
        @apply .opacity-50;
        &:hover {
            @apply .text-grey-80;
        }
    }

    button sup {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
}

.bard-fixed-toolbar.dark {
    @apply bg-black rounded-full shadow-lg px-2;

    button {
        @apply focus-none text-grey-70 rounded px-sm flex items-center justify-center text-base text-center bg-transparent;
        height: 32px;
        width: 32px;
        margin: 0 2px;
        svg {
            @apply w-4 h-4;
        }
    }

    button.active {
        @apply text-white;
    }
}

// Fixed toolbar inside another bard field
.bard-fieldtype .bard-fieldtype .bard-fixed-toolbar {
    z-index: 4;
    top: 40px;
}

// Fixed toolbar inside the live preview
.live-preview-fields-narrow .bard-fixed-toolbar { top: 0; }
.live-preview-fields-wide .bard-fixed-toolbar { top: -24px; }
.live-preview-fields-narrow .bard-fieldtype .bard-fieldtype .bard-fixed-toolbar { top: 40px; }
.live-preview-fields-wide .bard-fieldtype .bard-fieldtype .bard-fixed-toolbar { top: 16px; }

// Fixed toolbar inside a stack
.stack-content .bard-fixed-toolbar { top: -24px; }

// Responive Wangjangling
@screen md {
    // Fixed toolbar below fixed global header
    .bard-fixed-toolbar { top: 52px; }
    .bard-fieldtype .bard-fieldtype .bard-fixed-toolbar { top: 92px; }

    // Fixed toolbar inside a stack
    .stack-content .bard-fieldtype .bard-fieldtype .bard-fixed-toolbar { top: 16px; }
}

.bard-floating-toolbar {
    @apply flex bg-black rounded-full shadow-lg px-0;
    white-space: nowrap;

    &:before {
        content: '';
        border: 6px solid transparent;
        border-top-color: black;
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -3px
    }

    .bard-toolbar-button {
        @apply text-grey-20 h-10 w-10 text-center bg-black rounded-lg flex items-center justify-center;
        font-size: 16px;
        transition: all .1s ease-in-out;
        svg {
            @apply w-4 h-4;
        }
    }

    .bard-toolbar-button:hover {
        @apply .text-white;
    }

    .bard-toolbar-button.active {
        @apply .text-blue;
    }

    .bard-toolbar-button:focus {
        outline: none;
    }

    .bard-toolbar-button:disabled {
        @apply .opacity-50;
        &:hover {
            @apply .text-grey-20;
        }
    }

    button sup {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
}

.bard-footer-toolbar {
    @apply .bg-white .shadow-none text-grey-70 rounded-b .border-t .text-xs .p-1 flex items-center justify-between;
    padding: 8px 12px;

    .bard-fullscreen & {
        position: sticky;
        bottom: 0;
        z-index: 10;
    }
}

.bard-set:active .sortable-handle:hover ~ * .popover {
    display: none;
}

.bard-set.has-error > .replicator-set-header label {
    color: $color_red;
}

/* The set selection options for each text block
  ========================================================================== */

.bard-set-selector {
    // transition: all .15s ease-in-out;

    .dropdown-menu {
        left: -5px;
        right: auto;
    }
}


/* Fullscreen mode
   ========================================================================== */

.bard-fieldtype .bard-fullscreen {
    @apply fixed bg-grey-20 inset-0 min-h-screen overflow-scroll rounded-none;
    z-index: 998; // to appear over the top of the rest of the stuff on the page.
                // too high and it'll be over the top of stacks, etc.

    .bard-editor {
        @apply bg-white shadow max-w-xl mx-auto rounded relative my-3 px-4;
    }

    .bard-fixed-toolbar {
        @apply shadow h-12 justify-center;
        padding: 7px 8px;
        top: 0;
        z-index: 999;

        button {
            @apply mx-sm;
        }
    }

    .ProseMirror {
        @apply .px-3 py-6 flex flex-col;
        min-height: calc(100vh - 120px);

        > p > code, > pre code {
            @apply bg-grey-30;
        }

        // To remove min height from nested bard fields inside bard in fullscreen mode.
        * > .ProseMirror {
            min-height: auto;
        }
    }

    .bard-set-selector {
        @apply ml-3;
    }

    .bard-field-options {
        @apply fixed top-0 inset-x-0 bg-grey-70 p-2 w-full;
        text-align: right;
        z-index: 1; // to appear over the top of .bard-editor

        .icon { font-size: 24px; }
        a { margin-left: 16px; color: #fff; opacity: 1; }
    }
}


/* Typography
   -
   Selectors are specific so they don't cascade into the sets, which
   all sit inline within the rest of the elements.
   ========================================================================== */
.bard-fieldtype .ProseMirror {
    outline: 0;
}

.bard-fieldtype .ProseMirror > {
    p {
        @apply text-grey-80;
        word-break: break-all;
        word-break: break-word;

        line-height: 1.7;
        text-size-adjust: 100%;
    }


    blockquote,
    ol,
    p,
    ul {
        margin-top: 0;
        margin-bottom: .85em;

        b,
        strong { font-weight: 700; }

        em, i { font-style: italic }

        a {
            @apply text-blue underline break-words;
        }

        a:active,
        a:focus,
        a:hover {
            outline: 0;
            text-decoration: underline;
        }

        img {
            border: 0;
            max-width: 100%;
        }
    }

    blockquote,
    blockquote ol li,
    blockquote ul li,
    ol li,
    ul li {
        > p {
            margin-top: 0;
            margin-bottom: .85em;
        }
    }

    hr {
        @apply bg-grey-60;
        height: 4px;
        padding: 0;
        margin: 1.7em 0;
        overflow: hidden;
        border: none;
    }

    hr:after,
    hr:before {
        display: table;
        content: " ";
    }

    hr:after {
        clear: both
    }

    h1, h2, h3, h4, h5, h6 {
        margin-top: 1.275em;
        margin-bottom: .85em;
        font-weight: 700
    }

    h1 { font-size: 2em }

    h2 { font-size: 1.75em }

    h3 { font-size: 1.5em }

    h4 { font-size: 1.25em }

    h5 { font-size: 1em }

    h6 {
        font-size: 1em;
        @apply text-grey-70;
    }

    h1:first-child,
    h2:first-child,
    h3:first-child,
    h4:first-child,
    h5:first-child,
    h6:first-child {
        margin-top: 0;
    }

    ul, 
    blockquote ul,
    .tableWrapper table ul {
        list-style-type: disc;
    }

    ol, 
    blockquote ol,
    .tableWrapper table ol {
        list-style-type: decimal;
    }

    ol,
    ul,
    blockquote ol,
    blockquote ul {
        padding: 0;
        margin: 0;
        margin-bottom: .85em;
        padding-left: 2em;
    }

    .tableWrapper table ol,
    .tableWrapper table ul {
        padding: 0;
        margin: 0;
        padding-left: 2em;
    }

    ol ol,
    ol ul,
    ul ol,
    ul ul {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 2em;
    }

    ul ul {
        list-style-type: circle;
    }

    ol ol {
        list-style-type: decimal;
    }

    ul ol {
        list-style-type: decimal;
    }

    ol ul {
        list-style-type: circle;
    }

    blockquote {
        @apply text-grey-80 border-l-4 border-blue px-2;
        margin: 0 0 .85em;
    }

    blockquote:first-child {
        margin-top: 0;
    }

    blockquote:last-child {
        margin-bottom: 0;
    }

    .tableWrapper table,
    blockquote > .tableWrapper table,
    ol li > .tableWrapper table,
    ul li > .tableWrapper table {
        @apply w-full overflow-hidden m-0 mb-2 bg-white text-sm ;
        border-collapse: collapse;
        table-layout: fixed;

        th {
            @apply font-bold text-left bg-grey-20;
        }

        td, th {
            @apply border align-top relative py-sm px-1;
            min-width: 1em;
        }

        .selectedCell {
            @apply relative;

            &:after {
                @apply bg-grey-40 absolute inset-0 pointer-events-none opacity-25;
                content: '';
            }
        }

        a {
            @apply text-blue underline break-words;
        }

        a:active,
        a:focus,
        a:hover {
            outline: 0;
            text-decoration: underline;
        }
    }

    p > code {
        @apply font-mono bg-grey-40 rounded-sm text-xs relative;
        padding: 2px 4px;
        top: -1px;
    }

    pre {
        margin-bottom: .85em;
    }

    pre code {
        @apply font-mono bg-grey-40 text-xs p-2 block w-full rounded;
        line-height: 1.8;
    }
}

/* Placeholder
========================================================================== */

.bard-fieldtype .ProseMirror > p.is-editor-empty:first-child::before {
    @apply text-grey-60;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}  

/* Link toolbar
  ========================================================================== */

  .bard-link-toolbar {
    @apply bg-white rounded absolute leading-none shadow mt-1;
    z-index: 100;
    width: 300px;
    top: 100%;

    &:before {
        content: '';
        border: 6px solid transparent;
        border-bottom-color: white;
        position: absolute;
        bottom: 100%;
        left: 10px;
    }

    .input {
        @apply p-0 text-xs h-8 bg-transparent shadow-none border-none;
        width: 240px;
        outline: none;
    }

    .bard-toolbar-button {
        @apply p-0 text-grey-70 outline-none;
        font-size: 16px;

        &:hover {
            @apply text-grey-90;
        }
    }
}

.bard-inline-image-container {
    @apply relative bg-white border rounded whitespace-normal mb-3;
    &:hover {
        cursor: grab;
    }
}
