.bard-fieldtype-wrapper {
    @apply text-grey-80 border bg-grey-10 rounded shadow-inner p-3;

    &:focus-within {
        @apply focus-outline;
    }
}

.bard-field-options {
    position: absolute;
    top: 16px;
    right: 16px;

    a {
        opacity: 0.5;
        margin-left: 4px;

        &.active {
            opacity: 1;
        }
    }
}


.bard-toolbar {
    @apply bg-black rounded-full absolute shadow-lg px-2 opacity-0 invisible;
    transform: translateX(-50%) translateY(-10px);
    white-space: nowrap;
    z-index: 1000;

    &.active {
        @apply opacity-100 visible;
    }

    &:before {
        content: '';
        border: 6px solid transparent;
        border-top-color: black;
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -3px
    }

    button {
        @apply text-grey-20 h-10 px-1 bg-black rounded-lg;
        font-size: 16px;
        transition: all .1s ease-in-out;
    }

    button:hover {
        @apply .text-white;
    }

    button.active {
        @apply .text-blue;
    }

    button:focus {
        outline: none;
    }

    button:disabled {
        @apply .opacity-50;
        &:hover {
            @apply .text-grey-20;
        }
    }

    button sup {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
}


// typography
//
// selectors are specific so they don't cascade into the sets, which
// all sit inline within the rest of the elements.

.bard-fieldtype .ProseMirror > {
    p {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        word-wrap: break-word;
        color: #333;
        line-height: 1.7;
        text-size-adjust: 100%;
    }

    b,
    strong { font-weight: 700; }

    em { font-style: italic }

    blockquote,
    ol,
    p,
    ul {
        margin-top: 0;
        margin-bottom: .85em;
    }

    a {
        color: #4183c4;
        text-decoration: none;
        text-decoration: underline;
    }

    a:active,
    a:focus,
    a:hover {
        outline: 0;
        text-decoration: underline;
    }

    img {
        border: 0;
        max-width: 100%;
    }

    hr {
        height: 4px;
        padding: 0;
        margin: 1.7em 0;
        overflow: hidden;
        background-color: #e7e7e7;
        border: none;
    }

    hr:after,
    hr:before {
        display: table;
        content: " ";
    }

    hr:after {
        clear: both
    }

    h1, h2, h3, h4, h5, h6 {
        margin-top: 1.275em;
        margin-bottom: .85em;
        font-weight: 700
    }

    h1 { font-size: 2em }

    h2 { font-size: 1.75em }

    h3 { font-size: 1.5em }

    h4 { font-size: 1.25em }

    h5 { font-size: 1em }

    h6 {
        font-size: 1em;
        color: #777;
    }

    ol,
    ul {
        padding: 0;
        margin: 0;
        margin-bottom: .85em;
        padding-left: 2em;
    }

    ol ol,
    ol ul,
    ul ol,
    ul ul {
        margin-top: 0;
        margin-bottom: 0;
    }

    ol ol {
        list-style-type: lower-roman;
    }

    blockquote {
        margin: 0;
        margin-bottom: .85em;
        padding: 0 15px;
        color: #858585;
        border-left: 4px solid #e5e5e5;
    }

    blockquote:first-child {
        margin-top: 0;
    }

    blockquote:last-child {
        margin-bottom: 0;
    }
}