/* ==========================================================================
   DATE/TIME FIELDTYPE
   ========================================================================== */

.daterange {
	outline: none;
	.icon-remove { right: 32px; }

    .dr-calendar { max-width: 250px; }

    .dr-active, .dr-input {
        z-index: 1;
    }
}

.datetime .icon-remove, .time-fieldtype .icon-remove {
	cursor: pointer;
	background: rgba(0, 0, 0, 0.1);
	font-size: 15px;
	line-height: 1;
	padding: 0px 4px 2px;
	border-radius: 50%;
	color: #777;
    height: 18px;
    width: 18px;
    margin-right: 8px;
	text-shadow: 0 1px 1px #FFF;
}

.daterange--single .dr-input .dr-dates {
    min-width: 60px;
}

.time-fieldtype {
	input {
		max-width: 40px !important;
        padding-left: 3px;
        padding-right: 3px;
        text-align: center;
		-moz-appearance: textfield;
	}

	input::-webkit-inner-spin-button,
	input::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	.icon-remove {
		position: relative;
		top: 0;
		right: -8px;
		outline: none;
	}

	.icon-remove:focus {

	}
}

.date-time-container {
	display: flex;

	.col-date {
		flex: 1;
	}
	.col-time {
		padding-left: 10px;
	}
}


/* Inside a Grid field
  ========================================================================== */

.grid-mode-table .date-fieldtype {
    .daterange .icon {
        top: 8px;
    }

    .btn.add-time { top: 8px; }

    .dr-input { border: 0 !important; }

    .col-time {
        padding: 0 10px;
        input.form-control {
            background: #f8f8f8;
            width: auto;
            text-align: center;
        }
        .colon {
            background: #fff;
            margin: 0;
            padding: 8px 5px;
        }
    }
}
