/* ==========================================================================
   Grid Fieldtype
   ========================================================================== */

.grid-table {
    @apply w-full text-left border text-grey relative mb-2 outline-none shadow-sm rounded;
    border-collapse: separate;
    border-spacing: 0;
    table-layout: auto;
}

.grid-table thead {
    th {
        @apply font-medium px-1 py-1.5 border-b z-10 bg-grey-20 text-grey-90 uppercase text-2xs tracking-wide;
        display: table-cell;
        position: sticky;
        top: -1px;
        z-index: auto;

        &:first-child { @apply .rounded-tl pl-1.5; }
        &:last-child { @apply .rounded-tr; }
        &.grid-drag-handle-header {
            @apply w-3;
        }
    }
}

.stack-container .grid-table thead th {
    top: auto;
}

.grid-table > tbody {
    @apply outline-none;

    > tr {
        @apply outline-none;
    }

    > tr > td {
        @apply border-b px-1 py-1.5 align-top;

        &:first-child.grid-cell {
            @apply pl-1.5;
        }

        &.drag-handle {
            @apply border-r h-full p-1;
            width: 1%;
            cursor: grab;
            background: theme('colors.grey-20') url('../svg/drag-dots.svg') center center no-repeat;
            &:hover { @apply .bg-grey-30; }
        }
    }

    tr:last-child td {
        @apply border-b-0;
        &:first-child { @apply .rounded-bl; }
        &:last-child { @apply .rounded-br; }
    }

    tr.draggable-source--is-dragging td {
        @apply bg-grey-10;
    }
}

.grid-table .row-controls {
    @apply pl-0 text-center;
    width: 1%;
    padding-top: 21px; // pseudo-center for text/select fields
}

.grid-item-header {
    @apply bg-grey-20 border-b px-2 py-1 text-sm flex items-center justify-between outline-none cursor-move;
}

.grid-stacked .input-text {
    @apply bg-white;
}
