/* ==========================================================================
   HIDDEN FIELDTYPE
   ========================================================================== */

.hidden-fieldtype {
    display: none; // So fancy
}
