/* ==========================================================================
   LIST FIELDTYPE
   ========================================================================== */

.list-fieldtype ul {
    padding: 0;
    margin: 0;
	list-style: none;
}

.list-fieldtype li {
	padding: 0 16px;
	background: url('../svg/bullet.svg') no-repeat 0px 8px;
	margin-bottom: 8px;
    font-size: 16px;
	position: relative;
	font-size: 14px;

    &:active { cursor: ns-resize; }

	&.editing {
		padding-left: 0px;
		background: #fff;
	}

	&:last-child {
		padding-left: 0;
        margin-bottom: 0;
		background: none;
	}

	input {
		background: #fff url('../svg/bullet.svg') no-repeat 0 8px;
		box-shadow: none;
        padding: 0 16px;
        height: auto !important;
		font-size: 14px;
		outline: 0px !important;
		&:active, &:focus { outline: 0px !important; -webkit-appearance: none; box-shadow: 0 0 0 0; }
	}

    .delete {
	    background: #fff url(../svg/delete-x.svg) no-repeat 0 0;
	    width: 12px;
	    height: 12px;
	    display: inline-block;
	    opacity: 0;
		top: 6px;
		left: -1px;
		position: absolute;
	    cursor: pointer;
	}

	&:hover .delete {
		opacity: 1;
	}
}


/* Inside a Grid
  ========================================================================== */

.grid-fieldtype .list-fieldtype {

	padding: 8px 0 10px;

	ul {
        border: none;
        padding: 0;
        border-radius: 0;
    }

    li {
        background-position: 10px 8px;
        font-size: 14px;
        margin: 0 0 8px;
        padding-left: 20px;
        &:last-child { padding-left: 0; }
        input {
            background-position: 10px 8px;
            padding: 0 10px 0 20px;
            margin-top: 0;

            &:hover { background-color: #fff; }
        }
        .delete {
            left: 8px;
        }
    }

    .ui-sortable-helper {
        box-shadow: none;
        .delete { display: none; }
    }
}


/* Inside a Bard
  ========================================================================== */

.bard-fieldtype .list-fieldtype {
    input.input-text {
        border: none;
    }
}
