/* ==========================================================================
   MARKDOWN FIELDTYPE
   ========================================================================== */

.markdown-fieldtype-wrapper {

    @apply .border .rounded .overflow-hidden relative;

    &:focus-within {
        @apply focus-outline;
    }

    .markdown-toolbar {
        @apply .bg-white .shadow-none .border-b .text-sm .p-1 flex items-center justify-between;
        padding: 8px 12px;
    }

    .markdown-modes, .markdown-buttons {
        @apply list-reset;

        li {
            display: inline-block;
        }
    }

    .markdown-modes {
        @apply ml-1;

        li {
            @apply .mr-2
        }

        a {
            @apply text-grey-50 outline-none;

            &:hover {
                @apply text-blue;
            }
        }

        .active a {
            @apply .text-grey-80;
        }
    }

    .markdown-buttons li a {
        @apply block px-sm;
    }

    .CodeMirror {
        @apply .bg-grey-10 .shadow-inner .h-auto .font-mono .leading-normal .p-1.5 .text-xs;
        border-radius: 0 0 3px 3px;

        .cm-comment {
            @apply .font-mono .text-sm
        }
    }

    .CodeMirror-code { min-height: 100px; }

    .CodeMirror-lines {
        max-width: 860px;
    }

    .helpers {
        @apply border-t text-xs text-grey flex items-center;
    }

    .markdown-cheatsheet-helper {
        @apply py-1 px-2 inline-block;
        svg {
            height: 14px;
            width: 24px;
            position: relative;
            bottom: -2px;
            margin-right: 3px;
        }
    }

    .markdown-asset-helper {
        @apply py-1 px-2 inline-block;
    }
}


/* Read Only
  ========================================================================== */

.markdown-fieldtype.read-only-field .CodeMirror {
    @apply bg-grey-30 text-grey-70;
}


/* Inside a Grid fieldtype
  ========================================================================== */

.grid-fieldtype .grid-table .markdown-fieldtype {
    .markdown-fieldtype-wrapper {
        @apply border rounded;
    }

    .markdown-preview {
        @apply border-none p-1 text-left;
        p { line-height: 1.2; }
    }
}


/* Inside a Replicator fieldtype
  ========================================================================== */

  // .replicator-fieldtype .markdown-fieldtype,
  // .grid-fieldtype .grid-stacked .markdown-fieldtype {
  //     .CodeMirror {
  //         background: #fff;
  //     }
  // }



/* Markdown Preview typography
  ========================================================================== */

.markdown-preview {
    @apply px-2 py-4 mx-auto max-w-md;
}

.markdown-fieldtype-wrapper.markdown-fullscreen {
    @apply fixed bg-white pin h-screen rounded-none;
    z-index: 11;
    will-change: transform;

    .markdown-toolbar {
        @apply shadow-sm bg-white;
    }

    .CodeMirror {
        @apply bg-white max-w-xl mx-auto relative my-3 px-4 text-base overflow-scroll;
        box-shadow: none !important;
        min-height: calc(100vh - 100px);

        .CodeMirror-code {
            min-height: calc(100vh - 100px);
        }
    }

    .helpers {
        @apply absolute pin-b pin-l pin-r bg-white;
    }
}


/* @TODO make sure Sneak Peek mode looks good
  ========================================================================== */

// .sneak-peeking .markdown-fieldtype {
//     .markdown-toolbar { padding: 9px 4px 7px; }
//     .CodeMirror { font-size: 13px; }
//     .markdown-preview { padding: 10px; }
// }


/* Reponsive Wangjangling
  ========================================================================== */
//
// @media (max-width: 1180px) {
//     .markdown-fieldtype .CodeMirror-lines { max-width: 700px; }
// }
//
// @media (max-width: 1020px) {
//     .markdown-fieldtype .CodeMirror-lines { max-width: 640px; }
// }
//
// @media (min-width: 768px) and (max-width: 900px) {
//     .markdown-fieldtype .CodeMirror-lines {
//         max-width: 520px;
//         border-right: none !important;
//     }
// }
//
// @media (max-width: 766px) {
//     .markdown-fieldtype .CodeMirror-lines { max-width: 600px; }
// }
//
// @media (max-width: 720px) {
//     .markdown-fieldtype .CodeMirror-lines { max-width: 500px; }
// }
//
// @media (max-width: 620px) {
//     .markdown-fieldtype .CodeMirror-lines { max-width: 400px; }
// }
//
// @media (max-width: 520px) {
//     .markdown-fieldtype .CodeMirror-lines { max-width: 320px; }
// }
//
// @media (max-width: 420px) {
//     .markdown-fieldtype .CodeMirror-lines { max-width: 280px; }
// }
//
// @media (min-width: 1366px) and (max-width: 1600px) {
// .markdown-fieldtype .CodeMirror-lines {
//         max-width: 720px;
//     }
// }
