/* ==========================================================================
   MARKDOWN FIELDTYPE
   ========================================================================== */

.markdown-fieldtype {

    .markdown-fieldtype-wrapper {
        @apply .border .rounded .overflow-hidden;

        &:focus-within {
            @apply focus-outline;
        }
    }

    .markdown-toolbar {
        @apply .bg-white .shadow-none .border-b .text-sm .p-1 flex items-center justify-between;
        padding: 8px 12px;
    }

    .markdown-modes, .markdown-buttons {
        @apply list-reset;

        li {
            display: inline-block;
        }
    }

    .markdown-modes {
        @apply ml-1;

        li {
            @apply .mr-2
        }

        a {
            @apply text-grey-light outline-none;

            &:hover {
                @apply text-blue;
            }
        }

        .active a {
            @apply .text-grey-dark;
        }
    }

    .markdown-buttons li a {
        @apply block px-sm;
    }

    .CodeMirror {
        @apply .bg-grey-lighten-6 .shadow-inner .h-auto .font-mono .leading-normal .p-1.5 .text-xs;
        border-radius: 0 0 3px 3px;

        .cm-comment {
            @apply .font-mono .text-sm
        }
    }

    .CodeMirror-code { min-height: 100px; }

    .CodeMirror-lines {
        max-width: 860px;
        margin: 0 auto;
    }

    .helpers {
        @apply border-t text-xs text-grey;
    }

    .markdown-cheatsheet-helper {
        @apply py-1 px-2 inline-block;
        svg {
            height: 14px;
            width: 24px;
            position: relative;
            bottom: -2px;
            margin-right: 3px;
            opacity: 0.65;
        }
    }

    .markdown-asset-helper {
        @apply py-1 px-2 inline-block;

        .icon {
            @apply mr-sm;
        }
    }
}


/* Inside a Grid fieldtype
  ========================================================================== */

.grid-fieldtype .grid-table .markdown-fieldtype {
    .markdown-fieldtype-wrapper {
        border: 0;
        border-radius: 0;
    }

    .CodeMirror {
        background: #fff;
    }

    .markdown-preview {
        @apply border-none p-1 text-left;
        p { line-height: 1.2; }
    }
}


/* Inside a Replicator fieldtype
  ========================================================================== */

  .replicator-fieldtype .markdown-fieldtype,
  .grid-fieldtype .grid-stacked .markdown-fieldtype {
      .CodeMirror {
          background: #fff;
      }
  }



/* Markdown Preview typography
  ========================================================================== */

.markdown-preview {
    @apply px-2 py-4 mx-auto max-w-md;
}

// TODO: Needs serious love.
.markdown-fullscreen {
    background: #fff;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 0;
    z-index: 1000;
    will-change: transform;
    height: 100vh;

    .CodeMirror {
        box-shadow: none !important;
        background: #fff;
        padding: 64px 32px;
        max-width: 860px;
        margin: 0 auto;
    }

    .CodeMirror-lines {
        border-right: none !important;
    }
}



/* @TODO make sure Sneak Peek mode looks good
  ========================================================================== */

.sneak-peeking .markdown-fieldtype {
    .markdown-toolbar { padding: 9px 4px 7px; }
    .CodeMirror { font-size: 13px; }
    .markdown-preview { padding: 10px; }
}


/* Reponsive Wangjangling
  ========================================================================== */

@media (max-width: 1180px) {
    .markdown-fieldtype .CodeMirror-lines { max-width: 700px; }
}

@media (max-width: 1020px) {
    .markdown-fieldtype .CodeMirror-lines { max-width: 640px; }
}

@media (min-width: 768px) and (max-width: 900px) {
    .markdown-fieldtype .CodeMirror-lines {
        max-width: 520px;
        border-right: none !important;
    }
}

@media (max-width: 766px) {
    .markdown-fieldtype .CodeMirror-lines { max-width: 600px; }
}

@media (max-width: 720px) {
    .markdown-fieldtype .CodeMirror-lines { max-width: 500px; }
}

@media (max-width: 620px) {
    .markdown-fieldtype .CodeMirror-lines { max-width: 400px; }
}

@media (max-width: 520px) {
    .markdown-fieldtype .CodeMirror-lines { max-width: 320px; }
}

@media (max-width: 420px) {
    .markdown-fieldtype .CodeMirror-lines { max-width: 280px; }
}

@media (min-width: 1366px) and (max-width: 1600px) {
.markdown-fieldtype .CodeMirror-lines {
        max-width: 720px;
    }
}
