/* ==========================================================================
   REDACTOR FIELDTYPE
   ========================================================================== */

.redactor-box {
    border: 1px solid $border;
    border-radius: 4px;
    overflow: hidden;
}

.redactor-editor {
    @apply .shadow-inner .bg-grey-30 .p-2 .rounded-none .border-0 .antialiased;
}

.redactor-toolbar {
    background: #fff;
    border-bottom: 1px solid #cecece;
    z-index: 5;
    box-shadow: none;
}

.redactor-toolbar li a {
    padding: 12px;
}

.redactor-toolbar li a:hover {
    background: $brand-primary;
}


/* Inside a Replicator field
  ========================================================================== */

.replicator-fieldtype .redactor-fieldtype,
.grid-fieldtype .grid-stacked .redactor-fieldtype {
    .redactor-editor {
        background: #fff;
    }
}


/* Inside a Grid field
  ========================================================================== */

.grid-fieldtype .grid-table .redactor-fieldtype {
    .redactor-box {
        border: none;
        border-radius: 0;
    }

    .redactor-editor {
        background: #fff;
    }

    .redactor-toolbar { border-radius: 0; }
}
