.relate-fieldtype {
    @extend .no-select;

    .relate-search {
        background: #fff;
        padding: 0 9px;
        height: 24px;
        border-radius: 4px;
        box-shadow: inset 0px 1px 2px rgba(0,0,0,.2);
    }

    .relate-create {
        display: none;
    }

    .pane-header {
        @include toolbar;
        color: #999;
        height: 34px;
        text-shadow: 0 1px 0 white;
        padding: 0 10px;
        margin: -5px;
        line-height: 34px;
    }

    .relate-pane {
        background: #fff;
        position: relative;
        width: 49%;
        border: 1px solid $color_border;
        padding: 5px;
        border-radius: 2px;
    }

    .relate-items {
        height: 150px;
        overflow: auto;
        margin-top: 13px;
    }

    .pane-suggestions {
        float: left;
        .pane-header { padding-top: 5px; }
    }

    .pane-selections {
        float: right;
    }

    .relate-items .item {
        padding: 5px 10px;
        color: $color_gray_dark;
        font-size: 13px;
        text-decoration: none;
        cursor: pointer;
        position: relative;

        .icon {
            position: absolute;
            right: 5px;
            top: 3px;
            text-shadow: 0 1px 0 white;
            opacity: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &:hover, &.active {
            @include toolbar;
            border-radius: 4px;
            .icon {
                opacity: 1;
            }
        }

        small {
            display: block;
            color: lighten($color_gray_dark, 25);
        }
    }

    .item-placeholder {
        background: rgba($color_gray_input, .5);
        border-radius: 3px;
        margin-bottom: 5px;
    }

    .pane-selections .item {
        // padding-left: 28px;
        cursor: grab;
    }

    .max-selected .pane-suggestions .item {
        opacity: .5;
        cursor: not-allowed;
    }

    .item-remove {
        float: right;
        cursor: pointer;
        background: rgba(black, .1);
        font-size: 15px;
        line-height: 1;
        padding: 1px 4px;
        border-radius: 50%;
        position: relative;
        color: #777;
        text-shadow: 0 1px 1px white;
        opacity: 0;

        &:hover {
            background: desaturate($color_red, 90%);
            color: white;
            text-shadow: none;

        }
    }

    .item:hover .item-remove {
        opacity: 1;
    }

}

// The Grid
.grid-fieldtype .relate-fieldtype {
    .relate-pane {
        border: none;
        width: 50%;
        &:first-child { border-right: 1px solid $border; }
    }
    .pane-header { height: 36px; }
}
