/* ==========================================================================
   REPLICATOR FIELDTYPE
   ========================================================================== */

.replicator-set-container {
    @apply outline-none;
}

.replicator-set {
    @apply mb-4 shadow-set rounded bg-white outline-none relative;
}

.replicator-set-header {
    @apply bg-grey-30 border-b rounded-t pr-1.5 flex select-none;

    &.collapsed {
        @apply rounded border-b-0;
    }

    .sortable-handle {
        @apply w-4 border-r rounded-tl p-1;
        cursor: grab;
        background: transparent url('../img/drag-dots.svg') center center no-repeat;
        &:hover { @apply .bg-grey-20; }
    }

    .replicator-set-controls {
        @apply flex items-center;

        .toggle-sm {
            position: relative;
            bottom: 1px;
        }
    }
}

.replicator-set-body {
    @apply flex flex-wrap;
}

.replicator-set-picker-between {
    @apply absolute pin-b w-full text-center;
    margin-bottom: -35px;
}

// Extra contrast when full width
.replicator-fieldtype {
    @apply py-3 px-0 bg-grey-20 border-t border-b;

    > .field-inner {
        @apply ml-3;
    }

    .replicator-fieldtype-container {
        @apply px-3;
    }
}
