/* ==========================================================================
   REPLICATOR FIELDTYPE
   ========================================================================== */

.replicator-set-container {
    @apply outline-none;
}

.replicator-set {
    @apply mt-5 shadow-set rounded bg-white outline-none relative;

    &:last-child {
        @apply mb-5;
    }
}

.replicator-set-header {
    @apply bg-grey-30 border-b rounded-t pr-1.5 flex select-none;

    &.collapsed {
        @apply rounded border-b-0;
    }

    .sortable-handle {
        @apply w-4 border-r rounded-tl p-1;
        cursor: grab;
        background: transparent url('../svg/drag-dots.svg') center center no-repeat;
        &:hover { @apply .bg-grey-20; }
    }

    img {
        @apply inline-block;
    }

    .replicator-set-controls {
        @apply flex items-center;

        .toggle-sm {
            position: relative;
            bottom: 1px;
        }
    }

    &.invalid {
        .replicator-set-header-inner {
            @apply bg-red-lighter;
            label {
                @apply text-red;
            }
        }
    }
}

.replicator-set-body {
    @apply flex flex-wrap;
}

.replicator-set-picker-between {
    @apply absolute top-0 -mt-4 w-full text-center;
}

// Extra contrast when full width
.replicator-fieldtype {
    @apply py-3 px-0 bg-grey-20 border-t border-b;

    > .field-inner {
        @apply ml-3;
    }

    .replicator-fieldtype-container {
        @apply px-3;
    }
}

// Avoid double borders
.section-fieldtype ~ .replicator-fieldtype {
    border-top: 0;
}

.replicator-set.has-error > .replicator-set-header label {
    color: $color_red;
}

.replicator-set-body > .has-error > label {
    color: $color_red;
}
