.revealer-fieldtype {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;

    label, .help-block {
        display: none;
    }

    .btn {
        margin-bottom: 32px;
    }
}
