/* ==========================================================================
   REVEALER FIELDTYPE
   ========================================================================== */

.revealer-fieldtype {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;

    > label.block, .help-block {
        display: none !important;
    }

    .btn {
        margin-bottom: 32px;
    }
}
