/* ==========================================================================
   SECTION FIELDTYPE
   ========================================================================== */

.section-fieldtype {
    @apply border-t border-b bg-grey-20;
    top: -1px; // Avoid adjacent borders just in case they're stacked

    &.form-group {
        position: relative;
        &:first-child {
            @apply rounded-t border-t-0;
        }

        .field-inner > label {
            @apply uppercase text-sm font-bold mt-1;
        }
    }

    .help-block {
        @apply .mb-0;

        p { margin: 0; }
    }


    .read-only-overlay {
        display: none;
    }
}
