/* ==========================================================================
   SECTION FIELDTYPE
   ========================================================================== */

.section-fieldtype {
    @apply .border-t .border-b .bg-grey-20;

    &.form-group {
        position: relative;
        &:first-child {
            @apply .rounded-t .border-t-0;
        }
    }

    label {
        @apply .uppercase .text-sm .font-bold mb-2;
    }

    .help-block {
        @apply .mb-0;

        p { margin: 0; }
    }


    .read-only-overlay {
        display: none;
    }
}
