/* ==========================================================================
   TAGS FIELDTYPE
   ========================================================================== */

// Hide the dropdown. It's silly when it's just "Sorry no matching options"
.tags-fieldtype .vs__dropdown-menu {
    display: none !important;
}

// Hide the dropdown caret. There's nothing to dropdown since we hide it.
.tags-fieldtype .vs__open-indicator {
    display: none !important;
}
