/* GROUP CHARTS / PIE CHART
=================================================== */
.pie-chart {
    --label-radius: 30%;

    position: relative;
    width: 9rem;
    aspect-ratio: 1 / 1;

    /* Slice sizes as unitless numbers (percent of circle). */
    --end1: calc(var(--1) * 1%);
    --end2: calc((var(--1) + var(--2)) * 1%);
    --end3: calc((var(--1) + var(--2) + var(--3)) * 1%);
    --end4: 100%;

    /* Midpoint angle for each slice (100% = 360deg). */
    --angle1: calc(var(--1) * 3.6deg / 2);
    --angle2: calc((var(--1) + var(--2) / 2) * 3.6deg);
    --angle3: calc((var(--1) + var(--2) + var(--3) / 2) * 3.6deg);
    --angle4: calc((var(--1) + var(--2) + var(--3) + var(--4) / 2) * 3.6deg);

    &:hover {
        .pie-chart__label {
            opacity: unset;
        }
    }
}

.pie-chart__disc {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-image: conic-gradient(
        var(--color-indigo-500) 0% var(--end1),
        var(--color-gray-800) var(--end1) var(--end2),
        var(--color-lime-500) var(--end2) var(--end3),
        var(--color-indigo-200) var(--end3) var(--end4)
    );
}

.pie-chart__label {
    --angle: 0deg;
    opacity: 0;
    transition: opacity 0.2s ease-in 0s;

    padding: 0.075rem 0.15rem;
    border-radius: 0.25rem;

    position: absolute;
    left: calc(50% + var(--label-radius) * sin(var(--angle)));
    top: calc(50% - var(--label-radius) * cos(var(--angle)));
    transform: translate(-50%, -50%);

    @apply text-xs font-medium tabular-nums text-white pointer-events-none;
}

.pie-chart__label--1 { --angle: var(--angle1); background-color: var(--color-indigo-600); }
.pie-chart__label--2 { --angle: var(--angle2); }
.pie-chart__label--3 { --angle: var(--angle3); background-color: var(--color-lime-600); }
/* Kick the radius out a bit because the label segment is smaller, and it might overlap with the preceding segment. */
.pie-chart__label--4 { --angle: var(--angle4); background-color: var(--color-indigo-400); --label-radius: 39%; }




/* GROUP CHARTS / PIE CHART / MODIFIERS
=================================================== */
.pie-chart--other-segment {
    .pie-chart__label,
    &.pie-chart:hover .pie-chart__label {
        opacity: 0;
    }

    .pie-chart__label--4,
    &.pie-chart:hover .pie-chart__label--4 {
        opacity: 1;
        border: 2px solid black;
    }

    .pie-chart__disc {
        background-image: conic-gradient(
            hsl(from var(--color-indigo-500) h s l / 0.1) 0% var(--end1),
            hsl(from var(--color-gray-800) h s l / 0.1) var(--end1) var(--end2),
            hsl(from var(--color-lime-500) h s l / 0.1) var(--end2) var(--end3),
            var(--color-indigo-200) var(--end3) var(--end4)
        );
    }
}