/* Fade Shake
   ========================================================================== */
.animation-shake {
    animation-name: shake;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

@keyframes shake {
    from,
    to {
        transform: translate3d(0, 0, 0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translate3d(-10px, 0, 0);
    }
    20%,
    40%,
    60%,
    80% {
        transform: translate3d(10px, 0, 0);
    }
}

@keyframes rotate {
    100% {
        transform: rotate(1turn);
    }
}

.animate-radar {
    @apply relative z-0;

    &::after {
        @apply absolute bg-transparent bg-no-repeat;
        content: '';
        z-index: 2;
        left: -50%;
        top: -50%;
        width: 200%;
        height: 200%;
        background-size:
            50% 50%,
            50% 50%;
        background-position:
            0 0,
            100% 0,
            100% 100%,
            0 100%;
        background-image: linear-gradient(transparent, rgba(255, 255, 255, 0.7), transparent);
        animation: rotate 4s linear infinite;
    }
}
