/* Fade Enter
   ========================================================================== */
.fade-enter {
    animation: fade-in .1s;
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}


/* Fade Leave
   ========================================================================== */
.fade-leave {
    animation: fade-out .1s;
}

@keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}


/* Spin
   ========================================================================== */
.animation-spin { animation: spin .6s infinite linear; }

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(359deg); }
}


/* Fade Shake
   ========================================================================== */
.animation-shake {
    animation-name: shake;
    animation-duration: .5s;
    animation-fill-mode: both;
}

@keyframes shake {
    from, to { transform: translate3d(0, 0, 0); }
    10%, 30%, 50%, 70%, 90% { transform: translate3d(-10px, 0, 0); }
    20%, 40%, 60%, 80% { transform: translate3d(10px, 0, 0); }
}
