/* Fade Shake
   ========================================================================== */
.animation-shake {
    animation-name: shake;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

@keyframes shake {
    from,
    to {
        transform: translate3d(0, 0, 0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translate3d(-10px, 0, 0);
    }
    20%,
    40%,
    60%,
    80% {
        transform: translate3d(10px, 0, 0);
    }
}
