/* Inter UI
   ========================================================================== */

@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 400;
  src: url("../fonts/Inter-UI/Inter-UI-Regular.woff2") format("woff2"),
       url("../fonts/Inter-UI/Inter-UI-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-weight: 400;
  src: url("../fonts/Inter-UI/Inter-UI-Italic.woff2") format("woff2"),
       url("../fonts/Inter-UI/Inter-UI-Italic.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 500;
  src: url("../fonts/Inter-UI/Inter-UI-Medium.woff2") format("woff2"),
       url("../fonts/Inter-UI/Inter-UI-Medium.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-weight: 500;
  src: url("../fonts/Inter-UI/Inter-UI-MediumItalic.woff2") format("woff2"),
       url("../fonts/Inter-UI/Inter-UI-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 700;
  src: url("../fonts/Inter-UI/Inter-UI-Bold.woff2") format("woff2"),
       url("../fonts/Inter-UI/Inter-UI-Bold.woff") format("woff");
}
@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-weight: 700;
  src: url("../fonts/Inter-UI/Inter-UI-BoldItalic.woff2") format("woff2"),
       url("../fonts/Inter-UI/Inter-UI-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 900;
  src: url("../fonts/Inter-UI/Inter-UI-Black.woff2") format("woff2"),
       url("../fonts/Inter-UI/Inter-UI-Black.woff") format("woff");
}
@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-weight: 900;
  src: url("../fonts/Inter-UI/Inter-UI-BlackItalic.woff2") format("woff2"),
       url("../fonts/Inter-UI/Inter-UI-BlackItalic.woff") format("woff");
}


/* Entypo
   ========================================================================== */

@font-face {
  font-family: "entypo";
  src: url('../fonts/entypo.eot');
  src: url('../fonts/entypo.eot?#iefix') format('eot'),
       url('../fonts/entypo.woff2') format('woff2'),
       url('../fonts/entypo.woff') format('woff'),
       url('../fonts/entypo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/* Font Awesome - used in Bard's MediumEditor implementation
  ========================================================================== */

@font-face {
    font-family: 'fontawesome';
    src:
        url('../fonts/fontawesome.ttf?hj1qzi') format('truetype'),
        url('../fonts/fontawesome.woff?hj1qzi') format('woff'),
        url('../fonts/fontawesome.svg?hj1qzi#fontawesome') format('svg');
    font-weight: normal;
    font-style: normal;
}
