/* Inter var v3.19 (https://rsms.me/inter/)
   ========================================================================== */

@font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    src: url("../../fonts/Inter/Inter-roman.var.woff2?v=3.19") format("woff2");
}

@font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-display: swap;
    font-style: italic;
    src: url("../../fonts/Inter/Inter-italic.var.woff2?v=3.19") format("woff2");
}
