@theme {
    /* GROUP VARIABLES -- DECORATION -- TEXT -- SIZES
    =================================================== */
    --prose-font-weight-normal: 400;
    --prose-font-weight-medium: 500;
    --prose-font-weight-semibold: 600;
    --prose-font-weight-bold: 700;
    --prose-font-weight-heavy: 900;

    /* GROUP VARIABLES -- DECORATION -- COLORS -- LIGHT
    =================================================== */
    --prose-body: var(--color-gray-700);
    --prose-headings: var(--color-gray-900);
    --prose-lead: var(--color-gray-600);
    --prose-links: var(--color-gray-900);
    --prose-bold: var(--color-gray-900);
    --prose-counters: var(--color-gray-500);
    --prose-bullets: var(--color-gray-400);
    --prose-hr: var(--color-gray-200);
    --prose-quotes: var(--color-gray-900);
    --prose-quote-borders: var(--color-gray-200);
    --prose-captions: var(--color-gray-500);
    --prose-kbd: var(--color-gray-900);
    --prose-kbd-shadows: var(--color-gray-900);
    --prose-code: var(--color-gray-900);
    --prose-pre-code: var(--color-gray-900);
    --prose-pre-bg: var(--color-gray-200);
    --prose-th-borders: var(--color-gray-300);
    --prose-td-borders: var(--color-gray-200);

    /* GROUP VARIABLES -- DECORATION -- COLORS -- DARK
    =================================================== */
    /* Dark theme variables (for prose-invert) */
    --prose-invert-body: var(--color-gray-300);
    --prose-invert-headings: var(--color-white);
    --prose-invert-lead: var(--color-gray-400);
    --prose-invert-links: var(--color-white);
    --prose-invert-bold: var(--color-white);
    --prose-invert-counters: var(--color-gray-400);
    --prose-invert-bullets: var(--color-gray-600);
    --prose-invert-hr: var(--color-gray-700);
    --prose-invert-quotes: var(--color-gray-100);
    --prose-invert-quote-borders: var(--color-gray-700);
    --prose-invert-captions: var(--color-gray-400);
    --prose-invert-kbd: var(--color-white);
    --prose-invert-kbd-shadows: var(--color-white);
    --prose-invert-code: var(--color-white);
    --prose-invert-pre-code: var(--color-gray-300);
    --prose-invert-pre-bg: oklch(from var(--color-black) l c h / 0.5);
    --prose-invert-th-borders: var(--color-gray-600);
    --prose-invert-td-borders: var(--color-gray-700);
}

body {
    @apply font-sans text-base tracking-normal text-gray-900 dark:text-white;
    font-variant: common-ligatures tabular-nums;
    font-feature-settings:
        'zero',
        'ss01',
        'calt' off
    ;
}

@utility prose {
    color: var(--prose-body);
    max-width: 65ch;
    font-size: var(--text-base);
    line-height: calc(var(--leading-normal) + 0.25);

    &:not([class~='not-prose'], [class~='not-prose'] *) {

        > :first-child {
            margin-block-start: 0;
        }

        > :last-child {
            margin-block-end: 0;
        }

        /* GROUP PROSE / ELEMENTS
        =================================================== */
        p, ol, li {
            @apply st-text-legibility;
        }

        p {
            margin-block: 1.25em;
        }

        a {
            color: var(--prose-links);
            text-decoration: underline;
            font-weight: var(--prose-font-weight-medium);
        }

        strong {
            color: var(--prose-bold);
            font-weight: var(--prose-font-weight-semibold);

            a &,
            blockquote &,
            thead th & {
                color: inherit;
            }
        }

        blockquote {
            margin-block: 1.6em;
            padding-inline-start: 1em;
            font-weight: var(--prose-font-weight-medium);
            font-style: italic;
            color: var(--prose-quotes);
            border-inline-start-width: 0.25rem;
            border-inline-start-color: var(--prose-quote-borders);
            quotes: '\201C' '\201D' '\2018' '\2019';

            p {
                &::before {
                    content: open-quote;
                }
                &:last-of-type::after {
                    content: close-quote;
                }
            }
        }

        hr {
            margin-block: 3em;
            border-color: var(--prose-hr);
            border-top-width: 1px;

            + * {
                margin-block-start: 0;
            }
        }

        /* GROUP PROSE / HEADINGS
        =================================================== */
        h1, h2, h3, h4, h5, h6 {
            margin-block: 0 0.5em;
            color: var(--prose-headings);

            strong {
                font-weight: var(--prose-font-weight-bold);
                color: inherit;
            }
        }

        h2, h3, h4 {
            font-weight: var(--prose-font-weight-medium);
            + * {
                margin-block-start: 0;
            }
        }

        h5, h6 {
            font-weight: var(--prose-font-weight-normal);
            line-height: var(--leading-normal);
        }

        h1 {
            margin-block: 0 1em;
            font-size: 1.75em;
            font-weight: var(--prose-font-weight-bold);
            letter-spacing: -0.01em;
            line-height: var(--leading-normal);

            strong {
                font-weight: var(--prose-font-weight-heavy);
            }
        }

        h2 {
            font-size: 1.35em;
            line-height: var(--leading-normal);
            letter-spacing: -0.01em;
        }

        h3 {
            font-size: 1.15em;
            line-height: var(--leading-normal);
        }

        h4 {
            line-height: var(--leading-normal);
        }

        h6 {
            font-size: .875em;
        }

        /* GROUP PROSE / LISTS
        =================================================== */

        ol, ul {
            padding-inline-start: 1.625em;
            > li {
                &::marker {
                    color: var(--prose-counters);
                }
            }
        }

        :where(ul, ol) :where(ul, ol) {
            margin-block: 0.75em;
        }

        li {
            margin-block: 0.5em;
        }

        ol {
            list-style-type: decimal;
            > li {
                padding-inline-start: 0.375em;
                font-weight: var(--prose-font-weight-normal);
                p {
                    margin-block: 0.5em;
                    &:first-child {
                        margin-block-start: 1.25em;
                    }
                    &:last-child {
                        margin-block-end: 1.25em;
                    }
                }
                > p {
                    margin-block-start: 1.25em;
                }
            }
        }

        ul {
            list-style-type: disc;
            > li {
                padding-inline-start: 0.375em;
            }
        }

        /* GROUP PROSE / LISTS / DESCRIPTIONS
        =================================================== */

        dl {
            margin-block: 1.25em;
        }

        dt {
            color: var(--prose-headings);
            font-weight: var(--prose-font-weight-semibold);
            margin-block-start: 1.25em;
        }

        dd {
            margin-block-start: 0.5em;
            padding-inline-start: 1.625em;
        }

        /* GROUP PROSE / MEDIA
        =================================================== */

        picture, img, video {
            margin-block: 2em;
        }

        picture {
            display: block;
        }

        figure > *,
        picture > img {
            margin-block: 0;
        }

        figure {
            margin-block-end: 2rem;
        }

        figcaption {
            color: var(--prose-captions);
            font-size: 0.875em;
            line-height: 1.5;
            margin-block-start: 0.825em;
        }

        /* GROUP PROSE / CODE
        =================================================== */

        kbd {
            font-weight: var(--prose-font-weight-medium);
            font-family: inherit;
            color: var(--prose-kbd);
            box-shadow:
                0 0 0 1px oklch(from var(--prose-kbd-shadows) l c h / 10%),
                0 2px 0 oklch(from var(--prose-kbd-shadows) l c h / 10%);
            font-size: 0.875em;
            border-radius: 0.3125rem;
            padding: 0.1875em 0.375em;
        }

        code {
            color: var(--prose-code);
            font-weight: var(--prose-font-weight-semibold);
            font-size: 0.875em;
            color: inherit;

            h2 & {
                font-size: 0.875em;
            }

            h3 & {
                font-size: 0.9em;
            }
        }

        pre {
            color: var(--prose-pre-code);
            background-color: var(--prose-pre-bg);
            overflow-x: auto;
            font-weight: var(--prose-font-weight-normal);
            font-size: 0.875em;
            line-height: 1.75;
            margin-block: 1.75em;
            border-radius: var(--radius-md);
            padding: 0.825em 1.25em;

            code {
                background-color: transparent;
                border-width: 0;
                border-radius: 0;
                padding: 0;
                font-weight: inherit;
                color: inherit;
                font-size: inherit;
                font-family: inherit;
                line-height: inherit;

                &::before, &::after {
                    content: none;
                }
            }
        }

        /* GROUP PROSE / TABLES
        =================================================== */

        table {
            width: 100%;
            table-layout: auto;
            margin-block: 2em;
            font-size: 0.875em;
            line-height: 1.75;
        }

        thead {
            border-bottom-width: 1px;
            border-bottom-color: var(--prose-th-borders);

            th {
                color: var(--prose-headings);
                font-weight: var(--prose-font-weight-semibold);
                vertical-align: bottom;
                padding-inline: 0.5em;
                padding-block-end: 0.5em;

                &:first-child {
                    padding-inline-start: 0;
                }
                &:last-child {
                    padding-inline-end: 0;
                }
            }
        }

        tbody, tfoot {
            td {
                padding: 0.5em;
                &:last-child {
                    padding-inline-end: 0;
                }
            }
        }

        tbody {
            tr {
                border-bottom-width: 1px;
                border-bottom-color: var(--prose-td-borders);

                &:last-child {
                    border-bottom-width: 0;
                }
            }

            td {
                vertical-align: baseline;
                &:first-child, &:last-child {
                    padding-inline-start: 0;
                }
            }
        }

        tfoot {
            border-top-width: 1px;
            border-top-color: var(--prose-th-borders);

            td {
                vertical-align: top;
            }
        }

        th, td {
            text-align: start;
        }
    }
}

@utility prose-sm {
    font-size: var(--text-sm);
    line-height: 1.75;

    &:not([class~='not-prose'], [class~='not-prose'] *) {

        /* GROUP PROSE / ELEMENTS
        =================================================== */

        [class~='lead'] {
            font-size: 1.25em;
            line-height: 1.5;
            margin-block: 0.875rem;
        }

        blockquote {
            margin-block-end: 1.25rem;
            padding-inline-start: 1em;
        }

        hr {
            margin-block-end: 2.8571429em;
        }

        /* GROUP PROSE / HEADINGS
        =================================================== */

        h1 {
            font-size: 2.15em;
            line-height: 1.2;
            margin-block: 0 0.8rem;
        }

        h2 {
            font-size: 1.5em;
            margin-block: 1.6rem 0.8rem;
            line-height: 1.4;
        }

        h3 {
            font-size: 1.25em;
            margin-block: 1.5em 0.5em;
            line-height: 1.5555556;
        }

        h4 {
            margin-block: 1.5em 0.5em;
            line-height: 1.5;
        }

        /* GROUP PROSE / LISTS
        =================================================== */

        ol, ul {
            margin-block: 1.25em;
            padding-inline-start: 1.5em;

            > li {
                padding-inline-start: 0.4285714em;
            }
        }

        :where(ul, ol) :where(ul, ol) {
            margin-block: 0.5em;
        }

        li {
            margin-block: 0.25em;
        }

        > ul > li {
            p {
                margin-block: 0.5em;
            }
            > p {
                margin-block-start: 1.25em;
                &:first-child {
                    margin-block-start: 1.25em;
                }
                &:last-child {
                    margin-block-end: 1.25em;
                }
            }
        }
        > ol > li {
            > p {
                &:last-child {
                    margin-block-end: 1.25em;
                }
            }
        }

        /* GROUP PROSE / LISTS / DESCRIPTIONS
        =================================================== */

        dd {
            margin-block-start: 0.25em;
            padding-inline-start: 1.5em;
        }

        /* GROUP PROSE / MEDIA
        =================================================== */

        picture, img, video {
            margin-block: 1.75em;
        }

        figure {
            margin-block: 1.75em;
        }

        figcaption {
            font-size: 0.825em;
            line-height: 1.3333333;
            margin-block-start: 0.5em;
        }

        /* GROUP PROSE / CODE
        =================================================== */

        kbd {
            padding: 0.15em 0.35em;
            font-size: 0.825em;
            border-radius: 0.3125rem;
        }

        code {
            font-size: 0.825em;

            h2 & {
                font-size: 0.9em;
            }

            h3 & {
                font-size: 0.875em;
            }
        }

        pre {
            font-size: 0.825em;
            line-height: 1.5em;
            margin-block: 1.5em;
            border-radius: var(--radius-sm);
            padding: 0.5em 1em;
        }

        /* GROUP PROSE / TABLES
        =================================================== */

        table {
            font-size: 0.825em;
            line-height: var(--leading-normal);
        }

        thead th {
            padding-inline: 1em;
        }

        tbody, tfoot {
            td {
                padding: 0.5em 1em;
                &:first-child {
                    padding-inline-start: 0;
                }
            }
        }
    }
}

@utility prose-lg {
    font-size: var(--text-lg);
    line-height: 1.7777778;

    &:not([class~='not-prose'], [class~='not-prose'] *) {

        /* GROUP PROSE / ELEMENTS
        =================================================== */

        [class~='lead'] {
            font-size: 1.25em;
            line-height: 1.5;
            margin-block: 1em;
        }

        blockquote {
            margin-block: 1.5em;
        }

        /* GROUP PROSE / HEADINGS
        =================================================== */

        h1 {
            font-size: 2.5em;
            margin-block: 0 0.75em;
            line-height: 1;
        }

        h2 {
            font-size: 1.5em;
            margin-block: 2em 1em;
            line-height: 1.25;
        }

        h3 {
            font-size: 1.25em;
            margin-block: 1.5em 0.5em;
            line-height: var(--leading-normal);
        }

        h4 {
            margin-block: 1.75em 0.5em;
            line-height: 1.5;
        }

        /* GROUP PROSE / LISTS
        =================================================== */

        ol, ul {
            padding-inline-start: 1.5em;
            > li {
                padding-inline-start: 0.5em;
            }
        }

        :where(ul, ol) :where(ul, ol) {
            margin-block: 0.875em;
        }

        ul > li {
            p {
                margin-block: 0.875em;
            }
        }

        ol > li,
        ul > li {
            > p {
                &:first-child {
                    margin-block-start: 1.25em;
                }
                &:last-child {
                    margin-block-end: 1.25em;
                }
            }
        }

        /* GROUP PROSE / LISTS / DESCRIPTIONS
        =================================================== */

        dd {
            padding-inline-start: 1.5em;
        }

        /* GROUP PROSE / MEDIA
        =================================================== */

        picture, img, video {
            margin-block: 1.75em;
        }

        figure {
            margin-block-end: 1.75em;
        }

        figcaption {
            margin-block-start: 1em;
            line-height: var(--leading-normal);
        }

        /* GROUP PROSE / CODE
        =================================================== */

        kbd {
            padding: 0.25em 0.5em;
        }

        code {
            h3 & {
                font-size: 0.875em;
            }
        }

        pre {
            padding: 1em 1.5em;
            margin-block: 2em;
            line-height: calc(var(--leading-normal) + 0.25);
        }

        /* GROUP PROSE / TABLES
        =================================================== */

        table {
            line-height: var(--leading-normal);
        }

        thead {
            th {
                padding-inline: 0.75em;
                padding-block-end: 0.75em;
            }
        }

        tbody, tfoot {
            td {
                padding: 0.75em;
            }
        }
    }
}