@import 'tailwindcss';
@import 'codemirror/lib/codemirror.css';
@import 'codemirror/theme/material.css';
@import '../resources/css/vendors/codemirror.css';
@import '../resources/css/ui.css';
@import '../resources/css/core/utilities.css';
@import '../resources/css/elements/tables.css';
@import '../resources/css/components/stacks.css';
@custom-variant dark (&:where(.dark, .dark *));

.sbdocs {
    h1:not(.sbdocs-preview *, .sbdocs-preview h1),
    h2:not(.sbdocs-preview *, .sbdocs-preview h2),
    h3:not(.sbdocs-preview *, .sbdocs-preview h3),
    h4:not(.sbdocs-preview *, .sbdocs-preview h4),
    h5:not(.sbdocs-preview *, .sbdocs-preview h5),
    h6:not(.sbdocs-preview *, .sbdocs-preview h6) {
        font-family: p22-mackinac-pro, serif;
        font-weight: 500;
    }

    h1:not(.sbdocs-preview *, .sbdocs-preview h1) {
        font-size: 2.5rem;
    }

    h2:not(.sbdocs-preview *, .sbdocs-preview h2) {
        font-size: 1.75rem;
    }

    h3:not(.sbdocs-preview *, .sbdocs-preview h3) {
        font-size: 1.25rem;
    }

    p:not(.sbdocs-preview *, .sbdocs-preview p),
    li:not(.sbdocs-preview *, .sbdocs-preview li) {
        font-size: 1rem;
        line-height: 1.6;
    }
}

.prismjs {
    font-size: 1rem;
}

.sbdocs.sbdocs-wrapper {
    padding: 2rem 4rem;
}

.dark,
.dark body,
.dark .sbdocs-preview {
    background: var(--theme-color-content-bg);
}

.docs-story div[scale="1"] {
    transform: none !important;
}
