{{ foreach:options as="option|label" }}
    <label>
        <input
            id="{{ id }}-{{ option | slugify }}-option"
            type="radio"
            name="{{ name }}"
            value="{{ option }}"
            {{ if js_driver }}{{ js_attributes }}{{ /if }}
            {{ if value == option }}checked{{ /if }}
            {{ if error }}
                aria-invalid="true" aria-describedby="{{ id }}-error"
            {{ elseif instructions }}
                aria-describedby="{{ id }}-instructions"
            {{ /if }}
        >
        {{ label !== null ? label : option }}
    </label>
    {{ unless inline }}
        <br>
    {{ /unless }}
{{ /foreach:options }}
