{{ foreach:options as="value|label" }}
    <label>
        <input
            type="radio"
            name="{{ handle }}"
            value="{{ value }}"
            {{ if alpine }}x-model="{{ alpine_data_key }}"{{ /if }}
            {{ if old === value }} checked{{ /if }}
            {{ if ! old && value === default }} checked{{ /if }}
            {{ if validate|contains:required }} required{{ /if }}
        >
        {{ label }}
    </label>
    {{ unless inline }}
        <br>
    {{ /unless }}
{{ /foreach:options }}
