<select
    id="{{ id }}"
    name="{{ name }}{{ multiple ?= "[]" }}"
    {{ if js_driver }}{{ js_attributes }}{{ /if }}
    {{ if multiple }}multiple{{ /if }}
    {{ if error }}
        aria-invalid="true" aria-describedby="{{ id }}-error"
    {{ elseif instructions }}
        aria-describedby="{{ id }}-instructions"
    {{ /if }}
>
    {{ unless multiple }}
        <option value>
            {{ if placeholder }}
                {{ placeholder }}
            {{ else }}
                {{ trans key="Please select..." }}
            {{ /if }}
        </option>
    {{ /unless }}
    {{ foreach:options as="option|label" }}
        <option value="{{ option }}"{{ if multiple }}{{ if value|in_array:option }} selected{{ /if }}{{ else }}{{ if option == value }} selected{{ /if }}{{ /if }}>
            {{ label !== null ? label : option }}
        </option>
    {{ /foreach:options }}
</select>
