<select
    name="{{ handle }}{{ multiple ?= "[]" }}"
    {{ if js_driver }}{{ js_attributes }}{{ /if }}
    {{ if multiple }}multiple{{ /if }}
    {{ if validate|contains:required }}required{{ /if }}
>
    {{ unless multiple }}
        <option value>
            {{ if placeholder }}
                {{ placeholder }}
            {{ else }}
                {{ trans key="Please select..." }}
            {{ /if }}
        </option>
    {{ /unless }}
    {{ foreach:options as="value|label" }}
        <option value="{{ value }}"{{ if old|in_array:value or old === value }} selected{{ /if }}{{ if ! old && default === value }} selected{{ /if }}>
            {{ label !== null ? label : value }}
        </option>
    {{ /foreach:options }}
</select>
