name: Lint code style issues

on:
  pull_request:

jobs:
  lint-code-styling:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v46
        with:
          files: |
            **.php

      - name: Check PHP code style issues
        if: steps.changed-files.outputs.any_modified == 'true'
        uses: aglipanci/laravel-pint-action@v2
        with:
          testMode: true
          verboseMode: true
          pintVersion: 1.16.0
